<extend name="@admin:layout"/>
<block name="head"></block>
<block name="content">
    <script type="text/html" id="batchOperate">
        <a class="btn btn-success btn-sm" href="javascript:void(0)" data-url="{:url('set_sort')}" data-confirm="确认要排序吗？">
            <i class="icon icon-sort"></i> 排序
        </a>
    </script>
    <table class="table-striped table-bordered table-hover"
           data-busy-table=""
           data-tree-show-field="name"
           data-show-footer="true"
           data-footer-buttons="#batchOperate"
           data-show-columns="true"
           data-search-type=""
           data-search-align="left"
           data-show-fullscreen="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-height="auto"></table>
</block>
<block name="foot">
    <script>
        function tableSortFormatter(value, data, index, field) {
            return '<input type="text" class="form-control input-xs text-center" value="' + value + '" name="' + field + '[' + data.id + ']"/>';
        }

        function tableIconFormatter(value, data, index, field) {
            return '<i class="icon icon-' + value + '"></i>';
        }

        function tableNameFormatter(value, data, index, field) {
            return value + ' <code>' + data.path + '</code>';
        }

        function tableOperateFormatter(value, data, index, field) {
            return '<a href="' + ('<?=url('edit?id=_ID_')?>').replace('_ID_', data.id) + '">修改</a>';
        }
    </script>
</block>