<extend name="@admin:layout"/>
<block name="head"></block>
<block name="content">
    <table class="table table-striped table-bordered table-hover"
           data-toggle="busy-table"
           data-height="true"
           data-show-columns="true"
           data-show-export="true"
           data-show-print="true"
           data-search="true"
           data-show-refresh="true"
           data-tree-show-field="name"
           data-tree-save-state="{$url.group}{$url.controller}{$url.action}"
           data-pagination="false"
           data-toolbar="#tableToolbar"
           data-url="{$url.self}"
           data-route="true"
           style="min-width: 650px">
        <thead>
            <tr>
                <th width="60" data-align="center" data-field="sort" data-formatter="@">排序</th>
                <th width="60" data-align="center" data-field="id">ID</th>
                <th width="50" data-align="center" data-field="icon" data-formatter="@">图标</th>
                <th data-align="left" data-halign="center" data-field="name" data-searchable="true">菜单名称</th>
                <th width="100" data-align="center" data-field="is_disabled" data-formatter="@">状态</th>
                <th width="100" data-align="center" data-field="is_hide" data-formatter="@">显示</th>
                <th width="80" data-align="center" data-field="operate" data-formatter="@">操作</th>
            </tr>
        </thead>
    </table>

    <div class="hide">
        <div id="tableToolbar">
             <a class="btn btn-success"
                href="javascript:void(0)"
                data-toggle="busy-modal"
                data-size="lg"
                data-ok="添加菜单"
                data-url="{:url('add')}">
                <i class="icon icon-plus"></i>
                 添加菜单
            </a>
            <a class="btn btn-warning"
               href="javascript:void(0)"
               data-url="{:url('set_sort')}"
               data-field="id,sort"
               data-method="post"
               data-on-success="@table.reload"
               data-confirm="确认要排序吗？">
                <i class="icon icon-sort"></i>
                排序
            </a>
        </div>
    </div>

    <script type="text/html" id="sort">
        <input type="text" class="form-control input-xs text-center" data-bind="" value="{{value}}"/>
    </script>

    <script type="text/html" id="icon">
        <i class="icon icon-{{value}}"></i>
    </script>

    <script type="text/html" id="is_disabled">
        {{if item.is_system}}
        <span class="badge badge-default badge-pill">系统菜单</span>
        {{else}}
        <input class="switch input-xs info" type="checkbox" data-url="{:url('set_attr')}" data-on-success="false" data-params='{"id":"{{item.id}}","type":"disabled"}' data-toggle="busy-checkbox" {{value ? '':'checked'}} title="正常,禁用"/>
        {{/if}}
    </script>

    <script type="text/html" id="is_hide">
        {{if item.is_system}}
        <span class="badge badge-default badge-pill">系统菜单</span>
        {{else}}
        <input class="switch input-xs secondary" type="checkbox" data-url="{:url('set_attr')}" data-on-success="false" data-params='{"id":"{{item.id}}","type":"hide"}' data-toggle="busy-checkbox" {{value ? '':'checked'}} title="显示,隐藏"/>
        {{/if}}
    </script>

    <script type="text/html" id="operate">
        <a class="btn btn-success btn-xs"
           data-url="{:url('edit?id=')}{{item.id}}"
           data-toggle="busy-modal"
           data-size="lg"
           data-ok="修改菜单"
           data-form-on-success="@table.reload">
            <i class="icon icon-pencil"></i>
        </a>
        {{if !item.is_system}}
        <a class="btn btn-danger btn-xs" href="{:url('delete?id=')}{{item.id}}" data-toggle="busy-request" data-confirm="确认要删除该菜单吗？" data-on-success="@table.reload"><i class="icon icon-trash"></i></a>
        {{/if}}
    </script>
</block>