<extend name="@admin:layout"/>
<block name="content">
    <div class="form-horizontal">
        <input type="hidden" value="{$info.id|default=''}" name="id"/>
        <div class="form-group">
            <label class="col-sm-2 control-label">父角色组</label>
            <div class="col-sm-9">
                <select class="form-control font-tabs" name="parent_id">
                    <option value="0">顶级角色组</option>
                    {$group_options}
                </select>
                <span class="help-block">选择父角色组，将直接继承父角色组的权限规则</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">角色名称</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="name" value="{$info.name|default=''}" placeholder="请输入角色名称" required/>
                <span class="help-block">设置角色名称，如: 管理部</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label required">角色权限</label>
            <div class="col-sm-9">
                <div class="checkbox-group">
                    <input type="checkbox" class="pill input-sm" data-toggle="busy-checkbox" id="groupAddCheckedAll" title="选中全部"/>
                    <input type="checkbox" class="pill input-sm" data-toggle="busy-checkbox" id="groupAddOpenAll" title="展开全部"/>
                </div>

                <div class="space-10"></div>
                <div id="groupAddTree"
                     data-toggle="busy-tree"
                     data-block="true"
                     data-name="rule[]"
                     data-url="{:url()}"
                     data-params="busyAdmin.data.treeParams"
                     data-checkbox-relation="false"
                     data-checkbox-relation-dir="up,undetermined"
                     data-checkbox="true"></div>
                <eq name="info.system" value="1">
                    <span class="help-block text-info"><i class="fa fa-info-circle"></i> 系统角色无论是否设置角色权限，都将拥有所有权限</span>
                </eq>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label required">默认菜单</label>
            <div class="col-sm-9">
                <select class="form-control" name="default_menu_id" disabled>
                    <option value="0">请先选择角色权限</option>
                </select>
                <span class="help-block">设置默认菜单，用户登录后将默认展开该菜单</span>
            </div>
        </div>

        <div class="form-group no-margin-bottom">
            <label class="col-sm-2 control-label">启用角色</label>
            <div class="col-sm-9">
                <div class="radio">
                    <input type="radio" name="status" value="1" data-toggle="busy-radio" title="启用" <?=is_checked(($info['status'] ?? 0) == 1)?>/>
                    <input type="radio" name="status" value="0" data-toggle="busy-radio" title="禁用" <?=is_checked(($info['status'] ?? 0) == 0)?>/>
                </div>
                <span class="help-block">设置角色状态，禁用后将无法使用该角色</span>
            </div>
        </div>
    </div>
</block>
<block name="foot">
    <script>
        busyAdmin.data.treeParentGroupId = '{$info.parent_id|default=0}';
        busyAdmin.data.defaultMenuId     = '{$info.default_menu_id|default=0}';
        busyAdmin.data.treeParams        = function () {
            return {
                group_id : busyAdmin.data.treeParentGroupId,
                id       : '{$info.id|default=""}'
            }
        };

        busyAdmin.ready(function () {
            var $tree = $('#groupAddTree');
            var $menu = $('[name="default_menu_id"]');

            $('#groupAddCheckedAll').on('change', function () {
                if ($(this).prop('checked')) {
                    $tree.busyAdminTree('check_all');
                } else {
                    $tree.busyAdminTree('uncheck_all');
                }
            });

            $('#groupAddOpenAll').on('change', function () {
                if ($(this).prop('checked')) {
                    $tree.busyAdminTree('open_all');
                } else {
                    $tree.busyAdminTree('close_all');
                }
            });

            $('[name="parent_id"]').on('change', function () {
                busyAdmin.data.treeParentGroupId = $(this).val();
                $tree.busyAdminTree('refresh');
            });

            $tree.on(
                busyAdmin.e.treeReady + ' '
                + busyAdmin.e.treeSelectAll + ' '
                + busyAdmin.e.treeSelectNode + ' '
                + busyAdmin.e.treeDeSelectAll + ' '
                + busyAdmin.e.treeDeSelectNode,
                function (e, api) {
                    var list = api.get_selected(true);
                    list.push.apply(list, api.get_undetermined(true));

                    var options = '';
                    list.map(function (item) {
                        if (item.parent !== '#') {
                            return;
                        }

                        var selected = item.a_attr['data-id'] == busyAdmin.data.defaultMenuId ? ' selected' : '';
                        options += '<option value="' + item.a_attr['data-id'] + '"' + selected + '>' + item.text + '</option>';
                    });

                    if (options) {
                        $menu.prop('disabled', false).html(options);
                    } else {
                        $menu.prop('disabled', true).html('<option value="0">请先选择角色权限</option>');
                    }
                });
        });
    </script>
</block>