<extend name="@admin:layout"/>
<block name="content">
    <div class="form-horizontal">
        <input type="hidden" value="{$info.id|default=''}" name="id"/>
        <div class="form-group">
            <label class="col-sm-2 control-label required">配置名称</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="name" value="{$info.name|default=''}" placeholder="请输入配置名称" required/>
                <div class="help-block">设置配置名称</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label required">配置标识</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="type" value="{$info.type|default=''}" placeholder="请输入配置标识" required <?=is_disabled($info['system'] ?? 0)?>/>
                <div class="help-block">英文字母数字下划线，不能重复</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">全局配置</label>
            <div class="col-sm-9">
                <div class="btn-group"
                     data-toggle="buttons"
                     data-checked-class="btn-primary"
                     data-default-class="btn-default">
                    <label class="btn btn-default">
                        <input name="append" type="radio" value="1" <?=is_checked(($info['append'] ?? 0) == 1)?>/>
                        是
                    </label>
                    <label class="btn btn-default">
                        <input name="append" type="radio" value="0" <?=is_checked(($info['append'] ?? 0) == 0)?>/>
                        否
                    </label>
                </div>
                <div class="help-block">设置后系统会将配置生成到全局配置文件中，开发中可以使用 <code>config('user.配置标识.*')</code> 取值</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">系统配置</label>
            <div class="col-sm-9">
                <div class="btn-group"
                     data-toggle="buttons"
                     data-checked-class="btn-primary"
                     data-default-class="btn-default">
                    <label class="btn btn-default">
                        <input name="system" type="radio" value="1" <?=is_checked(($info['system'] ?? 0) == 1)?> <?=is_disabled($info['system'] ?? 0)?>/>
                        是
                    </label>
                    <label class="btn btn-default">
                        <input name="system" type="radio" value="0" <?=is_checked(($info['system'] ?? 0) == 0)?> <?=is_disabled($info['system'] ?? 0)?>/>
                        否
                    </label>
                </div>
                <div class="help-block">设置为系统配置后不可修改，无法删除</div>
            </div>
        </div>
    </div>
</block>