<extend name="@admin:layout"/>
<block name="head">
    {$extend_template.head}
</block>
<block name="content">
    <form action="__SELF__" method="post" class="form-horizontal" data-toggle="busy-form" data-on-success="@route.reload">
        <div class="panel panel-default  no-margin-bottom">
            <include file="@admin:system/system_manager/nav"/>

            <div class="panel-body">
                <div class="form-group-title">站点信息</div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">网站名称</label>
                    <div class="col-sm-10 col-md-8">
                        <input type="text" class="form-control" name="data[title]" placeholder="请输入网站名称" value="{$info.title|default=''}"/>
                        <div class="help-block">设置网站名称，将显示在浏览器的标签上</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">浏览器图标</label>
                    <div class="col-sm-10 col-md-8">
                        <input type="text" class="form-control" name="data[favicon]" placeholder="请上传网站图标" value="{$info.favicon|default=''}" data-toggle="busy-upload"/>
                        <span class="help-block">
                            建议上传 <code>128x128</code> 的 ico 或 png 图片，可以通过
                            <a href="https://www.bitbug.net/" target="_blank">ICON</a>
                            在线制作 ico 文件
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">公网安备号</label>
                    <div class="col-sm-10 col-md-8">
                        <input type="text" class="form-control" name="data[police_no]" placeholder="请输入公网安备号" value="{$info.police_no|default=''}"/>
                        <span class="help-block">
                            设置公网安备号，可以在
                            <a href="http://www.beian.gov.cn/" target="_blank">全国互联网安全管理服务平台</a>
                            申请或查询获取
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">ICP备案号</label>
                    <div class="col-sm-10 col-md-8">
                        <input type="text" class="form-control" name="data[icp_no]" placeholder="请输入ICP备案号" value="{$info.icp_no|default=''}"/>
                        <span class="help-block">
                            设置ICP备案号，可以在
                            <a href="https://beian.miit.gov.cn/" target="_blank">域名信息备案管理系统</a>
                            申请或查询获取
                        </span>
                    </div>
                </div>
                <div class="form-group no-margin-bottom">
                    <label class="col-sm-2 control-label">版权信息</label>
                    <div class="col-sm-10 col-md-8">
                        <input type="text" class="form-control" name="data[copyright]" placeholder="请输入版权信息" value="{$info.copyright|default=''}"/>
                        <span class="help-block">设置版权信息，如：CopyRight ** 版权所有</span>
                    </div>
                </div>
                {$extend_template.content}
            </div>
            
            <div class="panel-footer text-center">
                <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> 设置</button>
                <button class="btn btn-secondary" type="reset"><i class="fa fa-refresh"></i> 重置</button>
            </div>
        </div>
    </form>
</block>
<block name="foot">
    {$extend_template.foot}
</block>