<extend name="@admin:layout"/>
<block name="content">
    <div class="page-header">
        <h4>{$system.page_title} <small>设置系统动态生成缩图的尺寸及相关配置</small></h4>
    </div>

    <form action="{$url.self}" method="post" class="form-horizontal" data-toggle="busy-form" data-on-success="@route.reload">
        <fieldset class="fieldset white">
            <legend>基本设置</legend>
            <div class="form-group">
                <label class="col-sm-2 control-label">绑定域名</label>
                <div class="col-sm-10 col-md-8">
                    <input type="url" class="form-control" name="data[domain]" value="{$info.domain|default=''}" placeholder="请输入绑定域名"/>
                    <span class="help-block">设置绑定域名，必须包涵<code>http://</code>或<code>https://</code>，不设置将默认使用当前域名</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">填充背景色</label>
                <div class="col-sm-10 col-md-8">
                    <div class="input-group" data-toggle="busy-color-picker">
                        <input type="text" readonly class="form-control" name="data[bg_color]" value="{$info.bg_color|default='#FFFFFF'}" placeholder="请选择填充背景色"/>
                        <div class="input-group-addon"><i></i></div>
                    </div>
                    <span class="help-block">设置填充背景色，当图片上下或左右内容不够时将使用该颜色填充</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">无图变量标识</label>
                <div class="col-sm-10 col-md-8">
                    <input type="text" class="form-control" name="data[empty_image_var]" value="{$info.empty_image_var|default=''}" placeholder="请输入无图变量标识"/>
                    <span class="help-block">设置无图变量标识符号，设置后无图片则会按照该变量标识输出为图片URL，默认为：<code><?=\BusyPHP\file\image\ThumbUrl::EMPTY_IMAGE_VAR;?></code></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">错误占位图</label>
                <div class="col-sm-10 col-md-8">
                    <input type="text" class="form-control" data-toggle="busy-upload" name="data[error_placeholder]" value="{$info.error_placeholder|default=''}" placeholder="上传错误占位图" data-class-type="image" data-class-value="system_img_error_placeholder"/>
                    <span class="help-block">设置错误占位图，当图片不存在或图片显示失败时将使用该图片替代，留空则默认使用<a href="{:url('index')}">基本设置</a>中的错误占位图设置</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">保存到本地</label>
                <div class="col-sm-10 col-md-8">
                    <div class="radio">
                        <input type="radio" name="data[save_local]" data-toggle="busy-radio" value="1" title="是" <?=is_checked(($info['save_local'] ?? 0) == 1)?>/>
                        <input type="radio" name="data[save_local]" data-toggle="busy-radio" value="0" title="否" <?=is_checked(($info['save_local'] ?? 0) == 0)?>/>
                    </div>
                    <span class="help-block">启用后，动态生成的缩图将保存到<code>/public/thumbs/</code>目录下，缩图效率更高效</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">是否加水印</label>
                <div class="col-sm-10 col-md-8">
                    <div class="radio">
                        <input type="radio" name="data[watermark]" data-toggle="busy-radio" value="1" title="是" <?=is_checked(($info['watermark'] ?? 0) == 1)?>/>
                        <input type="radio" name="data[watermark]" data-toggle="busy-radio" value="0" title="否" <?=is_checked(($info['watermark'] ?? 0) == 0)?>/>
                    </div>
                    <span class="help-block">启用后，动态生成的缩图将依据<a href="{:url('watermark')}">水印设置</a>添加水印</span>
                </div>
            </div>
        </fieldset>

        <fieldset class="fieldset white">
            <legend>允许尺寸配置</legend>

            <div class="form-group">
                <label class="col-sm-2 control-label">尺寸白名单</label>
                <div class="col-sm-10 col-md-8">
                    <template id="app">
                        <div>
                            <template v-for="(item, index) in list">
                                <div class="row row-gutters-10">
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <div class="input-group-addon">别名</div>
                                            <input type="text" class="form-control" :name="'data[sizes]['+ index +'][alias]'" :value="item.alias" placeholder="尺寸别名(可空)"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <div class="input-group-addon">宽</div>
                                            <input type="number" class="form-control" :name="'data[sizes]['+ index +'][width]'" :value="item.width" placeholder="宽"/>
                                            <div class="input-group-addon no-border-left no-border-right">高</div>
                                            <input type="number" class="form-control" :name="'data[sizes]['+ index +'][height]'" :value="item.height" placeholder="高"/>
                                            <div class="input-group-btn">
                                                <a class="btn btn-danger" @click="remove(index)"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="space-5"></div>
                            </template>
                            <a class="btn btn-outline-secondary" @click="add"><i class="fa fa-plus"></i> 添加一组白名单</a>
                        </div>
                    </template>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">任意尺寸</label>
                <div class="col-sm-10 col-md-8">
                    <div class="radio">
                        <input type="radio" name="data[unlimited_size]" data-toggle="busy-radio" value="1" title="是" <?=is_checked(($info['unlimited_size'] ?? 0) == 1)?>/>
                        <input type="radio" name="data[unlimited_size]" data-toggle="busy-radio" value="0" title="否" <?=is_checked(($info['unlimited_size'] ?? 0) == 0)?>/>
                    </div>
                    <span class="help-block">启用后，生成缩图将不验证尺寸是否符合尺寸白名单</span>
                </div>
            </div>
        </fieldset>

        <div class="text-center">
            <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> 设置</button>
            <button class="btn btn-secondary" type="reset"><i class="fa fa-refresh"></i> 重置</button>
        </div>
    </form>
</block>
<block name="foot">
    <script>
        busyAdmin.ready(function () {
            busyAdmin.require([busyAdmin.lib.vue], function (Vue) {
                new Vue({
                    el      : '#app',
                    data    : {
                        list : <?=json_encode($info['sizes'] ?? [], JSON_UNESCAPED_UNICODE);?>
                    },
                    methods : {
                        add : function () {
                            this.list.push({});
                        },

                        remove : function (index) {
                            this.list = this.list.del(index);
                        }
                    }
                })
            });
        });
    </script>
</block>