@font-face {
  font-family: "bicon"; /* Project id 2783607 */
  src: url('iconfont.woff2?t=1683381694533') format('woff2'),
       url('iconfont.woff?t=1683381694533') format('woff'),
       url('iconfont.ttf?t=1683381694533') format('truetype');
}

.bicon {
  font-family: "bicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bicon-close:before {
  content: "\e622";
}

.bicon-qq:before {
  content: "\e64d";
}

.bicon-qq-o-s:before {
  content: "\e631";
}

.bicon-qq-l:before {
  content: "\e62c";
}

.bicon-qq-o-l:before {
  content: "\e65f";
}

.bicon-qq-o:before {
  content: "\e887";
}

.bicon-alipay-o-l:before {
  content: "\e64e";
}

.bicon-alipay:before {
  content: "\e634";
}

.bicon-alipay-l:before {
  content: "\e652";
}

.bicon-alipay-o:before {
  content: "\e616";
}

.bicon-wechat:before {
  content: "\e659";
}

.bicon-wechat-l:before {
  content: "\e650";
}

.bicon-wechat-o-s:before {
  content: "\e614";
}

.bicon-wechat-o-l:before {
  content: "\e628";
}

.bicon-wechat-o:before {
  content: "\e615";
}

.bicon-give-mark:before {
  content: "\e642";
}

.bicon-switch:before {
  content: "\e931";
}

.bicon-input-group:before {
  content: "\e613";
}

.bicon-time:before {
  content: "\e612";
}

.bicon-calendar-block:before {
  content: "\e662";
}

.bicon-group:before {
  content: "\e61e";
}

.bicon-group-list:before {
  content: "\e689";
}

.bicon-btn:before {
  content: "\e690";
}

.bicon-btn-group:before {
  content: "\e782";
}

.bicon-fieldset:before {
  content: "\e643";
}

.bicon-tab:before {
  content: "\e611";
}

.bicon-inline:before {
  content: "\e875";
}

.bicon-grid:before {
  content: "\e73a";
}

.bicon-editor:before {
  content: "\e627";
}

.bicon-button:before {
  content: "\ea21";
}

.bicon-text:before {
  content: "\e736";
}

.bicon-radio-group:before {
  content: "\e60a";
}

.bicon-checkbox-group:before {
  content: "\e60f";
}

.bicon-input:before {
  content: "\e692";
}

.bicon-textarea:before {
  content: "\e693";
}

.bicon-counter:before {
  content: "\e606";
}

.bicon-copyright:before {
  content: "\e98b";
}

.bicon-privacy:before {
  content: "\e98c";
}

.bicon-chart-cake:before {
  content: "\e98d";
}

.bicon-prescript:before {
  content: "\e98e";
}

.bicon-check-b:before {
  content: "\e98f";
}

.bicon-invoice:before {
  content: "\e990";
}

.bicon-dcs:before {
  content: "\e991";
}

.bicon-branch:before {
  content: "\e992";
}

.bicon-rich:before {
  content: "\e993";
}

.bicon-factory:before {
  content: "\e994";
}

.bicon-contract:before {
  content: "\e995";
}

.bicon-customhouse:before {
  content: "\e996";
}

.bicon-hash:before {
  content: "\e997";
}

.bicon-code-service:before {
  content: "\e998";
}

.bicon-code-text:before {
  content: "\e999";
}

.bicon-check-risk:before {
  content: "\e99a";
}

.bicon-accurate:before {
  content: "\e99b";
}

.bicon-fast:before {
  content: "\e99c";
}

.bicon-ecology:before {
  content: "\e99d";
}

.bicon-nimble-extend:before {
  content: "\e99f";
}

.bicon-shop-car:before {
  content: "\e9a0";
}

.bicon-wander-about:before {
  content: "\e9a1";
}

.bicon-union-link:before {
  content: "\e9a2";
}

.bicon-store:before {
  content: "\e9a3";
}

.bicon-block:before {
  content: "\e9a4";
}

.bicon-platform:before {
  content: "\e9a5";
}

.bicon-ticket-bill:before {
  content: "\e9a6";
}

.bicon-all-module:before {
  content: "\e9a7";
}

.bicon-euro-o:before {
  content: "\e9a8";
}

.bicon-dollar-o:before {
  content: "\e9a9";
}

.bicon-rbm-o:before {
  content: "\e9aa";
}

.bicon-copper:before {
  content: "\e9ab";
}

.bicon-global-embrace:before {
  content: "\e9ac";
}

.bicon-cloud-up:before {
  content: "\e9ad";
}

.bicon-global:before {
  content: "\e9ae";
}

.bicon-id-card:before {
  content: "\e9af";
}

.bicon-hourglass:before {
  content: "\e9b0";
}

.bicon-chart-cake-space:before {
  content: "\e9b1";
}

.bicon-bar-code:before {
  content: "\e9b2";
}

.bicon-chart-column:before {
  content: "\e9b3";
}

.bicon-trace-source:before {
  content: "\e9b4";
}

.bicon-database:before {
  content: "\e9b5";
}

.bicon-stable:before {
  content: "\e9b6";
}

.bicon-network:before {
  content: "\e9b7";
}

.bicon-credit-card:before {
  content: "\e9b8";
}

.bicon-medkit:before {
  content: "\e9b9";
}

.bicon-hospital:before {
  content: "\e9ba";
}

.bicon-bank-home:before {
  content: "\e9bb";
}

.bicon-id-check:before {
  content: "\e9bd";
}

.bicon-cpu:before {
  content: "\e9be";
}

.bicon-protect:before {
  content: "\e9bf";
}

.bicon-data-monitor:before {
  content: "\e9c0";
}

.bicon-sincerity:before {
  content: "\e9c1";
}

.bicon-seal:before {
  content: "\e9c2";
}

.bicon-penetrate:before {
  content: "\e9c3";
}

.bicon-license:before {
  content: "\e9c4";
}

.bicon-contract-ai:before {
  content: "\e9c5";
}

.bicon-government:before {
  content: "\e9c6";
}

.bicon-trade:before {
  content: "\e605";
}

.bicon-deposit:before {
  content: "\e688";
}

.bicon-refund:before {
  content: "\e604";
}

.bicon-operate:before {
  content: "\e739";
}

.bicon-pay:before {
  content: "\e8fb";
}

.bicon-theme:before {
  content: "\e60d";
}

.bicon-scan-code:before {
  content: "\e88a";
}

.bicon-location:before {
  content: "\e8ec";
}

.bicon-notification:before {
  content: "\e8ed";
}

.bicon-close-o:before {
  content: "\e8ee";
}

.bicon-search:before {
  content: "\e8ef";
}

.bicon-music-player:before {
  content: "\e8f0";
}

.bicon-calendar:before {
  content: "\e8f1";
}

.bicon-pc:before {
  content: "\e8f2";
}

.bicon-power-off:before {
  content: "\e8f3";
}

.bicon-setting-switch:before {
  content: "\e8f4";
}

.bicon-clock:before {
  content: "\e8f5";
}

.bicon-radio-set:before {
  content: "\e8f6";
}

.bicon-camera:before {
  content: "\e8f7";
}

.bicon-projector:before {
  content: "\e8f8";
}

.bicon-platter:before {
  content: "\e8f9";
}

.bicon-success-o:before {
  content: "\e8fa";
}

.bicon-user-manager:before {
  content: "\e696";
}

.bicon-plane:before {
  content: "\e623";
}

.bicon-music:before {
  content: "\e79a";
}

.bicon-train:before {
  content: "\e679";
}

.bicon-plus:before {
  content: "\e624";
}

.bicon-motorcycle:before {
  content: "\e602";
}

.bicon-video:before {
  content: "\e644";
}

.bicon-edit:before {
  content: "\e67f";
}

.bicon-car:before {
  content: "\e621";
}

.bicon-tree:before {
  content: "\e67b";
}

.bicon-clear:before {
  content: "\e65e";
}

.bicon-bus:before {
  content: "\e67d";
}

.bicon-bicycle:before {
  content: "\e603";
}

.bicon-truck:before {
  content: "\e636";
}

.bicon-menu:before {
  content: "\e60e";
}

.bicon-plus-o:before {
  content: "\e63b";
}

.bicon-user-lock:before {
  content: "\e667";
}

.bicon-user-group:before {
  content: "\e609";
}

.bicon-table:before {
  content: "\e639";
}

.bicon-dialog:before {
  content: "\e6b0";
}

.bicon-down-menu:before {
  content: "\e70a";
}

.bicon-trash:before {
  content: "\e60c";
}

.bicon-helmet:before {
  content: "\e6be";
}

.bicon-image-viewer:before {
  content: "\e7dc";
}

.bicon-re-create:before {
  content: "\ee1b";
}

.bicon-color:before {
  content: "\ee22";
}

.bicon-menu-close:before {
  content: "\e67a";
}

.bicon-menu-open:before {
  content: "\eadc";
}

.bicon-exit:before {
  content: "\e666";
}

.bicon-lock:before {
  content: "\e638";
}

.bicon-safe:before {
  content: "\e63c";
}

.bicon-user-profile:before {
  content: "\e678";
}

.bicon-user:before {
  content: "\e62b";
}

.bicon-refresh:before {
  content: "\e60b";
}

.bicon-bell:before {
  content: "\e610";
}

.bicon-wait-handle:before {
  content: "\e63e";
}

.bicon-full-screen:before {
  content: "\e6a2";
}

.bicon-shrink-screen:before {
  content: "\e6a3";
}

.bicon-file:before {
  content: "\eaac";
}

.bicon-folder:before {
  content: "\eac9";
}

.bicon-folder-o:before {
  content: "\eaca";
}

.bicon-file-o:before {
  content: "\eacc";
}

.bicon-folder-open:before {
  content: "\eada";
}

.bicon-folder-open-o:before {
  content: "\eadb";
}

.bicon-list-close:before {
  content: "\e618";
}

.bicon-list-open:before {
  content: "\e619";
}

.bicon-checkbox-undetermined:before {
  content: "\e70f";
}

.bicon-check:before {
  content: "\e626";
}

.bicon-radio-no-checked:before {
  content: "\e600";
}

.bicon-radio-checked:before {
  content: "\e601";
}

.bicon-checkbox-checked:before {
  content: "\e608";
}

.bicon-checkbox-no-checked:before {
  content: "\e607";
}

