<extend name="@admin:layout"/>
<block name="content">
    <input type="hidden" value="{$info.id}" name="id"/>
    <div class="form-group">
        <label>新密码</label>
        <input type="password" class="form-control" name="password" id="editPassword" placeholder="请输入新密码" minlength="6" maxlength="20" required/>
        <span class="help-block">设置新的密码，至少<code>6</code>位，最多<code>20</code>位</span>
    </div>
    <div class="form-group no-margin-bottom">
        <label>确认密码</label>
        <input type="password" class="form-control" name="confirm_password" data-rule-equalTo="#editPassword" data-msg-equalTo="两次输入的密码不一致" placeholder="请再次输入新密码"/>
        <span class="help-block">再次输入密码，以确认密码的准确性</span>
    </div>
</block>