<extend name="@admin:layout"/>
<block name="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left"><h3 class="panel-title">{$panel_title}</h3></div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <form action="__SELF__" method="post" class="form-horizontal" data-busy-form="">
                <input type="hidden" value="{$info.id}" name="id"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-10"><p class="form-control-static">{$info.username}</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label must">旧密码</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" name="old_password"/>
                    </div>
                    <div class="col-sm-6"><span class="help-block">请先设置旧密码</span></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label must">新的密码</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" name="password"/>
                    </div>
                    <div class="col-sm-6"><span class="help-block">至少<code>6</code>位，最多<code>20</code>位</span></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label must">确认密码</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" name="confirm_password"/>
                    </div>
                    <div class="col-sm-6"><span class="help-block">再次输入密码</span></div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-primary" value="{$submit_name}"/>
                        <input type="reset" class="btn btn-default" value="重置"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</block>