<extend name="@admin:layout"/>
<block name="content">
    <div class="form-horizontal">
        <input type="hidden" value="{$info.id|default=''}" name="id"/>
        <div class="form-group">
            <label class="col-sm-2 control-label">配置名称</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="name" value="{$info.name|default=''}" placeholder="请输入配置名称" required/>
                <div class="help-block">设置配置名称</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">配置标识</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="type" value="{$info.type|default=''}" placeholder="请输入配置标识" required <?=is_readonly($info['system'] ?? 0)?>/>
                <div class="help-block">英文字母数字下划线，不能重复</div>
            </div>
        </div>

        <div class="form-group no-margin-bottom">
            <label class="col-sm-2 control-label">其它选项</label>
            <div class="col-sm-9">
                <div class="checkbox-group">
                    <input type="checkbox" class="pill" title="加入全局配置" data-toggle="busy-checkbox" value="1" name="append" <?=is_checked(($info['append'] ?? 0) == 1)?>/>
                    <input type="checkbox" class="pill" title="系统配置" data-toggle="busy-checkbox" value="1" name="system" <?=is_checked(($info['system'] ?? 0) == 1)?> <?=is_disabled(($info['system'] ?? 0) == 1)?>/>
                </div>
                <div class="help-block">
                    <div><span class="badge">加入全局配置</span> 设置后系统会将配置生成到全局配置文件中，开发中可以使用 <code>config('user.配置标识.*')</code> 取值</div>
                    <div><span class="badge">系统配置</span> 设置为系统配置后不可修改，系统配置无法删除</div>
                </div>
            </div>
        </div>
    </div>
</block>