<extend name="@admin:layout"/>
<block name="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{$system.page_title}</h3>
        </div>
        <div class="panel-body no-padding-bottom">
            <script type="text/x-markdown" id="markdown">
### 开始

本组件属于内置组件，无需引用即可使用

> `剪切功能暂未开发`

### 使用

通过在标签上加上自定义属性 `data-toggle="busy-copy"` 来触发

```html
<button type="button" data-toggle="busy-copy" data-content="">点击复制</button>
```

### 标签属性

| 属性:240 | 类型:100 | 必须: 100 | 默认值: 100 | 描述 |
| - | :-: | :--: | :-: | - |
| data-content | string | `否` | - | 要复制的内容 |
| data-action | string | 否 | `copy` | 指定操作类型, `copy` 为复制, `cut` 为剪切 `剪切只能作用于 input 或 textarea 标签上` |
| data-target | string,boolean | 否 | - | 设置为 `true` 则复制元素内部，指定要复制的 `jQuery选择器` 则复制对应元素的内容 |

### 使用示例

#### 1. 复制元素的内容
```demo:实例
#demo1
```

#### 2. 复制其它元素内容
```demo:实例
#demo2
```

#### 3. 用属性定义复制内容
```demo:实例
#demo3
```

#### 4. 事件属性
```demo:实例
#demo4
```
#### 5. 事件监听
```demo:实例
#demo5
```

#### 6. 剪切
```demo:实例
#demo6
```
            </script>
        </div>
    </div>

    
    <textarea id="demo1" class="hide">
<p>点击下方输入框进行复制</p>
<input type="text" class="form-control" data-toggle="busy-copy" data-target="true" value="山西函拓科技有限公司 ShanXi Han Tuo Technology Co.,Ltd."/></textarea>

    
    <textarea id="demo2" class="hide">
<p>点击按钮进行复制</p>
<div class="input-group">
    <input type="text" class="form-control" id="demo2Input" value="山西函拓科技有限公司 ShanXi Han Tuo Technology Co.,Ltd."/>
    <div class="input-group-btn"><button class="btn btn-primary" data-toggle="busy-copy" data-target="#demo2Input">点击复制</button></div>
</div></textarea>

    
    <textarea id="demo3" class="hide">
<p>点击按钮进行复制</p>
<button class="btn btn-primary" data-toggle="busy-copy" data-content="山西函拓科技有限公司 ShanXi Han Tuo Technology Co.,Ltd.">点击复制</button></textarea>

    
    <textarea id="demo4" class="hide">
<p>用事件属性改变弹出对话框，请打开控制台观察回调参数</p>
<button class="btn btn-primary" data-toggle="busy-copy" data-content="山西函拓科技有限公司 ShanXi Han Tuo Technology Co.,Ltd." data-on-success="copySuccess" data-on-error="copyError" data-on-decode="copyDecode">点击复制</button>

<script>
    // 复制成功
    window.copySuccess = function (e) {
        console.log('复制成功');

        alert('复制成功');

        return false;
    };

    // 复制失败
    window.copyError = function (e) {
        console.log('复制失败');

        alert('复制失败');

        return false;
    };

    // 复制转义
    window.copyDecode = function (text) {
        console.log('复制的内容', text);

        return text;
    }
</script></textarea>

    <textarea id="demo5" class="hide">
<p>事件监听会优先于事件属性执行，请打开控制台观察回调参数</p>
<button class="btn btn-primary" data-toggle="busy-copy" data-content="山西函拓科技有限公司 ShanXi Han Tuo Technology Co.,Ltd." id="demo5Input">点击复制</button>

<script>
    $(function () {
        // 监听复制成功事件
        $('#demo5Input').on(busyAdmin.e.copySuccess, function (e) {
            console.log('复制成功');
            
            busyAdmin.dialog.alertSuccess('复制成功');
            
            return false;
        });
        
        // 监听复制失败事件
        $('#demo5Input').on(busyAdmin.e.copyError, function (e) {
            console.log('复制失败');
            
            busyAdmin.dialog.alertError('复制失败');
            
            return false;
        });
        
        // 监听复制解析事件
        $('#demo5Input').on(busyAdmin.e.copyDecode, function (text) {
            console.log('解析复制内容', text);
            
            return text;
        });
    });
</script>
    </textarea>

    <textarea id="demo6" class="hide">
<div class="input-group">
    <input type="text" class="form-control" id="demo6Input" value="山西函拓科技有限公司 ShanXi Han Tuo Technology Co.,Ltd."/>
    <div class="input-group-btn"><button class="btn btn-primary" data-toggle="busy-copy" data-action="cut" data-target="#demo6Input">剪切</button></div>
</div></textarea>
</block>