<extend name="@admin:layout"/>
<block name="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{$panel_title}</h3>
        </div>
        <div class="panel-body no-padding-bottom">
            <script type="text/x-markdown" id="markdown">
### 开始

### 使用

通过在标签上加上自定义属性 `data-toggle="busy-high-code"` 来触发

```html
<textarea data-toggle="busy-high-code">
    <div></div>
    <a></a>
</textarea>
```

### 标签属性

| 属性:240 | 类型:100 | 必须: 100 | 默认值: 100 | 描述 |
| - | :-: | :--: | :-: | - |
| data-type | string | `否` | - | 初始化组件属性，指定内容则为对应的语言，指定`auto`或空则自动识别 |

### 使用示例

#### 自动识别
```demo:实例
#demo1
```

#### 指定语言为PHP
```demo:实例
#demo2
```

            </script>
        </div>
    </div>

    <textarea class="hide" id="demo1"><script type="text/html" data-toggle="busy-high-code" data-type="html">
<div>
    <a>测试</a>
</div>
</script></textarea>
    

    <textarea class="hide" id="demo2">
<script type="text/html" data-toggle="busy-high-code" data-type="php">
/**
 * @param $a
 * @param $b
 */
function ($a, $b) {
    return 'OK';
}

$res = new stdClass();
</script>
    </textarea>


</block>