<extend name="@admin:layout"/>
<block name="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{$panel_title}</h3>
        </div>
        <div class="panel-body no-padding-bottom">
            <script type="text/x-markdown" id="markdown">
### 开始

本组件属于内置组件，无需引用即可使用

### 使用

通过在标签上加上自定义属性 `data-busy-dialog` 来触发

```html
<a href="/dialog_page.html" data-busy-dialog="">打开对话框</a>
```

### 标签属性

| 属性:240 | 类型:100 | 必须: 100 | 默认值: 100 | 描述 |
| - | :-: | :--: | :-: | - |
| data-busy-dialog | string | `是` | - | 初始化组件属性，指定对话框请求URL，如果留空则获取当前标签内的`href`属性值 |
| data-type | string | 否 | `form` | 对话框类型，支持以下类型：<br />`form`：表单<br />`page`：页面<br />`list`：列表 |
| data-size | string | 否 | - | 对话框大小，留空则默认大小，支持以下类型：<br />`sm`：小对话框<br />`lg`：大对话框 |
| data-form-method | string | 否 | `post` | 当对话框类型为`form`时指定标签提交请求方式 |
| data-dialog-type | string | 否 | `bootstrap` | 对话框类型，默认为`bootstrap`对话框，支持以下类型：<br />`bootstrap`：bootstrap对话框<br />`layer`：layer对话框 |
| data-ok-class | string | 否 | - | 确定按钮扩展css类名 |
| data-ok-skin | string | 否 | `primary` | 确定按钮风格，支持：`primary`, `warning`, `danger`, `info`, `success`, `default`, `light`, `secondary`, `dark` |
| data-ok-text | string | 否 | `确定` | 确定按钮文本 |
| data-ok-icon | string | 否 | - | 确定按钮图标css类名称，如：`icon icon-check` |
| data-ok-click | string | 否 | - | 确定按钮点击事件，如不指定默认为：<br /> `data-type=form` 为 `submit`事件<br /> `data-type=其他` 为 `close` 事件 |
| data-cancel-class | string | 否 | - | 取消按钮扩展css类名 |
| data-cancel-skin | string | 否 | `default` | 取消按钮风格，支持：`primary`, `warning`, `danger`, `info`, `success`, `default`, `light`, `secondary`, `dark` |
| data-cancel-text | string | 否 | `取消` | 取消按钮文本 |
| data-cancel-icon | string | 否 | - | 取消按钮图标css类名称，如：`icon icon-close` |
| data-cancel-click | string | 否 | - | 取消按钮点击事件，如不指定默认为：`data-type=form` 为 `reset`事件<br /> `data-type=其他` 为 `close` 事件 |


### 标签事件
| 事件                     | 参数                                                         | 返回值  | 描述                                                         |
| ------------------------ | ------------------------------------------------------------ | ------- | ------------------------------------------------------------ |
| busy.admin.form.success  | `result:object` - 返回的数据<br />`type:number` - 数据状态<br />`xhr:object` - jQuery XHR对象 <br />`req:BusyAdminRequest` - 请求对象 | boolean | 对话框类型为`form`有效<br />提交成功回调<br />返回`false`阻止触发系统成功操作 |
| busy.admin.form.error    | `result:object` - 返回的数据<br />`type:number` - 数据状态<br />`xhr:object` - jQuery XHR对象<br />`req:BusyAdminRequest` - 请求对象 | boolean | 对话框类型为`form`有效<br />提交失败回调<br />返回`false`阻止触发系统失败操作 |
| busy.admin.form.complete | `result:object` - 成功的数据<br />`type:number` - 数据状态，`0,成功`、`1,HTTP错误`、`2,数据解析错误`、`3,业务逻辑错误`<br />`xhr:object` - jQuery XHR对象<br />`req:BusyAdminRequest` - 请求对象 | boolean | 对话框类型为`form`有效<br />提交完成回调<br />返回`false`阻止触发成功和失败操作 |
| busy.admin.form.check    | 无                                                           | boolean | 对话框类型为`form`有效<br />提交前表单检测回调<br />返回`false`阻止提交 |

### jQuery扩展

`$.fn.busyAdminDialog(options)`;

```js
$(function(){
    // 初始化
    $('#demo').busyAdminDialog({
    
    });
    
    // 显示对话框
    $('#demo').busyAdminDialog('show');
    
    // 隐藏对话框
    $('#demo').busyAdminDialog('hide');
});
```

### 使用示例

#### 自动识别
```demo:实例
#demo1
```
            </script>
        </div>
    </div>

    <textarea class="hide" id="demo1">
<a class="btn btn-primary" href="{:url('?action=demo1')}" data-busy-dialog="" data-ok-skin="success">打开一个普通大小的对话框</a></textarea>


</block>