<extend name="@admin:layout"/>
<block name="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{$system.page_title}</h3>
        </div>
        <div class="panel-body no-padding-bottom">
            <script type="text/x-markdown" id="markdown">
### 开始

本组件属于内置组件，无需引用即可使用

### 使用

通过在标签上加上自定义属性 `data-toggle="busy-shuttle"` 来触发

```html
<select data-toggle="busy-shuttle" multiple></select>
```

### 属性

| 属性:240 | 类型:100 | 必须: 100 | 默认值: 100 | 描述 |
| - | :-: | :--: | :-: | - |
| 基本属性:title |  |  |  |  |
| data-search | boolean | `否` | `false` | 是否显示搜索框 |
| data-placeholder | string | `否` | `关键词搜索` | 搜索框占位提示 |
| data-height | number | `否` | `320` | 穿梭框高度 |
| data-left-title | string | `否` | `列表1` | 左侧标题 |
| data-right-title | string | `否` | `列表2` | 右侧标题 |
| data-name | string | `否` | - | 穿梭框表单名称 |
| data-list | [object] | `否` | null | 设置数据，参考`list数据结构` |

### `list`数据结构
```json
[
    {
        "id": string, // 选项ID,
        "text": string, // 选项文本,
        "disabled": boolean, // 是否禁用,
        "selected": boolean, // 是否选中,
    }
]
```

### 使用示例

#### 基本示例
```demo:实例
#demo1
```

#### 开启搜索
```demo:实例
#demo2
```
            </script>
        </div>
    </div>

    <textarea id="demo1" class="hide">
<button class="btn btn-primary" id="demo1_btn">获取右侧数据</button>
<div class="space-10"></div>
<select data-toggle="busy-shuttle" id="demo1_select">
    <option value="1">腾讯</option>
    <option value="2">阿里</option>
    <option value="3" selected disabled>百度</option>
    <option value="4">58同城</option>
    <option value="5">赶集网</option>
    <option value="6" selected>网易</option>
    <option value="7">百度新闻</option>
    <option value="8">百度百科</option>
    <option value="9">今日头条</option>
</select>
<script>
    $(function () {
        $('#demo1_btn').on('click', function () {
            busyAdmin.dialog.alert(JSON.stringify($('#demo1_select').busyAdminShuttle('getData')));
        });

        $('#demo1_select').on(busyAdmin.e.shuttleChange, function (e, api, data, fromByLeft) {
            busyAdmin.dialog.alert('来自' + (fromByLeft ? "左边" : "右边") + '的数据：' + JSON.stringify(data));
        });
    });
</script>
    </textarea>

    <textarea id="demo2" class="hide">
<select
        data-toggle="busy-shuttle"
        data-search="true">
    <option value="1">腾讯</option>
    <option value="2">阿里</option>
    <option value="3" selected disabled>百度</option>
    <option value="4">58同城</option>
    <option value="5">赶集网</option>
    <option value="6" selected>网易</option>
    <option value="7">百度新闻</option>
    <option value="8">百度百科</option>
    <option value="9">今日头条</option>
</select>
    </textarea>
</block>