<extend name="@admin:layout"/>
<block name="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{$panel_title}</h3>
        </div>
        <div class="panel-body no-padding-bottom">
            <script type="text/x-markdown" id="markdown">
### 开始

本组件属于内置组件，无需引用即可使用

### 使用

通过在标签上加上自定义属性 `data-toggle="busy-tree"` 来触发

```html
<div data-toggle="busy-tree"></div>
```

### 属性

| 属性:240 | 类型:400 | 必须: 100 | 默认值: 100 | 描述 |
| - | :- | :-: | :-: | - |
| data-dots | boolean | 否 | `true` | 是否显示连线 |
| data-icons | boolean | 否 | `true` | 是否显示图标 |
| data-ellipsis | boolean | 否 | `false` | 内容超出时是否显示省略号 |
| data-stripes | boolean | 否 | `false` | 是否显示隔行换色 |
| data-block | boolean | 否 | `false` | 设置每个节点显示为块级别 |
| data-operate | **Array**<br />设置允许的操作，支持：create_node,rename_node,delete_node,move_node,copy_node,edit <br /><br />**Boolean**<br />`true` 允许所有操作，`false` 拒绝所有操作 <br /><br />**Function(operation:String, node:Object, nodeParent:String, nodePosition:Number, more:?) : Boolean** <br />设置自定义回调，返回`true`允许对应操作，否则阻止对应操作<br /><br />**String**<br />`window全局方法名`，参数同自定义回调一致 | 否 | `false` | 设置是否允许操作 |
| data-animation | false,number | 否 | `200` | 设置动画延时，设为`false`则关闭动画 |
| data-multiple | boolean | 否 | `true` | 设置是否允许多选 |
| data-expand-selected-onload | boolean | 否 | `false` | 设置所有选中节点是否在初始化完成后展开 |
| data-force-text | boolean | 否 | `false` | 是否强制将节点文本转换为纯文本(移除html) |
| data-name | string | 否 | `tree_id[]` | 如果该组件在`form`标签内，可以设置表单参数名称，带有`[]`则提交数组，否则提交按逗号分割的节点ID |
| Ajax:title |  |  |  |  |
| data-url | string | 否 | - | 设置异步请求的URL |
| data-method | string | 否 | `get` | 设置请求方式，支持`get`, `post` |
| data-parent-id-field | string | 否 | `parent_id` | 设置请求下级的时候传上级id的参数名称 |
| Data:title |  |  |  |  |
| data-list | string | 否 | - | 设置初始化的数据，支持html、json格式的数据 |
| 复选框:title |  |  |  |  |
| data-checkbox | boolean | 否 | `false` | 是否启用复选框 |
| data-checkbox-keep-selected-style | boolean | 否 | `false` | 是否保留选中样式 |
| data-checkbox-tie-selection | boolean | 否 | `true` | 设置复选框事件绑定到核心事件触发，还是单独触发 |
| 右键菜单:title |  |  |  |  |
| data-contextmenu | boolean | 否 | `false` | 是否显示右键菜单 |
| data-contextmenu-items | **Function(node:Object) : Object** <br /> 自定义右键菜单回调，参考：https://www.jstree.com/api/#/?f=$.jstree.defaults.contextmenu.items<br /><br />**String**<br />`window全局方法名`，参数同自定义回调一致 | 否 | `false` | 是否显示右键菜单 |

### JSON数据格式

```json
// 通用JSON格式
{
  "id"          : "string" // 节点ID，如果省略，将自动生成
  "text"        : "string" // 节点名称
  "icon"        : "string" // 节点图标，支持字体图标、图片
  "state"       : {
    "opened"    : boolean  // 是否默认打开
    "disabled"  : boolean  // 是否禁用
    "selected"  : boolean  // 是否默认选中
  },
  "children"    : []  // 子节点，格式相同
  "li_attr"     : {}  // 自定义li节点的属性
  "a_attr"      : {}  // 自定义a节点的属性
}


// 无子节点JSON格式
{
  "id"          : "string" // 节点ID，必须
  "parent"      : "string" // 父节点ID，必须
  "text"        : "string" // 节点名称
  "icon"        : "string" // 节点图标，支持字体图标、图片
  "state"       : {
    "opened"    : boolean  // 是否默认打开
    "disabled"  : boolean  // 是否禁用
    "selected"  : boolean  // 是否默认选中
  },
  "li_attr"     : {}  // 自定义li节点的属性
  "a_attr"      : {}  // 自定义a节点的属性
}
```

### 事件

| 事件名:240 | 参数:400 | 返回值:100 | 描述 |
| :- | :- | :--: | - |
| 核心:title | | |  |
| treeInit | `api:Tree` - Tree对象 | `void` | 所有事件绑定后触发 |
| treeLoading | `api:Tree` - Tree对象 | `void` | 加载开始之前触发 |
| treeDestroy | `api:Tree` - Tree对象 | `void` | 销毁前触发 |
| treeLoaded | `api:Tree` - Tree对象 | `void` | 首次加载根节点后触发 |
| treeReady | `api:Tree` - Tree对象 | `void` | 所有节点加载完毕后触发，这里就可以使用方法了 |
| treeLoadNode | `api:Tree` - Tree对象<br />`node:object` - 正在加载的节点<br />`status:boolean` - 节点是否加载成功 | `void` | 加载节点后触发 |
| treeLoadAll | `api:Tree` - Tree对象<br />`node:object` - 递归加载的节点 | `void` | 执行`loadAll`方法后触发 |
| treeRedraw | `api:Tree` - Tree对象<br />`nodes:[string]` - 重绘的节点ID集合 | `void` | 节点重绘后触发 |
| treeInsert | `api:Tree` - Tree对象<br />`nodes:[string]` - 新增的节点ID集合<br />`parent:string` - 父节点ID | `void` | 新增节点后触发 |
| treeBeforeOpen | `api:Tree` - Tree对象<br />`node:object` - 打开的节点 | `void` | 当一个节点即将被打开时触发 |
| treeOpenNode | `api:Tree` - Tree对象<br />`node:object` - 打开的节点 | `void` | 打开节点时触发（如果有动画则不触发） |
| treeAfterOpen | `api:Tree` - Tree对象<br />`node:object` - 打开的节点 | `void` | 当节点打开且动画完成时触发 |
| treeCloseNode | `api:Tree` - Tree对象<br />`node:object` - 关闭的节点 | `void` | 当节点关闭时触发（如果有动画则不触发） |
| treeAfterClose | `api:Tree` - Tree对象<br />`node:object` - 关闭的节点 | `void` | 当节点关闭且动画完成时触发 |
| treeOpenAll | `api:Tree` - Tree对象<br />`node:object` - 节点 | `void` | 执行`openAll`方法后触发 |
| treeEnableNode | `api:Tree` - Tree对象<br />`node:object` - 节点 | `void` | 启用节点时触发 |
| treeDisableNode | `api:Tree` - Tree对象<br />`node:object` - 节点 | `void` | 节点被禁用时触发 |
| hide-node.busy.admin.tree| `api:Tree` - Tree对象<br />`node:object` - 隐藏的节点 | `void` | 节点被隐藏时触发 |
| show-node.busy.admin.tree| `api:Tree` - Tree对象<br />`node:object` - 显示的节点 | `void` | 节点被显示时触发 |
| treeHideAll | `api:Tree` - Tree对象<br />`nodes:[string]` - 所有隐藏节点的 ID | `void` | 所有节点被隐身时触发 |
| treeShowAll | `api:Tree` - Tree对象<br />`nodes:[string]` - 所有显示节点的 ID | `void` | 所有节点被显示时触发 |
| treeClickNode | `api:Tree` - Tree对象<br />`node:object` - 点击的节点<br />`event: object` - 触发调用的原始事件（如果有）（可能是一个空对象） | `void` | 节点被点击时触发 |
| treeHoverNode | `api:Tree` - Tree对象<br />`node:object` - 节点 | `void` | 鼠标悬停节点时触发 |
| treeDeHoverNode | `api:Tree` - Tree对象<br />`node:object` - 节点 | `void` | 鼠标移除悬停节点时触发 |
| treeSelectNode | `api:Tree` - Tree对象<br />`node:object` - 节点<br />`selected:[string]` - 当前选中的ID集合<br />`event:object` - 触发此 select-node 的事件（如果有）| `void` | 选择节点时触发 |
| treeDeSelectNode | `api:Tree` - Tree对象<br />`node:object` - 节点<br />`selected:[string]` - 当前选中的ID集合<br />`event:object` - 触发此 deselect-node 的事件（如果有）| `void` | 取消选择节点时触发 |
| treeChanged | `api:Tree` - Tree对象<br />`node:object` - 节点<br />`action:string` - 导致选择更改的操作<br />`selected:[string]` - 当前选中的ID集合<br />`event:object` - 触发此更改事件的事件（如果有）| `void` | 选择更改时触发 |
| treeSelectAll | `api:Tree` - Tree对象<br />`selected:[string]` - 当前选中的ID集合 | `void` | 选择所有节点时触发 |
| treeDeSelectAll | `api:Tree` - Tree对象<br />`beforeSelected:[string]` - 之前选中的ID集合 <br />`selected:[string]` - 当前选中的ID集合 | `void` | 取消选择所有节点时触发 |
| treeSetState | `api:Tree` - Tree对象 | `void` | 设置树状态后触发 |
| treeRefresh | `api:Tree` - Tree对象 | `void` | 执行`refresh`方法后触发  |
| treeRefreshNode | `api:Tree` - Tree对象<br />`node:object` - 刷新的节点<br />`nodes:[string]` - 重新加载的节点的 ID 数组 | `void` | 节点刷新时触发  |
| treeSetId | `api:Tree` - Tree对象<br />`node:object` - 节点<br />`old:string` - 旧的ID | `void` | 当节点 id 值改变时触发  |
| treeSetText | `api:Tree` - Tree对象<br />`node:object` - 节点<br />`text:string` - 新的值 | `void` | 当节点文本值更改时触发 |
| treeCreateNode | `api:Tree` - Tree对象<br />`node:object` - 节点<br />`parent:string` - 父ID<br />`position:number` - 新节点在父节点中的位置 | `void` | 创建节点时触发 |
| treeRenameNode | `api:Tree` - Tree对象<br />`node:object` - 节点<br />`text:string` - 新名称<br />`old:string` - 旧名称 | `void` | 重命名节点时触发 |
| treeDeleteNode | `api:Tree` - Tree对象<br />`node:object` - 节点<br />`parent:string` - 父ID | `void` | 删除节点时触发 |
| treeMoveNode | `api:Tree` - Tree对象<br />`node:object` - 节点<br />`parent:string` - 父ID<br />`position:number` - 节点在父节点中的位置<br />`old_parent:string` - 节点的旧父节点<br />`oldPosition:number` - 节点的旧位置<br />`isMulti:boolean` - 节点和新的父节点是否属于不同的实例<br />`oldInstance:$.jstree` - 节点来自的实例<br />`newInstance:$.jstree` - 新父级的实例 | `void` | 移动节点时触发 |
| treeCopyNode | `api:Tree` - Tree对象<br />`node:object` - 节点<br />`original:object` - 原始节点<br />`parent:string` - 父ID<br />`position:number` - 节点在父节点中的位置<br />`oldParent:string` - 节点的旧父节点<br />`oldPosition:number` - 节点的旧位置<br />`isMulti:boolean` - 节点和新的父节点是否属于不同的实例<br />`oldInstance:$.jstree` - 节点来自的实例<br />`newInstance:$.jstree` - 新父级的实例 | `void` | 当节点被复制时触发 |
| treeCut | `api:Tree` - Tree对象<br />`node:object` - 节点 | `void` | 当节点被添加到缓冲区进行移动时触发 |
| treeCopy | `api:Tree` - Tree对象<br />`node:object` - 节点 | `void` | 当节点被添加到缓冲区进行复制时触发 |
| treePaste | `api:Tree` - Tree对象<br />`parent:string` - 父节点ID<br />`node:[]` - 缓冲区中的节点<br />`mode:string` - 执行的操作 - "copy-node" 或 "move-node" | `void` | 调用 `paste`方法 时触发 |
| treeClearBuffer | `api:Tree` - Tree对象| `void` | 当复制/剪切缓冲区被清除时触发 |
| 复选框:title | | |  |
| treeDisableCheckbox | `api:Tree` - Tree对象 <br /> `node:object` - 节点 | `void` | 当节点的复选框被禁用时触发 |
| treeEnableCheckbox | `api:Tree` - Tree对象 <br /> `node:object` - 节点 | `void` | 当节点的复选框被禁用时触发 |
| treeCheckNode | `api:Tree` - Tree对象<br />`node:object` - 节点<br />`selected:[string]` - 当前选中的ID集合<br />`event:object` - 触发此 check-node 的事件（如果有） | `void` | 选中节点时触发（仅当复选框设置中的 checkboxTieSelection 为 false 时）|
| treeUnCheckNode | `api:Tree` - Tree对象<br />`node:object` - 节点<br />`selected:[string]` - 当前选中的ID集合<br />`event:object` - 触发此 uncheck-node 的事件（如果有） | `void` | 取消选中节点时触发（仅当复选框设置中的 checkboxTieSelection 为 false 时） |
| treeCheckAll | `api:Tree` - Tree对象<br />`selected:[string]` - 当前选中的ID集合 | `void` | 选中所有节点时（仅当复选框设置中的 checkboxTieSelection 为 false 时） |
| treeUnCheckAll | `api:Tree` - Tree对象<br />`beforeSelected:[string]` - 之前选中的ID集合 <br />`selected:[string]` - 当前选中的ID集合 | `void` | 取消选中所有节点时（仅当复选框设置中的 checkboxTieSelection 为 false 时） |

### 使用示例

#### 基本演示

```demo:实例
#demo1
```

#### 异步演示
```demo:实例
#demo2
```

#### JSON演示
```demo:实例
#demo3
```

#### 表单获取
```demo:实例
#demo4
```
            </script>
        </div>
    </div>

    <template class="hide" id="demo1">
        <button class="btn btn-primary" id="demo1_btn1">获取选中值</button>
        <button class="btn btn-primary" id="demo1_btn2">全选</button>
        <button class="btn btn-primary" id="demo1_btn3">取消全选</button>
        <button class="btn btn-primary" id="demo1_btn4">选中指定节点</button>
        <button class="btn btn-primary" id="demo1_btn5">展开节点</button>
        <button class="btn btn-primary" id="demo1_btn6">关闭节点</button>
        <button class="btn btn-primary" id="demo1_btn7">展开指定节点</button>
        <button class="btn btn-primary" id="demo1_btn8">关闭指定节点</button>
        <button class="btn btn-primary" id="demo1_btn9">隐藏连线</button>
        <button class="btn btn-primary" id="demo1_btn10">显示连线</button>
        <button class="btn btn-primary" id="demo1_btn11">隐藏图标</button>
        <button class="btn btn-primary" id="demo1_btn12">显示图标</button>
        <button class="btn btn-primary" id="demo1_btn13">隐藏复选框</button>
        <button class="btn btn-primary" id="demo1_btn14">显示复选框</button>
        <br/>
        <br/>

        <div data-toggle="busy-tree" id="demo1_tree" data-block="true" data-operate="true" data-contextmenu="true" data-contextmenu-items="customContextMenu" data-checkbox="true" data-expand-selected-onload="true">
            <ul>
                <li disabled="">
                    根节点 1
                    <ul>
                        <li id="demo1_tree_1" data-selected="true">
                            子节点1
                            <ul>
                                <li>子节点1-1</li>
                                <li>子节点2-1</li>
                            </ul>
                        </li>
                        <li>子节点2</li>
                    </ul>
                </li>
                <li data-icon="icon icon-plus">
                    根节点 2
                    <ul>
                        <li data-selected="true">子节点11</li>
                        <li id="demo1_tree_2">子节点22</li>
                    </ul>
                </li>
            </ul>
        </div>

        <script>
            // 自定义菜单
            var customContextMenu = function (node) {
                return {
                    menu1 : {
                        separator_before : false,   // 是否显示上线
                        separator_after  : false,   // 是否显示下线
                        _disabled        : false,   // 是否禁用
                        label            : '菜单1', // 菜单名称
                        icon             : 'icon icon-plus',    // 菜单图标
                        action           : function (api) {     // 菜单点击
                            busyAdmin.dialog.toast('点击了菜单1')
                        }
                    },
                    menu2 : {
                        separator_before : true,
                        label            : '更多',
                        action           : false,
                        submenu          : {
                            menu3 : {
                                label : '菜单3',
                            },
                            menu4 : {
                                label : '菜单4',
                            }
                        }
                    }
                };
            };

            $(function () {
                $('#demo1_tree').on(busyAdmin.e.treeClickNode, function (e, tree, node, event) {
                    busyAdmin.dialog.toast(node.text)
                });

                $('#demo1_btn1').on('click', function () {
                    busyAdmin.dialog.alert(JSON.stringify($('#demo1_tree').busyAdminTree('get_checked')));
                });

                $("#demo1_btn2").on('click', function () {
                    $('#demo1_tree').busyAdminTree('check_all');
                });

                $("#demo1_btn3").on('click', function () {
                    $('#demo1_tree').busyAdminTree('uncheck_all');
                });

                $("#demo1_btn4").on('click', function () {
                    $('#demo1_tree').busyAdminTree('check_node', ['demo1_tree_1', 'demo1_tree_2']);
                });
                $("#demo1_btn5").on('click', function () {
                    $('#demo1_tree').busyAdminTree('open_all');
                });
                $("#demo1_btn6").on('click', function () {
                    $('#demo1_tree').busyAdminTree('close_all');
                });
                $("#demo1_btn7").on('click', function () {
                    $('#demo1_tree').busyAdminTree('open_node', 'demo1_tree_1');
                });
                $("#demo1_btn8").on('click', function () {
                    $('#demo1_tree').busyAdminTree('close_node', 'demo1_tree_1');
                });
                $("#demo1_btn9").on('click', function () {
                    $('#demo1_tree').busyAdminTree('hide_dots');
                });
                $("#demo1_btn10").on('click', function () {
                    $('#demo1_tree').busyAdminTree('show_dots');
                });
                $("#demo1_btn11").on('click', function () {
                    $('#demo1_tree').busyAdminTree('hide_icons');
                });
                $("#demo1_btn12").on('click', function () {
                    $('#demo1_tree').busyAdminTree('show_icons');
                });
                $("#demo1_btn13").on('click', function () {
                    $('#demo1_tree').busyAdminTree('hide_checkboxes');
                });
                $("#demo1_btn14").on('click', function () {
                    $('#demo1_tree').busyAdminTree('show_checkboxes');
                });
            })
        </script>
    </template>

    <template class="hide" id="demo2">
        <div data-toggle="busy-tree" data-checkbox="true" data-url="?action=data" data-method="post"></div>
    </template>

    <template class="hide" id="demo3">
        <div data-toggle="busy-tree" id="demo3_tree" data-checkbox="true" data-list='[{"id":1, "text": "节点1"},{"id":2, "text": "节点2", "children":["节点1-1", "节点1-2"]}]'></div>
    </template>

    <template class="hide" id="demo4">
        <form id="demo4_form">
            请输入内容
            <input type="text" class="form-control" name="name" placeholder="请输入内容"/>
            <br/>
            请选择节点
            <br/>
            <div id="demo4_tree" data-toggle="busy-tree" data-name="tree_id[]" data-checkbox="true" data-list='[{"id":1, "text": "节点1"},{"id":2, "text": "节点2", "children":["节点1-1", "节点1-2"]}]'></div>
            <br/>
            <button type="submit" class="btn btn-primary">提交表单</button>
        </form>
        <script>
            $(function () {
                $('#demo4_form').on('submit', function () {
                    busyAdmin.dialog.alert(JSON.stringify($(this).serializeArray()));

                    return false;
                });
            })
        </script>
    </template>
</block>