<extend name="@admin:layout"/>
<block name="content">
    <div id="searchBar"
         data-toggle="busy-search-bar"
         data-url="{$url.self}"
         data-accurate-show="true"
         data-fields="name:角色名称,id:角色ID">
    </div>


    <table class="table table-bordered table-striped table-hover"
           data-toggle="busy-table"
           data-search="#searchBar"
           data-show-columns="true"
           data-show-print="true"
           data-show-refresh="true"
           data-show-export="true"
           data-show-fullscreen="true"
           data-toolbar="#tableToolbar"
           data-route="true"
           data-url="{$url.self}"
           data-click-to-select="true"
           data-fixed-columns="true"
           data-fixed-right-number="1"
           data-fixed-number="3"
           data-tree-show-field="name"
           data-state="{$url.controller}{$url.action}"
           data-tree-state="true"
           data-pagination="false"
           data-height="true">
        <thead>
            <tr>
                <th class="text-center" width="40" data-checkbox="true" data-formatter="busyAdmin.data.checkboxState"></th>
                <ba:access value="sort">
                    <th class="text-center" width="60" data-field="sort" data-formatter="@" data-click-to-select="false">
                        排序
                    </th>
                </ba:access>
                <th class="text-center" width="60" data-field="id" data-searchable="false">ID</th>
                <th class="text-center" data-field="name" data-halign="center" data-align="left" data-click-to-select="false" data-formatter="@">
                    角色名称
                </th>
                <ba:access value="change_status">
                    <th class="text-center" width="80" data-field="status" data-align="center" data-formatter="@">
                        状态
                    </th>
                </ba:access>
                <th class="text-center" width="100" data-field="default_menu_name" data-searchable="false">默认菜单</th>
                <th class="text-center" width="120" data-field="operate" data-formatter="@" data-click-to-select="false">
                    操作
                </th>
            </tr>
        </thead>
    </table>


    <div class="hide">
        <div id="tableToolbar">
            <ba:access value="add">
                <a class="btn btn-primary"
                   data-toggle="busy-modal"
                   data-url="{:url('add')}"
                   data-ok="添加角色"
                   data-form-on-success="@table.reload">
                    <i class="fa fa-plus"></i>
                    添加
                </a>
            </ba:access>
            <ba:access value="sort">
                <a class="btn btn-secondary"
                   data-url="{:url('sort')}"
                   data-confirm="确认要排序吗？"
                   data-method="post"
                   data-field="id,sort"
                   data-on-success="@table.reload">
                    <i class="fa fa-sort"></i>
                    排序
                </a>
            </ba:access>
            <ba:access value="delete">
                <a class="btn btn-danger"
                   data-url="{:url('delete')}"
                   data-confirm="确认要删除选中的%s个角色组吗？"
                   data-checked="true"
                   data-disabled="true"
                   data-method="post"
                   data-on-success="@table.reload">
                    <i class="fa fa-trash"></i>
                    删除
                </a>
            </ba:access>
        </div>
    </div>

    <script type="text/html" id="sort">
        <input type="text" class="form-control input-xs text-center" value="{{value}}" data-bind="sort"/>
    </script>

    <script type="text/html" id="name">
        {{value}}

        {{if item.system}}
        <kbd>系统角色</kbd>
        {{/if}}
    </script>

    <script type="text/html" id="status">
        <input type="checkbox" class="switch input-xs success" data-toggle="busy-checkbox" data-url="{:url('change_status?id=')}{{item.id}}" title="启用,禁用" {{value ? 'checked': ''}}/>
    </script>

    <script type="text/html" id="operate">
        <ba:access value="add">
            <a class="btn btn-default btn-xs"
               data-toggle="busy-modal"
               data-url="{:url('add?id=')}{{item.id}}"
               data-ok="添加角色"
               data-form-on-success="@table.reload">
                <i class="fa fa-plus"></i>
                添加
            </a>
        </ba:access>
        <ba:access value="edit">
            <a class="btn btn-primary btn-xs"
               href="{:url('edit?id=')}{{item.id}}"
               data-toggle="busy-modal"
               data-ok="修改角色"
               data-form-on-success="@table.reload"><i class="fa fa-pencil"></i></a>
        </ba:access>
        {{if !item.system}}
        <ba:access value="delete">
            <a class="btn btn-danger btn-xs"
               href="{:url('delete?id=')}{{item.id}}"
               data-toggle="busy-request"
               data-confirm="确认要删除该角色吗？"
               data-on-success="@table.reload"><i class="fa fa-trash"></i></a>
        </ba:access>
        {{/if}}
    </script>
</block>
<block name="foot">
    <script>
        busyAdmin.data.checkboxState = function (value, item, index) {
            if (item.system) {
                return {disabled : true}
            }

            return value;
        };
    </script>
</block>