<extend name="@admin:layout"/>
<block name="content">
    <div class="panel panel-default">
        <include file="system_manager/nav"/>
        <div class="panel-body">
            <form action="__SELF__" method="post" class="form-horizontal" data-toggle="busy-form" data-on-success="@route.reload" id="adminManagerSetting">
                <div class="form-group-title">界面设置</div>

                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">管理面板名称</label>
                    <div class="col-sm-10 col-md-8">
                        <input type="text" class="form-control" name="data[title]" placeholder="请输入管理面板名称" value="{$info.title|default=''}"/>
                        <span class="help-block">设置管理面板名称，将显示在浏览器标签上及管理面板的左上角。</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">管理面板LOGO</label>
                    <div class="col-sm-10 col-md-8">
                        <input class="form-control"
                               data-allow-extensions="jpeg,jpg,png,gif,webp"
                               data-allow-mimetypes="image/*"
                               data-class-value="system_logo_horizontal"
                               data-toggle="busy-upload"
                               name="data[logo_horizontal]"
                               placeholder="请上传管理面板LOGO"
                               title="LOGO"
                               type="text"
                               value="{$info.logo_horizontal|default=''}"/>
                        <span class="help-block">设置管理面板Logo，建议尺寸：<code>420×80像素</code> 设置后将显示在管理面板的左上角，此时管理面板名称将不显示。</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">管理面板图标</label>
                    <div class="col-sm-10 col-md-8">
                        <input class="form-control"
                               data-allow-extensions="jpeg,jpg,png,gif,webp"
                               data-allow-mimetypes="image/*"
                               data-class-value="system_logo_icon"
                               data-toggle="busy-upload"
                               name="data[logo_icon]"
                               placeholder="请上传管理面板图标"
                               title="图标"
                               type="text"
                               value="{$info.logo_icon|default=''}"/>
                        <span class="help-block">设置管理面板图标，建议尺寸：<code>68×68像素</code> 设置后将在管理面板激活迷你菜单的时候的显示，此时管理面板Logo将不显示。</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">登录页背景图</label>
                    <div class="col-sm-10 col-md-8">
                        <input class="form-control"
                               data-allow-extensions="jpeg,jpg,png,gif,webp"
                               data-allow-mimetypes="image/*"
                               data-class-value="system_login_bg"
                               data-toggle="busy-upload"
                               name="data[login_bg]"
                               placeholder="请上传登录页背景图"
                               title="背景"
                               type="text"
                               value="{$info.login_bg|default=''}"/>
                        <span class="help-block">设置管理面板登录页背景图，设置后登录页将显示该背景图。</span>
                    </div>
                </div>

                <div class="form-group-title">安全设置</div>

                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">登录验证码</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="radio">
                            <input name="data[verify]" data-toggle="busy-radio" type="radio" value="1" <?=is_checked(($info['verify'] ?? 0) > 0)?> title="开启"/>
                            <input name="data[verify]" data-toggle="busy-radio" type="radio" value="0" <?=is_checked(($info['verify'] ?? 0) < 1)?> title="关闭"/>
                        </div>
                        <span class="help-block">开启后登录则需要输入 <code>图形验证码</code></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">多设备登录</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="radio">
                            <input name="data[multiple_client]" data-toggle="busy-radio" type="radio" value="1" <?=is_checked(($info['multiple_client'] ?? 0) > 0)?> title="开启"/>
                            <input name="data[multiple_client]" data-toggle="busy-radio" type="radio" value="0" <?=is_checked(($info['multiple_client'] ?? 0) < 1)?> title="关闭"/>
                        </div>
                        <span class="help-block">开启后将允许一个账号同时在多个设备登录，<span class="text-danger">注意切换该模式会造成所有已登录账号重新登录的现象</span>。</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">记住登录</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="input-group">
                            <input type="number" class="form-control" name="data[save_login]" value="{$info.save_login|default='0'}" placeholder="请输入记住登录时长"/>
                            <div class="input-group-addon">天</div>
                        </div>
                        <span class="help-block">设置记住登录的天数，设置后登录页面会显示 <code>记住登录</code> 的功能，如果不想开启此功能，请设为 <code>0</code></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">保持登录</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="input-group">
                            <input type="number" class="form-control" name="data[often]" value="{$info.often|default='0'}"/>
                            <div class="input-group-addon">分钟</div>
                        </div>
                        <span class="help-block">设置用户登录后多少时间内无操作，则退出登录，如果不想开启此功能，请设为 <code>0</code></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">登录错误锁定</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="row row-gutters-10">
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="number" class="form-control" name="data[login_error_minute]" value="{$info.login_error_minute|default='0'}" placeholder="请输入限定分钟数"/>
                                    <div class="input-group-addon">分钟</div>
                                </div>
                                <div class="space-5 visible-xs"></div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="input-group-addon">错误</div>
                                    <input type="number" class="form-control" name="data[login_error_max]" value="{$info.login_error_max|default='0'}" placeholder="请输入错误次数"/>
                                    <div class="input-group-addon">次</div>
                                </div>
                                <div class="space-5 visible-xs"></div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="input-group-addon">锁定</div>
                                    <input type="number" class="form-control" name="data[login_error_lock_minute]" value="{$info.login_error_lock_minute|default='0'}" placeholder="请输入锁定分钟数"/>
                                    <div class="input-group-addon">分钟</div>
                                </div>
                            </div>
                        </div>

                        <span class="help-block">设置在<code>一定时间内</code>连续登录错误出现<code>多少次</code> 则锁定账户 <code>多少分钟</code>，锁定后将无法继续登录。如果不想启用该功能，请将任意一项设为 <code>0</code> 即可</span>
                    </div>
                </div>

                <div class="form-group-title">水印设置</div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">启用面板水印</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="radio">
                            <input name="data[watermark][status]" data-toggle="busy-radio" type="radio" value="1" <?=is_checked(($info['watermark']['status'] ?? 0) > 0)?> title="开启"/>
                            <input name="data[watermark][status]" data-toggle="busy-radio" type="radio" value="0" <?=is_checked(($info['watermark']['status'] ?? 0) < 1)?> title="关闭"/>
                        </div>
                        <span class="help-block">开启后管理界面上将呈现数水印</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">水印样式设置</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="row row-gutters-10">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">宽度</div>
                                    <input type="number" class="form-control" name="data[watermark][width]" value="{$info.watermark.width|default='300'}" placeholder="水印宽度" data-preview-watermark="width"/>
                                </div>
                                <div class="space-5 visible-xs"></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">高度</div>
                                    <input type="number" class="form-control" name="data[watermark][height]" value="{$info.watermark.height|default='150'}" placeholder="水印高度" data-preview-watermark="height"/>
                                </div>
                                <div class="space-5 visible-xs"></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">透明度</div>
                                    <input type="number" step="0.01" min="0.01" max="1" class="form-control" name="data[watermark][alpha]" value="{$info.watermark.alpha|default='0.1'}" placeholder="透明度" data-preview-watermark="alpha"/>
                                </div>
                                <div class="space-5 visible-xs"></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">倾斜角度</div>
                                    <input type="number" min="-180" max="180" class="form-control" name="data[watermark][angle]" value="{$info.watermark.angle|default='-15'}" placeholder="倾斜角度" data-preview-watermark="angle"/>
                                </div>
                            </div>
                        </div>
                        <span class="help-block">设置水印区域大小、透明度、倾斜角度，区域越小水印密度越高</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">水印文字内容</label>
                    <div class="col-sm-10 col-md-8">
                        <textarea class="form-control" name="data[watermark][txt]" placeholder="请输入管理系统名称" data-preview-watermark="txt">{$info.watermark.txt|default=''}</textarea>
                        <span class="help-block">设置水印文字内容，支持变量：<code>当前登录用户名: {username}</code>、<code>当前时间：{time}</code></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">水印时间格式</label>
                    <div class="col-sm-10 col-md-8">
                        <select class="form-control" name="data[watermark][timeFormat]" data-preview-watermark="timeFormat">
                            <option value="YYYY-MM-DD HH:mm:ss" <?=is_selected(($info['watermark']['timeFormat'] ?? '') == 'YYYY-MM-DD HH:mm:ss')?>><?=date('Y-m-d H:i:s')?></option>
                            <option value="YYYY年MM月DD日 HH:mm:ss" <?=is_selected(($info['watermark']['timeFormat'] ?? '') == 'YYYY年MM月DD日 HH:mm:ss')?>><?=date('Y年m月d日 H:i:s')?></option>
                        </select>
                        <span class="help-block">选择时间展示格式</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">水印文字设置</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="row row-gutters-10">
                            <div class="col-sm-4">
                                <div class="input-group" data-toggle="busy-color-picker">
                                    <div class="input-group-addon">颜色</div>
                                    <input type="text" readonly class="form-control" name="data[watermark][color]" value="{$info.watermark.color|default='#000000'}" placeholder="文字颜色" data-preview-watermark="color"/>
                                    <div class="input-group-addon"><i><span class="caret"></span></i></div>
                                </div>
                                <div class="space-5 visible-xs"></div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="input-group-addon">文字大小</div>
                                    <input type="number" class="form-control" name="data[watermark][fontSize]" value="{$info.watermark.fontSize|default='16'}" placeholder="文字大小" data-preview-watermark="fontSize"/>
                                </div>
                                <div class="space-5 visible-xs"></div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="input-group-addon">字体</div>
                                    <input type="text" class="form-control" name="data[watermark][font]" value="{$info.watermark.font|default=''}" placeholder="css字体" data-preview-watermark="font"/>
                                </div>
                            </div>
                        </div>
                        <span class="help-block">设置水印文字的颜色、大小、字体</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">水印文字偏移</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="row row-gutters-10">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">X轴</div>
                                    <input type="number" class="form-control" name="data[watermark][x]" value="{$info.watermark.x|default='0'}" placeholder="X轴" data-preview-watermark="x"/>
                                </div>
                                <div class="space-5 visible-xs"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">Y轴</div>
                                    <input type="number" class="form-control" name="data[watermark][y]" value="{$info.watermark.y|default='60'}" placeholder="Y轴" data-preview-watermark="y"/>
                                </div>
                            </div>
                        </div>
                        <span class="help-block">设置水印文字的偏移</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">水印图片上传</label>
                    <div class="col-sm-10 col-md-8">
                        <input class="form-control"
                               data-allow-extensions="jpeg,jpg,png,gif,webp"
                               data-allow-mimetypes="image/*"
                               data-class-value="system_admin_watermark"
                               data-preview-watermark="image"
                               data-toggle="busy-upload"
                               name="data[watermark][image]"
                               placeholder="上传水印图片"
                               title="水印"
                               type="text"
                               value="{$info.watermark.image|default=''}"/>
                        <span class="help-block">设置水印图片，建议尺寸：<code>100×33像素</code> 设置后将同时显示该图片水印。</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">水印图片样式</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="row row-gutters-10">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">宽度</div>
                                    <input type="number" class="form-control" name="data[watermark][imageWidth]" value="{$info.watermark.imageWidth|default='60'}" placeholder="图片宽度" data-preview-watermark="imageWidth"/>
                                </div>
                                <div class="space-5 visible-xs"></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">高度</div>
                                    <input type="number" class="form-control" name="data[watermark][imageHeight]" value="{$info.watermark.imageHeight|default='20'}" placeholder="图片高度" data-preview-watermark="imageHeight"/>
                                </div>
                                <div class="space-5 visible-xs"></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">X轴</div>
                                    <input type="number" class="form-control" name="data[watermark][imageX]" value="{$info.watermark.imageX|default='100'}" placeholder="X轴" data-preview-watermark="imageX"/>
                                </div>
                                <div class="space-5 visible-xs"></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">Y轴</div>
                                    <input type="number" class="form-control" name="data[watermark][imageY]" value="{$info.watermark.imageY|default='5'}" placeholder="Y轴" data-preview-watermark="imageY"/>
                                </div>
                            </div>
                        </div>
                        <span class="help-block">设置水印的图片大小，偏移</span>
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-outline-secondary" type="button" id="previewWatermark">预览水印</button>
                    <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> 设置</button>
                    <button class="btn btn-secondary" type="reset"><i class="fa fa-refresh"></i> 重置</button>
                </div>
            </form>
            <div class="hidden-xs space-15"></div>
        </div>
    </div>
</block>
<block name="foot">
    <script>
        busyAdmin.ready(function () {
            $('#previewWatermark').on('click', function () {
                var options = {};
                $('#adminManagerSetting').find('[data-preview-watermark]').each(function () {
                    var key   = $(this).attr('data-preview-watermark');
                    var value = $(this).val();
                    if (key == 'txt') {
                        value = value.replace(/\r\n/g, '<br />');
                        value = value.replace(/\n/g, '<br />');
                    }
                    options[key] = value;
                });

                options.status                     = true;
                busyAdmin.config.configs.watermark = options;
                busyAdmin.plugins.Watermark.create(options);
            });

            $('#adminManagerSetting').find(':submit').on('click', function () {
                if (busyAdmin.helper.int($('[name="data[watermark][status]"]:checked').val())) {
                    $('#previewWatermark').trigger('click');
                } else {
                    busyAdmin.config.configs.watermark.status = false;
                    busyAdmin.plugins.Watermark.create({status : false});
                }
            });
        });
    </script>
</block>