<extend name="@admin:layout"/>
<block name="content">
    <title>{$info.name} - {$info.var}</title>
    <div class="form-horizontal">
        <input type="hidden" name="id" value="{$info.id|default='0'}"/>
        <div class="form-group">
            <label class="col-sm-2 control-label">上传格式限制</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="extensions" value="{$info.extensions|default=''}" placeholder="请输入允许的上传格式"/>
                <span class="help-block">设置上传格式限制，多个用英文逗号隔开，如：jpg,png。留空则使用系统默认设置</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">上传大小限制</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input type="text" class="form-control" name="max_size" value="{$info.max_size|default=''}" placeholder="请输入允许的文件大小"/>
                    <div class="input-group-addon">MB</div>
                </div>
                <span class="help-block">设置上传大小限制，留空则使用系统默认设置</span>
            </div>
        </div>
        <div class="form-group {$info.is_image ? '' : 'no-margin-bottom'}">
            <label class="col-sm-2 control-label">Mimetype限制</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="mimetype" value="{$info.mimetype|default=''}" placeholder="请输入允许的mimetype类型"/>
                <span class="help-block">设置允许的mimetype类型，多个用英文逗号分割，支持泛匹配，如：<code>image/*</code>，代表匹配所有的<code>image/</code>开头的类型，不限请留空</span>
            </div>
        </div>
        <eq name="info.is_image" value="1">
            <div class="form-group">
                <label class="col-sm-2 control-label">图片处理样式</label>
                <div class="col-sm-9">
                    <div class="table-responsive no-margin-bottom">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th width="100">图片系统</th>
                                    <th>样式选择</th>
                                </tr>
                            </thead>
                            <tbody>
                                <foreach name="disks" item="vo">
                                    <tr>
                                        <td class="text-vcenter">{$vo.name}</td>
                                        <td>
                                            <select class="form-control input-sm" name="style[{$vo.type}]" data-toggle="busy-select-picker" data-url="{:url('image_style_select?disk=' . $vo['type'])}" data-length="0" data-value="{$info['style'][$vo['type']]|default=''}" data-placeholder="不处理" data-clear="true"></select>
                                        </td>
                                    </tr>
                                </foreach>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </eq>
    </div>
</block>