<extend name="@admin:layout"/>
<block name="content">
    <div class="panel panel-default">
        <include file="system_manager/nav"/>
        <div class="panel-body">
            <table class="table table-hover table-bordered"
                   data-toggle="busy-table"
                   data-pagination="false"
                   data-url="{:url('file_class')}">
                <thead>
                    <tr>
                        <th data-field="name" data-title="名称" data-align="center" width="100"></th>
                        <th data-field="var" data-title="标识" data-align="center" width="100" data-formatter="@">
                            <script type="text/html">
                                <span class="badge badge-primary">{{value}}</span>
                            </script>
                        </th>
                        <th data-field="extensions" data-title="格式限制" data-halign="center" data-align="left" data-formatter="@">
                            <script type="text/html">
                                {{if value}}
                                <div class="text-wrap">{{value}}</div>
                                {{else}}
                                <kbd>继承</kbd>
                                {{/if}}
                            </script>
                        </th>
                        <th data-field="mimetype" data-title="Mime限制" width="150" data-align="center" data-formatter="@">
                            <script type="text/html">
                                <div class="text-wrap">{{value || '-'}}</div>
                            </script>
                        </th>
                        <th data-field="max_size" data-title="大小限制" data-align="center" width="100" data-formatter="@">
                            <script type="text/html">
                                {{if value > 0}}
                                {{value}}MB
                                {{else}}
                                <kbd>继承</kbd>
                                {{/if}}
                            </script>
                        </th>
                        <th data-title="操作" data-align="center" data-formatter="@" width="60">
                            <script type="text/html">
                                <a class="btn btn-success btn-xs"
                                   data-toggle="busy-modal"
                                   data-ok="设置"
                                   data-url="{:url('file_class?action=edit&id=')}{{item.id}}"
                                   data-size="lg"
                                   data-form-on-success="@table.reload|@modal.close">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </script>
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="space-15"></div>
            <div class="text-gray">
                说明：文件分类请通过 <span class="badge">开发模式</span> 创建。
            </div>
        </div>
    </div>
</block>