<extend name="@admin:layout"/>
<block name="content">
    <div class="panel panel-default">
        <include file="system_manager/nav"/>
        <div class="panel-body">
            <div class="hidden-xs space-15"></div>
            <form action="{$url.self}" method="post" class="form-horizontal" data-toggle="busy-form" data-on-success="@app.reload">
                <div class="form-group">
                    <label class="col-sm-2 control-label">默认存储引擎</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="btn-group" data-toggle="buttons">
                            <foreach name="disks" item="vo">
                                <label class="btn btn-outline-primary {$vo['checked'] ? 'active' : ''}">
                                    <input type="radio" name="data[disk]" value="{$vo.type}" <?=is_checked($vo['checked'])?>>
                                    {$vo.name}
                                </label>
                            </foreach>
                        </div>
                        <div class="help-block">
                            <div>设置上传存储引擎：</div>
                            <foreach name="disks" item="vo">
                                <div><span class="badge">{$vo.name}</span> {$vo.desc}</div>
                            </foreach>
                            <div>更多存储引擎可以在 <code>config/filesystem.php</code> 中对 <code>disks</code> 进行配置</div>
                        </div>
                        <foreach name="disks" item="vo">
                            <notempty name="vo.alert">
                                <div class="no-margin-bottom margin-5 no-margin-left no-margin-right alert alert-info disk-config disk-config-{$vo.type} {$vo.checked ? '' : 'hide'}">
                                    {$vo.alert}
                                </div>
                            </notempty>
                        </foreach>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">目录生成方式</label>
                    <div class="col-sm-10 col-md-8">
                        <select class="form-control" name="data[dir_generate_type]">
                            <option value="">不设置目录</option>
                            <optgroup label="日期格式">
                                <option value="Ymd"<?=is_selected(($info['dir_generate_type'] ?? '') == 'Ymd')?>>
                                    年月日
                                </option>
                                <option value="Y/md"<?=is_selected(($info['dir_generate_type'] ?? '') == 'Y/md')?>>
                                    年/月日
                                </option>
                                <option value="Y/m/d"<?=is_selected(($info['dir_generate_type'] ?? '') == 'Y/m/d')?>>
                                    年/月/日
                                </option>
                                <option value="Y/m/d/H"<?=is_selected(($info['dir_generate_type'] ?? '') == 'Y/m/d/H')?>>
                                    年/月/日/时
                                </option>
                                <option value="Y/mdH"<?=is_selected(($info['dir_generate_type'] ?? '') == 'Y/mdH')?>>
                                    年/月日时
                                </option>
                                <option value="YmdH"<?=is_selected(($info['dir_generate_type'] ?? '') == 'YmdH')?>>
                                    年月日时
                                </option>
                            </optgroup>
                            <optgroup label="hash格式">
                                <option value="hash-1"<?=is_selected(($info['dir_generate_type'] ?? '') == 'hash-1')?>>
                                    hash目录1层
                                </option>
                                <option value="hash-2"<?=is_selected(($info['dir_generate_type'] ?? '') == 'hash-2')?>>
                                    hash目录2层
                                </option>
                                <option value="hash-3"<?=is_selected(($info['dir_generate_type'] ?? '') == 'hash-3')?>>
                                    hash目录3层
                                </option>
                            </optgroup>
                        </select>
                        <div class="help-block">
                            设置目录生成规则：
                            <div><span class="badge">日期格式</span> 目录将按照对应的日期格式生成</div>
                            <div><span class="badge">hash格式</span> 对文件进行哈希取值后，取对应的前几个字符做为目录层级</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">远程下载忽略域名</label>
                    <div class="col-sm-10 col-md-8">
                        <textarea class="form-control" rows="4" name="data[remote_ignore_domains]" placeholder="输入远程下载忽略的域名">{$info.remote_ignore_domains|default=''}</textarea>
                        <div class="help-block">设置远程下载忽略的域名，一行一个域名，不加<code>http(s)://</code>，结尾不加<code>/</code></div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">文件上传限制</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="table-responsive no-margin-bottom">
                            <table class="table table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th width="100">客户端</th>
                                        <th>
                                            格式限制
                                            <a data-toggle="popover" data-html="true" data-content="设置允许上传的文件扩展名，多个请用 <code>,</code> 号隔开，如：jpg,png,exe，不限请留空" href="javascript:void(0)" data-trigger="hover" data-placement="top" class="fa fa-question-circle"></a>
                                        </th>
                                        <th width="160">
                                            大小限制
                                            <a data-toggle="popover" data-html="true" data-content="设置最大允许上传的文件大小，不限请填 <code>0</code>" href="javascript:void(0)" data-trigger="hover" data-placement="top" class="fa fa-question-circle"></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="clients" item="vo">
                                        <tr>
                                            <td class="text-vcenter">{$vo.name}</td>
                                            <td>
                                                <input type="text" class="form-control input-sm" name="data[clients][{$vo.dir}][allow_extensions]" value="{$info['clients'][$vo['dir']]['allow_extensions']|default=''}" placeholder="请输入允许上传的文件扩展名"/>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="number" size="0.01" class="form-control input-sm text-center" name="data[clients][{$vo.dir}][max_size]" value="{$info['clients'][$vo['dir']]['max_size']|default='0'}" placeholder="请输入允许上传的文件大小"/>
                                                    <div class="input-group-addon">MB</div>
                                                </div>
                                            </td>
                                        </tr>
                                    </foreach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <foreach name="disks" item="vo">
                    <notempty name="vo.form">
                        <div class="disk-config disk-config-{$vo.type} {$vo.checked ? '' : 'hide'}">
                            <div class="form-group-title">{$vo.name}设置</div>
                            <foreach name="vo.fields" item="item">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label {$item.must ? 'required':''}">{$item.label}</label>
                                    <div class="col-sm-10 col-md-8">
                                        <notempty name="item.type">
                                            <switch name="item.type">
                                                <case value="select">
                                                    <select class="form-control" name="data[disk_config][{$vo.type}][{$item.field}]">
                                                        <option value="">{$item.placeholder}</option>
                                                        <foreach name="item.options" item="option">
                                                            <option value="{$option.value}" <?=is_selected(($info['disk_config'][$vo['type']][$item['field']] ?? '') == $option['value'])?>>
                                                                {$option.text}
                                                            </option>
                                                        </foreach>
                                                    </select>
                                                </case>
                                                <case value="textarea">
                                                    <textarea class="form-control" placeholder="{$item.placeholder}" rows="4" name="data[disk_config][{$vo.type}][{$item.field}]">{$info.disk_config[$vo['type']][$item['field']]|default=''}</textarea>
                                                </case>
                                                <case value="radio">
                                                    <div class="radio">
                                                        <foreach name="item.options" item="option">
                                                            <input type="radio" data-toggle="busy-radio" title="{$option.text}" value="{$option.value}" name="data[disk_config][{$vo.type}][{$item.field}]" <?=is_checked(($info['disk_config'][$vo['type']][$item['field']] ?? '') == $option['value'])?>/>
                                                        </foreach>
                                                    </div>
                                                </case>
                                                <case value="checkbox">
                                                    <div class="checkbox">
                                                        <foreach name="item.options" item="option">
                                                            <input type="checkbox" data-toggle="busy-checkbox" title="{$option.text}" value="{$option.value}" name="data[disk_config][{$vo.type}][{$item.field}][]" <?=is_checked(in_array($option['value'], (array)($info['disk_config'][$vo['type']][$item['field']] ?? [])))?>/>
                                                        </foreach>
                                                    </div>
                                                </case>
                                            </switch>
                                            <else/>
                                            <input type="text" class="form-control" placeholder="{$item.placeholder}" name="data[disk_config][{$vo.type}][{$item.field}]" value="{$info.disk_config[$vo['type']][$item['field']]|default=''}"/>
                                        </notempty>
                                        <div class="help-block">{$item.help}</div>
                                    </div>
                                </div>
                            </foreach>
                        </div>
                    </notempty>
                </foreach>

                <div class="text-center">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> 设置</button>
                    <button class="btn btn-secondary" type="reset"><i class="fa fa-refresh"></i> 重置</button>
                </div>
            </form>
            <div class="hidden-xs space-15"></div>
        </div>
    </div>
</block>
<block name="foot">
    <script>
        busyAdmin.ready(function () {
            $('[name="data[disk]"]').on('change', function () {
                var type = $(this).val();
                $('.disk-config').addClass('hide');
                $('.disk-config-' + type).removeClass('hide');
            });
        });
    </script>
</block>