<extend name="@admin:layout"/>
<block name="content">
    <div class="form-horizontal">
        <input type="hidden" value="{$info.id|default=''}" name="id"/>
        <div class="form-group">
            <label class="col-sm-2 control-label required">分类名称</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="name" value="{$info.name|default=''}" placeholder="请输入分类名称" required/>
                <span class="help-block">设置文件分类的名称，如：轮播图</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">分类标识</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="var" data-rule-enNumLine="true" value="{$info.var|default=''}" placeholder="请输入分类标识" required <?=is_readonly($info['system'] ?? false);?>/>
                <span class="help-block">设置分类标识，英文字母+数字+下划线</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">文件类型</label>
            <div class="col-sm-9">
                <eq name="info.system" value="1">
                    <select class="form-control" disabled>
                        <option value="">请选择文件类型</option>
                        {$info.type_options}
                    </select>
                    <input type="hidden" name="type" value="{$info.type|default=''}"/>
                    <else/>
                    <select class="form-control" name="type" required>
                        <option value="">请选择文件类型</option>
                        {$info.type_options}
                    </select>
                </eq>

                <span class="help-block">选择一个合适的文件类型</span>
            </div>
        </div>

        <div class="form-group no-margin-bottom">
            <label class="col-sm-2 control-label">系统配置</label>
            <div class="col-sm-8">
                <eq name="info.system" value="1">
                    <input type="checkbox" class="pill" data-toggle="busy-checkbox" value="1" title="系统配置" checked disabled/>
                    <else/>
                    <input type="checkbox" class="pill" data-toggle="busy-checkbox" value="1" name="system" title="系统配置" />
                </eq>
                <span class="help-block">设为系统配置后将无法修改<code>文件标识</code>以及<code>文件类型</code></span>
            </div>
        </div>
    </div>
</block>