<extend name="@admin:layout"/>
<block name="content">
    <div id="searchBar"
         data-toggle="busy-search-bar"
         data-url="{$url.self}"
         data-accurate-show="true"
         data-fields="title:操作名称,action:操作路径,username:操作用户,userid:用户ID,content:操作详情">
        <script type="text/html" data-search-id="left">
            <div class="form-group">
                <select class="form-control" name="type">
                    <option value="-1">不限类型</option>
                    {$type_options}
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" name="admin_type">
                    <option value="0">不限来源</option>
                    <option value="1">后台</option>
                    <option value="2">前台</option>
                </select>
            </div>
        </script>
    </div>

    <table class="table"
           data-toggle="busy-table"
           data-search="#searchBar"
           data-show-columns="true"
           data-show-print="true"
           data-show-refresh="true"
           data-show-export="true"
           data-show-fullscreen="true"
           data-toolbar="#tableToolbar"
           data-route="true"
           data-url="{$url.self}"
           data-height="auto">
        <thead>
            <tr>
                <th class="text-center" width="60" data-field="id" data-searchable="false">ID</th>
                <th class="text-center" data-field="title" data-halign="center" data-align="left">操作名称</th>
                <th class="text-center" width="100" data-field="ip" data-formatter="@" data-sortable="true">IP</th>
                <th class="text-center" width="100" data-field="type_name">类型</th>
                <th class="text-center" width="100" data-field="is_admin" data-formatter="@">客户端</th>
                <th class="text-center" width="100" data-field="username">用户</th>
                <th class="text-center" width="80" data-field="userid">用户ID</th>
                <th class="text-center" width="150" data-field="format_create_time">操作时间</th>
                <th class="text-center" width="80" data-field="operate" data-formatter="@">操作</th>
            </tr>
        </thead>
    </table>


    <div class="hide">
        <div id="tableToolbar">
            <a class="btn btn-warning"
               data-url="{:url('clear_logs')}"
               data-confirm="该操作会清理六个月以前的操作记录，确认要清理吗?"><i class="icon icon-trash"></i> 清空操作记录</a>
        </div>
    </div>

    <script type="text/html" id="ip">
        <a href="https://ip.cn/index.php?ip={{value}}" target="_blank">{{value}}</a>
    </script>

    <script type="text/html" id="is_admin">
        {{if value}}
        <span class="label label-primary">后台</span>
        {{else}}
        <span class="label label-success">前台</span>
        {{/if}}
    </script>

    <script type="text/html" id="operate">
        <a class="btn btn-success btn-xs" href="{:url('view_logs?id=')}{{item.id}}" data-toggle="busy-modal" data-type="page" data-title="记录详情"><i class="icon icon-pencil"></i></a>
    </script>
</block>
<block name="foot">
</block>