<extend name="@admin:layout"/>
<block name="content">

    <!--
    <busy-search url="{$url.self}" fields="title:操作名称,action:操作路径,username:操作用户,userid:用户ID,content:操作详情">
        <busy-tpl type="search-left">
            <busy-form-group>
                <select class="form-control" name="static[type]">
                    <option value="-1">不限类型</option>
                    {$type_options}
                </select>
            </busy-form-group>
            <busy-form-group>
                <select class="form-control" name="static[admin_type]">
                    <option value="0">不限来源</option>
                    <option value="1">后台</option>
                    <option value="2">前台</option>
                </select>
            </busy-form-group>
        </busy-tpl>
        <busy-tpl type="search-toolbar">
            <busy-btn url="clear_logs" style="warning" icon="trash-o" data-busy-request="该操作会清理六个月以前的操作记录，确认要清理吗?">
                清空操作记录
            </busy-btn>
        </busy-tpl>
    </busy-search>

-->
    <script type="text/html" id="batchOperate">
        <a class="btn btn-success btn-sm" href="javascript:void(0)" data-url="{:url('set_sort')}" data-confirm="确认要排序吗？">
            <i class="icon icon-sort"></i> 排序
        </a>
    </script>

    <a class="btn btn-success btn-sm" href="javascript:void(0)" data-btn="name" data-click="test1w3" data-url="{:url('set_sort')}" id="aaaaaaa" data-confirm="确认要排序吗？">
        <i class="icon icon-sort"></i> 排序
    </a>

    <table class="table table-bordered table-hover table-striped"
           data-busy-table="html"
           data-height="auto"
           data-show-footer="true"
    >
        <thead>
        <tr>
            <th class="text-center" width="60"
                data-field="id"
                data-falign="left"
                data-searchable="false">ID
            </th>
            <th class="text-center" data-field="name" data-search-type="select" data-search-value="{'a': 'b', 'c': 'd'}">
                操作名称
            </th>
            <th class="text-center" width="100" data-search-type="input" data-search-placeholder="请输入IP">IP</th>
            <th class="text-center" width="100" data-footer-formatter="testaaa" data-footer-html="#aaaaaaa">类型</th>
            <th class="text-center" width="100">操作台</th>
            <th class="text-center" width="100">用户</th>
            <th class="text-center" width="80">用户ID</th>
            <th class="text-center" width="150">操作时间</th>
            <th class="text-center" width="80">操作</th>
        </tr>
        </thead>
        <tbody>
        <empty name="list">
            <tr>
                <td class="empty-info" colspan="10">暂无相关数据</td>
            </tr>
            <else/>
            <foreach name="list" item="vo">
                <tr class="text-center">
                    <td>{$vo.id}</td>
                    <td class="text-left">{$vo.title|default="--"}</td>
                    <td>
                        <a href="https://ip.cn/index.php?ip={$vo.ip|default=''}" target="_blank">{$vo.ip|default="--"}</a>
                    </td>
                    <td>{$vo.type_name|default='--'}</td>
                    <td>
                        <eq name="vo.is_admin" value="1">
                            <span class="label label-primary">后台</span>
                            <else/>
                            <span class="label label-success">前台</span>
                        </eq>
                    </td>
                    <td>{$vo.username|default="--"}</td>
                    <td>{$vo.userid|default="--"}</td>
                    <td>{$vo.format_create_time|default='--'}</td>
                    <td>
                        <a href="{:url('view_logs?id=' . $vo['id'])}" data-busy-dialog="" data-type="page" data-title="记录详情" class="btn btn-xs btn-success">
                            <i class="icon icon-pencil"></i>
                        </a>
                    </td>
                </tr>
            </foreach>
        </empty>
        </tbody>
    </table>
    {$page}
</block>
<block name="foot">
    <script>
        function testaaa(data, value) {
            return value;
        }

        function test1w3() {
            console.log(this, arguments);
        }

        $(function () {
            $('[data-busy-table]').on(busyAdmin.e.tableFooterBtnClick, function () {
                console.log(this, arguments);
                
                return false;
            });
        })
    </script>
</block>