<extend name="@admin:layout"/>
<block name="content">
    <?php
    
    use BusyPHP\app\admin\model\system\logs\SystemLogsField;
    use BusyPHP\helper\AppHelper;
    
    ?>

    <div id="searchBar"
         data-toggle="busy-search-bar"
         data-url="{$url.self}"
         data-accurate-show="true"
         data-fields="<?=SystemLogsField::name()?>:操作名称,<?=SystemLogsField::username()?>:操作用户名,<?=SystemLogsField::userId()?>:操作用户ID">
        <script type="text/html" data-search-id="left">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">时间范围</div>
                    <input type="text" name="time" class="form-control date-ymdhis-range" value="{$time}" placeholder="不限时间范围" data-toggle="busy-date-picker" data-format="YYYY-MM-DD HH:mm:ss" data-range="true" readonly/>
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">操作类型</div>
                    <select class="form-control" name="type">
                        <option value="-1">不限</option>
                        {$type_options}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">客户端</div>
                    <select class="form-control" name="client">
                        <option value="">不限</option>
                        {$client_options}
                        <option value="<?=AppHelper::CLI_CLIENT_KEY;?>"><?=AppHelper::CLI_CLIENT_NAME;?></option>
                    </select>
                </div>
            </div>
        </script>
    </div>

    <table class="table"
           data-toggle="busy-table"
           data-state="__ROUTE__"
           data-search="#searchBar"
           data-show-columns="true"
           data-show-print="true"
           data-show-refresh="true"
           data-show-export="true"
           data-show-fullscreen="true"
           data-toolbar="#tableToolbar"
           data-route="true"
           data-url="{$url.self}"
           data-fixed-columns="true"
           data-fixed-right-number="1"
           data-fixed-number="1"
           data-height="true">
        <thead>
            <tr>
                <th class="text-center" width="60" data-field="id" data-title="ID" data-sortable="true"></th>
                <th class="text-center" data-field="name" data-title="操作名称" data-halign="center" data-align="left"></th>
                <th class="text-center" width="150" data-field="url" data-title="操作地址" data-align="center" data-formatter="@">
                    <script type="text/html">
                        <div class="input-group input-group-xs">
                            <input type="text" readonly class="form-control" value="{{value}}" style="min-width: 100px;"/>
                            <div class="input-group-btn">
                                <a class="btn btn-secondary" data-toggle="busy-copy" data-content="{{value}}"><i class="fa fa-copy"></i></a>
                            </div>
                        </div>
                    </script>
                </th>
                <th class="text-center" width="150" data-field="ip" data-title="IP" data-formatter="@">
                    <script type="text/html">
                        <div class="input-group input-group-xs">
                            <input type="text" readonly class="form-control" value="{{value}}" style="min-width: 100px;"/>
                            <div class="input-group-btn">
                                <a class="btn btn-secondary" data-toggle="busy-copy" data-content="{{value}}"><i class="fa fa-copy"></i></a>
                            </div>
                        </div>
                    </script>
                </th>
                <th class="text-center" width="100" data-field="type_name" data-title="操作类型"></th>
                <th class="text-center" width="100" data-field="client_name" data-title="客户端"></th>
                <th class="text-center" width="100" data-field="username" data-title="用户" data-sortable="true"></th>
                <th class="text-center" width="80" data-field="user_id" data-title="用户ID" data-sortable="true" data-formatter="@">
                    <script type="text/html">
                        <a href="{:url('?field=user_id&word=')}{{value}}">{{value}}</a>
                    </script>
                </th>
                <th class="text-center" width="150" data-field="format_create_time" data-title="操作时间" data-sortable="true"></th>
                <ba:access value="detail">
                    <th class="text-center" width="80" data-title="操作" data-formatter="@">
                        <script type="text/html">
                            <a class="btn btn-success btn-xs" href="{:url('detail?id=')}{{item.<?=SystemLogsField::id();?>}}" data-toggle="busy-modal" data-type="page" data-ok="关闭" data-cancel="false" data-title="记录详情">详情</a>
                        </script>
                    </th>
                </ba:access>
            </tr>
        </thead>
    </table>


    <div class="hide">
        <div id="tableToolbar">
            <ba:access value="clear">
                <a class="btn btn-warning"
                   data-url="{:url('clear')}"
                   data-confirm="该操作会清理六个月以前的操作记录，确认要清理吗?"
                   data-params="false"
                   data-on-success="@table.reload">
                    <i class="fa fa-trash"></i>
                    清理操作记录
                </a>
            </ba:access>
        </div>
    </div>

</block>