<extend name="@admin:layout"/>
<block name="content">
    <div class="form-horizontal">
        <input type="hidden" name="id" value="{$info.id|default=''}"/>
        <div class="form-group">
            <label class="col-sm-2 control-label">上级菜单</label>
            <div class="col-sm-9">
                <input type="text"
                       readonly
                       class="form-control"
                       name="parent_path"
                       placeholder="顶级菜单"
                       value="{$parent_path|default=''}"
                       data-toggle="busy-linkage-picker"
                       data-url="{:url('linkage_picker_data?type=db&hash=' . ($info['hash'] ?? ''))}"
                       data-strict="false"
                       data-clear="true"
                    <?=is_disabled($info['system'])?>
                />
                <span class="help-block">选择所属父菜单</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">菜单名称</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input class="form-control" name="name" value="{$info.name|default=''}" placeholder="请输入菜单名称" required/>
                    <div class="input-group-addon no-border-left">
                        <i class="{$info.icon|default='icon-placeholder'}" id="menuIconShow"></i>
                    </div>
                    <div class="input-group-btn">
                        <input type="hidden" name="icon" id="menuIconInput" value="{$info.icon|default=''}"/>
                        <a class="btn btn-secondary" data-toggle="busy-icon-picker" data-target="#menuIconInput,#menuIconShow">选择图标</a>
                    </div>
                </div>
                <span class="help-block">设置菜单名称，如：<code>文章列表</code>。对于未隐藏的菜单建议一定要选择一个图标</span>
            </div>
        </div>
        <eq name="info.system" value="1">
            <div class="form-group">
                <label class="col-sm-2 control-label">菜单链接</label>
                <div class="col-sm-9">
                    <input class="form-control" disabled value="{$info.path|default=''}"/>
                    <span class="help-block">系统菜单，禁止修改</span>
                </div>
            </div>
            <else/>
            <div class="form-group">
                <label class="col-sm-2 control-label required">菜单链接</label>
                <div class="col-sm-9">
                    <input class="form-control" name="path" placeholder="请输入菜单链接" required data-toggle="busy-autocomplete" data-url="{:url('autocomplete_data')}" data-model-text-field="path" value="{$info.path|default=''}"/>
                    <span class="help-block">设置菜单链接，如：<code>user/index</code>，外部链接必须填写<code>https://</code>或<code>http://</code>前缀</span>
                </div>
            </div>
        </eq>

        <div class="form-group">
            <label class="col-sm-2 control-label">附加参数</label>
            <div class="col-sm-9">
                <input class="form-control" name="params" <?=is_disabled($info['system'])?> placeholder="请输入附加参数" value="{$info.params|default=''}"/>
                <span class="help-block">设置菜单链接附加参数名，系统将通过<code>$_GET</code>方法在关键功能位置进行补齐。如：<code>id,user_id</code></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">打开方式</label>
            <div class="col-sm-9">
                <div class="radio">
                    <foreach name="target_list" key="vo" item="name">
                        <input type="radio" name="target" <?=is_disabled($info['system'])?> value="{$vo}" <?=is_checked($info['target'] == $vo)?> data-toggle="busy-radio" title="{$name}"/>
                    </foreach>
                </div>
                <span class="help-block">设置点击菜单时的页面打开方式</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">节点类型</label>
            <div class="col-sm-9">
                <div class="radio">
                    <input type="radio" name="hide" <?=is_disabled($info['system'])?> value="0" title="菜单节点" <?=is_checked(!$info['hide'])?> data-toggle="busy-radio"/>
                    <input type="radio" name="hide" <?=is_disabled($info['system'])?> value="1" title="权限节点" <?=is_checked($info['hide'])?> data-toggle="busy-radio"/>
                </div>
                <span class="help-block">选择 <code>权限节点</code> 则该菜单不会显示，但会做为权限节点调用</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">启用/禁用</label>
            <div class="col-sm-9">
                <div class="radio">
                    <input type="radio" name="disabled" <?=is_disabled($info['system'])?> value="0" title="启用" <?=is_checked(!$info['disabled'])?> data-toggle="busy-radio"/>
                    <input type="radio" name="disabled" <?=is_disabled($info['system'])?> value="1" title="禁用" <?=is_checked($info['disabled'])?> data-toggle="busy-radio"/>
                </div>
                <span class="help-block">选择 <code>禁用</code> 则该菜单将无法正常使用</span>
            </div>
        </div>
        <div class="form-group no-margin-bottom" id="topPath">
            <label class="col-sm-2 control-label">访问链接</label>
            <div class="col-sm-9">
                <input class="form-control" name="top_path" <?=is_disabled($info['system'])?> placeholder="请输入访问链接" data-toggle="busy-autocomplete" data-url="{:url('autocomplete_data')}" data-model-text-field="path" value="{$info.top_path|default=''}"/>
                <span class="help-block">设置顶级菜单访问链接，设置后点击顶级菜单将默认访问该链接</span>
            </div>
        </div>
    </div>
</block>
<block name="foot">
    <script>
        busyAdmin.ready(function () {
            var $parentPath = $('[name="parent_path"]');
            var $topPath    = $('#topPath');
            $parentPath.on('change', function () {
                if (!$(this).val()) {
                    $topPath.show();
                } else {
                    $topPath.hide();
                }
            }).trigger('change');
        });
    </script>
</block>