<extend name="@admin:layout"/>
<block name="head"></block>
<block name="content">
    <?php
    
    use BusyPHP\app\admin\model\system\menu\SystemMenuField;
    
    ?>
    <table class="table table-striped table-bordered table-hover"
           data-toggle="busy-table"
           data-height="true"
           data-show-columns="true"
           data-search="true"
           data-show-refresh="true"
           data-show-print="true"
           data-tree-show-field="name"
           data-parent-id-field="<?=SystemMenuField::parentHash();?>"
           data-id-field="<?=SystemMenuField::hash();?>"
           data-root-parent-id=""
           data-state="__ROUTE__"
           data-tree-state="true"
           data-pagination="false"
           data-toolbar="#tableToolbar"
           data-url="{$url.self}"
           data-fixed-columns="true"
           data-fixed-right-number="1"
           data-fixed-number="2"
           data-route="true">
        <thead>
            <tr>
                <th class="text-center" width="40" data-checkbox="true" data-print-ignore="true" data-formatter="busyAdmin.data.checkboxState"></th>
                <th width="60" data-align="center" data-field="sort" data-title="排序" data-formatter="@">
                    <script type="text/html">
                        {{if is_print}}
                        {{value}}
                        {{else}}
                        <input type="text" class="form-control input-xs text-center" data-bind="" value="{{value}}"/>
                        {{/if}}
                    </script>
                </th>
                <th width="60" data-align="center" data-field="id" data-title="ID"></th>
                <th width="50" data-align="center" data-field="icon" data-print-ignore="true" data-title="图标" data-formatter="@">
                    <script type="text/html">
                        <i class="{{value || 'icon-placeholder'}}"></i>
                    </script>
                </th>
                <th data-align="left" data-halign="center" data-field="name" data-title="菜单名称" data-formatter="@" data-searchable="true">
                    <script type="text/html">
                        {{value}} <code>{{item.path}}</code>
                    </script>
                </th>
                <th width="100" data-align="center" data-field="disabled" data-title="状态" data-formatter="@">
                    <script type="text/html">
                        <div class="min-width-80">
                            {{if item.system}}
                            <kbd>系统菜单</kbd>
                            {{else}}
                            {{if is_print}}
                            {{value ?'禁用':'启用'}}
                            {{else}}
                            <input class="switch input-xs success" type="checkbox" data-url="{:url('set_attr')}" data-on-success="false" data-params='{"id":"{{item.id}}","type":"disabled"}' data-toggle="busy-checkbox" {{value ?'':'checked'}} title="启用,禁用"/>
                            {{/if}}
                            {{/if}}
                        </div>
                    </script>
                </th>
                <th width="100" data-align="center" data-field="hide" data-title="节点类型" data-formatter="@">
                    <script type="text/html">
                        <div class="min-width-80">
                            {{if item.system}}
                            {{if value}}
                            <span class="badge badge-success badge-pill">&nbsp;权限&nbsp;</span>
                            {{else}}
                            <span class="badge badge-primary badge-pill">&nbsp;菜单&nbsp;</span>
                            {{/if}}
                            {{else}}
                            {{if is_print}}
                            {{value ?'权限':'菜单'}}
                            {{else}}
                            <input class="switch input-xs primary" type="checkbox" data-url="{:url('set_attr')}" data-on-success="false" data-params='{"id":"{{item.id}}","type":"hide"}' data-toggle="busy-checkbox" {{value ?'':'checked'}} title="菜单,权限"/>
                            {{/if}}
                            {{/if}}
                        </div>
                    </script>
                </th>
                <th width="130" data-align="center" data-title="操作" data-print-ignore="true" data-formatter="@">
                    <script type="text/html">
                        <a class="btn btn-default btn-xs"
                           data-url="{:url('add?id=')}{{item.id}}"
                           data-toggle="busy-modal"
                           data-size="lg"
                           data-ok="添加菜单"
                           data-form-on-success="@table.reload|@app.loadInfo">
                            <i class="fa fa-plus"></i>
                            添加
                        </a>

                        <a class="btn btn-success btn-xs"
                           data-url="{:url('edit?id=')}{{item.id}}"
                           data-toggle="busy-modal"
                           data-size="lg"
                           data-ok="修改菜单"
                           data-form-on-success="@table.reload|@app.loadInfo">
                            <i class="fa fa-pencil"></i>
                        </a>
                        {{if !item.system}}
                        <a class="btn btn-danger btn-xs" href="{:url('delete?id=')}{{item.id}}" data-toggle="busy-request" data-confirm="确认要删除该菜单吗？" data-on-success="@table.reload|@app.loadInfo"><i class="fa fa-trash"></i></a>
                        {{/if}}
                    </script>
                </th>
            </tr>
        </thead>
    </table>

    <div class="hide">
        <div id="tableToolbar">
            <a class="btn btn-success"
               href="javascript:void(0)"
               data-toggle="busy-modal"
               data-size="lg"
               data-ok="添加菜单"
               data-url="{:url('add')}"
               data-form-on-success="@table.reload|@app.loadInfo">
                <i class="fa fa-plus"></i>
                添加
            </a>

            <a class="btn btn-danger"
               data-url="{:url('delete')}"
               data-confirm="确认要删除选中的%s个菜单吗？"
               data-checked="true"
               data-disabled="true"
               data-method="post"
               data-on-success="@table.reload">
                <i class="fa fa-trash"></i>
                删除
            </a>

            <a class="btn btn-default"
               href="javascript:void(0)"
               data-url="{:url('sort')}"
               data-field="id,sort"
               data-method="post"
               data-on-success="@table.reload|@app.loadInfo"
               data-confirm="确认要排序吗？">
                <i class="fa fa-sort"></i>
                排序
            </a>
        </div>
    </div>
</block>
<block name="foot">
    <script>
        busyAdmin.data.checkboxState = function (value, item, index) {
            if (item.system) {
                return {disabled : true}
            }

            return value;
        };
    </script>
</block>