@charset "UTF-8";
/*!!config{"name":"淘宝橙-暗","header":"#ff5000","brand":"#d94602","nav":"#2b2521","content":"#f6f3f6","sort":12}!!*/
a {
  color: #ff5000;
}

a:hover, a:focus {
  color: #d94602;
}

.bg-primary {
  background-color: #ff5000;
}

.border-primary {
  border-color: #ff5000 !important;
}

.dropdown-menu .active a, .dropdown-menu .active a:focus, .dropdown-menu .active a:hover {
  background: #ff5000;
}

.busy-admin-icon-picker .tab-content a.active {
  background-color: #ff5000;
  border-color: #ff5000;
}

.text-primary {
  color: #ff5000;
}

html, body, [data-busy-id=app] {
  min-height: 100%;
  background-color: #f6f3f6;
}

.busy-admin-header {
  background-color: #ff5000;
}

.busy-admin-header .navbar-header {
  background-color: #d94602;
}

.busy-admin-header .navbar-nav > li.active > a,
.busy-admin-header .navbar-nav > li.active > a:focus,
.busy-admin-header .navbar-nav > li.active > a:hover,
.busy-admin-header .navbar-nav > li.active > a:active,
.busy-admin-header .navbar-nav > li.dropdown.open > a,
.busy-admin-header .navbar-nav > li.dropdown.open > a:focus,
.busy-admin-header .navbar-nav > li.dropdown.open > a:hover,
.busy-admin-header .navbar-nav > li.dropdown.open > a:active {
  background-color: #d94602;
  border-color: #d94602;
}

.busy-admin-menu .left-arrow, .busy-admin-menu .right-arrow {
  background-color: #ff5000;
}

.busy-admin-menu .left-arrow:not(.disabled):hover, .busy-admin-menu .right-arrow:not(.disabled):hover {
  background-color: #d94602;
}

.busy-theme-list input:checked + label {
  border-color: #ff5000;
  box-shadow: 0 0 0 0.2em rgba(255, 80, 0, 0.5);
}

.busy-admin-left {
  background: #2b2521;
  border-color: #2b2521;
}

.busy-admin-nav a {
  color: #d5ccc7;
}
.busy-admin-nav a:hover {
  background: #312c28;
  background-color: rgba(255, 255, 255, 0.03);
}
.busy-admin-nav-li-1 li.opened {
  background: #322e2a;
  background-color: rgba(255, 255, 255, 0.04);
}
.busy-admin-nav-li-1 li.opened a:hover {
  background: #3e3936;
  background-color: rgba(255, 255, 255, 0.06);
}
@media (max-width: 767px) {
  .busy-admin-nav li.opened {
    background: #322e2a;
    background-color: rgba(255, 255, 255, 0.04);
  }
  .busy-admin-nav li.opened a:hover {
    background: #3e3936;
    background-color: rgba(255, 255, 255, 0.06);
  }
}

.busy-admin-nav li.active:not(.opened) > a,
.busy-admin-nav a.active {
  background-color: #ff5000;
  color: #FFF;
  border-color: #ee4d02;
}
.busy-admin-nav li.active:not(.opened) > a:hover,
.busy-admin-nav a.active:hover {
  background-color: #ee4d02 !important;
}

.busy-admin-mini-nav .busy-admin-left:not(.busy-admin-left-open) .busy-admin-nav-li-2.active {
  background-color: #ff5000;
}

.btn-primary, .busy-admin-dialog.layui-layer .layui-layer-btn .btn-primary {
  background-color: #ff5000;
  border-color: #ff5000;
}

.btn-primary:hover, .busy-admin-dialog.layui-layer .layui-layer-btn .btn-primary:hover, .btn-primary.focus, .open > .dropdown-toggle.btn-primary, .busy-admin-dialog.layui-layer .layui-layer-btn .open > .dropdown-toggle.btn-primary, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover, .busy-admin-dialog.layui-layer .layui-layer-btn .focus.btn-primary, .btn-primary:focus, .busy-admin-dialog.layui-layer .layui-layer-btn .btn-primary:focus {
  background-color: #ee4d02;
  border-color: #d94602;
}

.btn-primary:active, .busy-admin-dialog.layui-layer .layui-layer-btn .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary, .busy-admin-dialog.layui-layer .layui-layer-btn .open > .dropdown-toggle.btn-primary, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover, .busy-admin-dialog.layui-layer .layui-layer-btn .active.btn-primary, .btn-primary:active:focus, .busy-admin-dialog.layui-layer .layui-layer-btn .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .busy-admin-dialog.layui-layer .layui-layer-btn .open > .dropdown-toggle.btn-primary:focus, .busy-admin-dialog.layui-layer .layui-layer-btn .active.btn-primary:focus {
  background-color: #d94602;
  border-color: #c74102;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
  background-color: #d94602;
  border-color: #c74102;
}

.btn-primary.focus, .open > .dropdown-toggle.btn-primary, .busy-admin-dialog.layui-layer .layui-layer-btn .open > .dropdown-toggle.btn-primary, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover, .busy-admin-dialog.layui-layer .layui-layer-btn .focus.btn-primary, .btn-primary:focus, .busy-admin-dialog.layui-layer .layui-layer-btn .btn-primary:focus, .btn-primary:active:focus, .busy-admin-dialog.layui-layer .layui-layer-btn .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .busy-admin-dialog.layui-layer .layui-layer-btn .open > .dropdown-toggle.btn-primary:focus, .busy-admin-dialog.layui-layer .layui-layer-btn .active.btn-primary:focus {
  box-shadow: 0 0 0 0.2em rgba(255, 80, 0, 0.2);
}

.btn-primary.disabled, .busy-admin-dialog.layui-layer .layui-layer-btn .disabled.btn-primary, .btn-primary[disabled], .busy-admin-dialog.layui-layer .layui-layer-btn .btn-primary[disabled], .btn-primary.focus[disabled], .open > .dropdown-toggle.btn-primary[disabled], .busy-admin-dialog.layui-layer .layui-layer-btn .open > .dropdown-toggle.btn-primary[disabled], .busy-admin-dialog.layui-layer .layui-layer-btn .focus.btn-primary[disabled], .btn-primary:focus[disabled], .busy-admin-dialog.layui-layer .layui-layer-btn .btn-primary:focus[disabled], .btn-primary.hover[disabled], .busy-admin-dialog.layui-layer .layui-layer-btn .hover.btn-primary[disabled], .btn-primary:hover[disabled], .busy-admin-dialog.layui-layer .layui-layer-btn .btn-primary:hover[disabled], .btn-primary.active[disabled], .open > .dropdown-toggle.btn-primary[disabled], .busy-admin-dialog.layui-layer .layui-layer-btn .open > .dropdown-toggle.btn-primary[disabled], .busy-admin-dialog.layui-layer .layui-layer-btn .active.btn-primary[disabled], .btn-primary:active[disabled], .busy-admin-dialog.layui-layer .layui-layer-btn .btn-primary:active[disabled] {
  background-color: #ff5000 !important;
  border-color: #ff5000 !important;
}

.btn-outline-primary {
  border-color: #ff5000;
  color: #ff5000;
}

.btn-outline-primary:hover, .btn-outline-primary:hover:focus {
  background-color: #ee4d02;
  border-color: #d94602;
}

.btn-outline-primary:active, .btn-outline-primary.active, .open > .dropdown-toggle.btn-outline-primary, .open > .dropdown-toggle.btn-outline-primary:focus, .open > .dropdown-toggle.btn-outline-primary:hover, .btn-outline-primary.focus:active, .open > .dropdown-toggle.btn-outline-primary:active, .btn-outline-primary:focus:active {
  background-color: #d94602;
  border-color: #c74102;
}

.btn-outline-primary.disabled, .btn-outline-primary[disabled], .btn-outline-primary.focus[disabled], .btn-outline-primary:focus[disabled], .btn-outline-primary.hover[disabled], .btn-outline-primary:hover[disabled], .btn-outline-primary.active[disabled], .btn-outline-primary:active[disabled] {
  border-color: #ff5000 !important;
  color: #ff5000 !important;
  background-color: transparent !important;
}

.btn-outline-primary.focus, .open > .dropdown-toggle.btn-outline-primary, .open > .dropdown-toggle.btn-outline-primary:focus, .open > .dropdown-toggle.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .open > .dropdown-toggle.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2em rgba(255, 80, 0, 0.2);
}

.btn-link {
  color: #ff5000;
}

.btn-link:focus, .btn-link:hover {
  color: #ff5000;
}

.btn-link:focus, .btn-link.focus, .btn-link:active {
  box-shadow: 0 0 0 0.2em rgba(255, 80, 0, 0.5) !important;
}

.form-control:focus {
  border-color: rgba(255, 80, 0, 0.5);
  box-shadow: 0 0 0 0.2em rgba(255, 80, 0, 0.2);
}

.badge-primary, .label-primary {
  background-color: #ff5000;
  border-color: #ff5000;
}

.badge-outline-primary, .label-outline-primary {
  background-color: transparent;
  border-color: #ff5000;
  color: #ff5000;
}

.btn-primary .badge, .busy-admin-dialog.layui-layer .layui-layer-btn .btn-primary .badge {
  color: #ff5000;
}

.alert-primary {
  background-color: #f8eeea;
  border-color: #e5cfc6;
  color: #ff5000;
}

.alert-primary-solid {
  background-color: #ff5000;
  border-color: #d94602;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: #ff5000;
  border-color: #ff5000;
}

.pagination li a, .pagination li span {
  color: #ff5000;
}

.pagination > .active a, .pagination > .active a:focus, .pagination > .active a:hover, .pagination > .active span, .pagination > .active span:focus, .pagination > .active span:hover {
  background-color: #ff5000;
  border-color: #ff5000;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  color: #d94602;
}

.panel-primary {
  border-color: #ff5000;
}

.panel-primary > .panel-heading {
  background-color: #ff5000;
  border-color: #ff5000;
}

.progress-bar:not(.progress-bar-success, .progress-bar-danger, .progress-bar-warning, .progress-bar-info) {
  background-color: #ff5000;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #ff5000;
}

.nav-lines > li.active > a {
  border-color: #ff5000;
  color: #ff5000;
}

.nav-tabs-body-bg > li.active > a,
.nav-tabs-body-bg > li.active > a:hover,
.nav-tabs-body-bg > li.active > a:focus {
  background-color: #f6f3f6;
}

.nav-tabs-top > li > a {
  padding-top: 6px;
  border-top: 2px transparent solid;
  border-radius: 0;
}
.nav-tabs-top > li.active > a,
.nav-tabs-top > li.active > a:hover,
.nav-tabs-top > li.active > a:focus {
  border-top: 2px #ff5000 solid;
}

.autocomplete-suggestions.busy-admin-autocomplete .autocomplete-suggestion b {
  color: #ff5000;
}

.autocomplete-suggestions.busy-admin-autocomplete .autocomplete-suggestion.selected {
  background-color: #ff5000;
}

.autocomplete-suggestions.busy-admin-autocomplete .autocomplete-suggestion.selected b {
  color: #FFF;
}

.busy-admin-catalog li > a:hover, .busy-admin-catalog li > a:active, .busy-admin-catalog li.active > a {
  border-color: #ff5000;
  color: #ff5000;
}

.busy-admin-radio input:checked + label span, .busy-admin-radio input:checked + label i, .busy-admin-radio label:hover i, .busy-admin-radio label:hover span {
  color: #ff5000;
}

.busy-admin-checkbox input:checked + label i {
  color: #ff5000;
}

.busy-admin-checkbox:hover i {
  color: #ff5000;
}

.busy-admin-checkbox.pill input:checked + label {
  background-color: #ff5000;
  border-color: #ff5000;
}

.busy-admin-checkbox.pill input:checked + label i {
  border-color: #ff5000;
  color: #ff5000;
}

.busy-admin-checkbox.switch input:checked + label {
  background-color: #ff5000;
  border-color: #ff5000;
}

.busy-admin-date-picker td.in-range,
.busy-admin-date-picker .col-xs-4.in-range {
  background-color: rgba(255, 80, 0, 0.1);
}

.busy-admin-date-picker .ranges li.active,
.busy-admin-date-picker td.active, .busy-admin-date-picker td.active:hover,
.busy-admin-date-picker .time-picker-item.active,
.busy-admin-date-picker .col-xs-4.active,
.busy-admin-date-picker .col-xs-4.active:hover {
  background-color: #ff5000;
}

.busy-admin-date-picker .btn-primary {
  background-color: #ff5000;
  border-color: #ff5000;
}
.busy-admin-date-picker .btn-primary:hover {
  background-color: #ee4d02;
  border-color: #d94602;
}
.busy-admin-date-picker .btn-primary:focus {
  box-shadow: 0 0 0 0.2em rgba(255, 80, 0, 0.2);
}
.busy-admin-date-picker .btn-primary:active, .busy-admin-date-picker .btn-primary:focus {
  background-color: #d94602;
  border-color: #c74102;
}

.busy-admin-search {
  border-color: #ff5000;
}

.busy-admin-search-left {
  background-color: #ff5000;
}

.select2-container.select2-container--bootstrap.busy-admin-select2.select2-container--focus .select2-selection, .select2-container.select2-container--bootstrap.busy-admin-select2.select2-container--open .select2-selection, .select2-container.select2-container--bootstrap.busy-admin-select2 .select2-dropdown {
  border-color: #ff5000;
}

.select2-container.select2-container--bootstrap.busy-admin-select2 .select2-results__option--highlighted[aria-selected] {
  background-color: #ff5000;
}

.busy-admin-upload-card .upload-btn .webuploader-pick i {
  color: #ff5000;
}

.busy-admin-tree.jstree-default .jstree-clicked > .jstree-checkbox::before,
.busy-admin-tree.jstree-default .jstree-checkbox.jstree-undetermined::before,
.busy-admin-tree.jstree-default .jstree-checkbox:hover::before {
  color: #ff5000;
}

.busy-admin-tree.jstree-default .jstree-wholerow-hovered,
.busy-admin-tree.jstree-default .jstree-hovered {
  background-color: #f8eeea;
}

.busy-admin-tree.jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked.jstree-wholerow-hovered,
.busy-admin-tree.jstree-default.jstree-checkbox-no-clicked .jstree-clicked.jstree-hovered {
  background-color: #e5cfc6;
}

.busy-linkage-picker-wrap li.active .angle-right, .busy-linkage-picker-wrap li.active span,
.busy-linkage-picker-wrap li.active .busy-linkage-picker-check,
.busy-linkage-picker-checkbox label:hover, .busy-linkage-picker-radio label:hover,
.busy-linkage-picker-checkbox input:checked + label, .busy-linkage-picker-radio input:checked + label {
  color: #ff5000;
}

.busy-linkage-input.focus .form-control {
  border-color: rgba(255, 80, 0, 0.5);
  box-shadow: 0 0 0 0.2em rgba(255, 80, 0, 0.2);
}

.ba-range-slider.irs--round .irs-from, .ba-range-slider.irs--round .irs-to, .ba-range-slider.irs--round .irs-single, .ba-range-slider.irs--round .irs-bar {
  background-color: #ff5000;
}
.ba-range-slider.irs--round .irs-line, .ba-range-slider.irs--round .irs-bar {
  height: 6px;
  border-radius: 6px;
}
.ba-range-slider.irs--round .irs-handle {
  width: 20px;
  height: 20px;
  top: 29px;
  cursor: grab;
  border-color: #ff5000;
}
.ba-range-slider.irs--round .irs-from:before, .ba-range-slider.irs--round .irs-to:before, .ba-range-slider.irs--round .irs-single:before {
  border-top-color: #ff5000;
}