<extend name="@admin:layout"/>
<block name="head">
    <style>
        .ba-demo-content { background: white;}
    </style>
</block>
<block name="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{$system.page_title}</h3>
        </div>
        <div class="panel-body no-padding-bottom">
            <script type="text/x-markdown" id="markdown">
### 开始


### 基本示例

为任意 `<table>` 标签添加 `.table` 类可以为其赋予基本的样式

```demo:实例
#demo1
```

### 条纹状表格

通过 `.table-striped` 类可以给 `<tbody>` 之内的每一行增加斑马条纹样式。

```demo:实例
#demo2
```

### 带边框的表格

添加 `.table-bordered` 类为表格和其中的每个单元格增加边框。

```demo:实例
#demo3
```

### 鼠标悬停

通过添加 `.table-hover` 类可以让 `<tbody>` 中的每一行对鼠标悬停状态作出响应。

```demo:实例
#demo4
```

### 紧缩表格

通过添加 `.table-condensed` 类可以让表格更加紧凑，单元格中的内补（padding）均会减半。

```demo:实例
#demo5
```

### 表格状态

```demo:实例
#demo6
```

### 情景head

```demo:实例
#demo9
```

### 暗色主题

```demo:实例
#demo10
```

### 响应式表格

通过添加 `.table-nowrap` 类可以让表格内容不换行。

```demo:实例
#demo7
```

### 选项卡于表格

```demo:实例
#demo8
```
            </script>
        </div>
    </div>

    <template class="hide" id="demo1">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>标题1</th>
                    <th>标题2</th>
                    <th>标题3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><div class="max-width-180 text-line-3">这是一段很长的文字这是一段很长的文字这是一段很长的文字这是一段很长的文字这是一段很长的文字这是一段很长的文字这是一段很长的文字</div></td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
            </tbody>
        </table>
    </template>
    <template class="hide" id="demo2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>标题1</th>
                    <th>标题2</th>
                    <th>标题3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
            </tbody>
        </table>
    </template>
    <template class="hide" id="demo3">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>标题1</th>
                    <th>标题2</th>
                    <th>标题3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
            </tbody>
        </table>
    </template>
    <template class="hide" id="demo4">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>标题1</th>
                    <th>标题2</th>
                    <th>标题3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
            </tbody>
        </table>
    </template>
    <template class="hide" id="demo5">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>标题1</th>
                    <th>标题2</th>
                    <th>标题3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
            </tbody>
        </table>
    </template>
    <template class="hide" id="demo6">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>标题1</th>
                    <th>标题2</th>
                    <th>标题3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">默认</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr class="active">
                    <th scope="row"><code>.active</code></th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr class="primary">
                    <th scope="row"><code>.primary</code></th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr class="success">
                    <th scope="row"><code>.success</code></th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr class="secondary">
                    <th scope="row"><code>.secondary</code></th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr class="warning">
                    <th scope="row"><code>.warning</code></th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr class="danger">
                    <th scope="row"><code>.danger</code></th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr class="info">
                    <th scope="row"><code>.info</code></th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr class="light">
                    <th scope="row"><code>.light</code></th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr class="dark">
                    <th scope="row"><code>.dark</code></th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
            </tbody>
        </table>
        
        <hr />
        
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>默认</th>
                        <th class="active"><code>.active</code></th>
                        <th class="primary"><code>.primary</code></th>
                        <th class="secondary"><code>.secondary</code></th>
                        <th class="success"><code>.success</code></th>
                        <th class="danger"><code>.danger</code></th>
                        <th class="warning"><code>.warning</code></th>
                        <th class="info"><code>.info</code></th>
                        <th class="light"><code>.light</code></th>
                        <th class="dark"><code>.dark</code></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>张三</td>
                        <td class="active">李四</td>
                        <td class="primary">小李</td>
                        <td class="secondary">小五</td>
                        <td class="success">王武</td>
                        <td class="danger">小花</td>
                        <td class="warning">小明</td>
                        <td class="info">小王</td>
                        <td class="light">小王</td>
                        <td class="dark">小王</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </template>
    <template class="hide" id="demo7">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-nowrap">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>标题1</th>
                        <th>标题2</th>
                        <th>标题3</th>
                        <th>标题3</th>
                        <th>标题3</th>
                        <th>标题3</th>
                        <th>标题3</th>
                        <th>标题3</th>
                        <th>标题3</th>
                        <th>标题3</th>
                        <th>标题3</th>
                        <th>标题3</th>
                        <th>标题3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>张三</td>
                        <td>李四</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>张三</td>
                        <td>李四</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>张三</td>
                        <td>李四</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>张三</td>
                        <td>李四</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>张三</td>
                        <td>李四</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>张三</td>
                        <td>李四</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                        <td>王武</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </template>
    <template class="hide" id="demo8">
        <ul class="nav nav-tabs nav-tabs nav-tabs-table-header">
            <li class="active"><a href="#">选项1</a></li>
            <li><a href="#">选项2</a></li>
        </ul>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr><th colspan="4" class="padding-5"></th></tr>
                <tr>
                    <th>#</th>
                    <th>标题1</th>
                    <th>标题2</th>
                    <th>标题3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
            </tbody>
        </table>
        
        <hr />

        <ul class="nav nav-tabs nav-tabs nav-tabs-top nav-tabs-table-header">
            <li class="active"><a href="#">选项1</a></li>
            <li><a href="#">选项2</a></li>
        </ul>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr><th colspan="4" class="padding-5"></th></tr>
                <tr>
                    <th>#</th>
                    <th>标题1</th>
                    <th>标题2</th>
                    <th>标题3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
            </tbody>
        </table>
        
        <hr />

        <ul class="nav nav-lines nav-tabs-table-header">
            <li class="active"><a href="#">选项1</a></li>
            <li><a href="#">选项2</a></li>
        </ul>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>标题1</th>
                    <th>标题2</th>
                    <th>标题3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
            </tbody>
        </table>
    </template>

    <template class="hide" id="demo9">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>标题1</th>
                    <th>标题2</th>
                    <th>标题3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
            </tbody>
        </table>
        <hr />
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>标题1</th>
                    <th>标题2</th>
                    <th>标题3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
            </tbody>
        </table>
    </template>
    
    <template class="hide" id="demo10">
        <table class="table table-striped table-bordered table-hover table-dark">
            <thead>
                <tr>
                    <th>#</th>
                    <th>标题1</th>
                    <th>标题2</th>
                    <th>标题3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
            </tbody>
        </table>
        
        <hr />
        
        <table class="table table-striped table-bordered table-hover table-dark">
            <thead>
                <tr>
                    <th>#</th>
                    <th>标题1</th>
                    <th>标题2</th>
                    <th>标题3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr class="primary">
                    <th scope="row"><code>.primary</code></th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr class="success">
                    <th scope="row"><code>.success</code></th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr class="warning">
                    <th scope="row"><code>.warning</code></th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr class="danger">
                    <th scope="row"><code>.danger</code></th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
                <tr class="info">
                    <th scope="row"><code>.info</code></th>
                    <td>张三</td>
                    <td>李四</td>
                    <td>王武</td>
                </tr>
            </tbody>
        </table>
    </template>
</block>