<extend name="@admin:layout"/>
<block name="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{$system.page_title}</h3>
        </div>
        <div class="panel-body no-padding-bottom">
            <script type="text/x-markdown" id="markdown">
### 开始

### 基本示例

注意 `.nav-tabs` 类依赖 `.nav` 基类。

```demo:实例
#demo1
```

### 线条式选项卡

```demo:实例
#demo2
```

### 胶囊式选项卡

```demo:实例
#demo3
```

### 两端对齐的选项卡

```demo:实例
#demo4
```

### 带下拉菜单的选项卡

```demo:实例
#demo5
```

### 卡片化

```demo:实例
#demo6
```
            </script>
        </div>
    </div>

    <template class="hide" id="demo1">
<h5>普通样式</h5>
<ul class="nav nav-tabs">
    <li class="active"><a href="#">选项1</a></li>
    <li><a href="#">选项2</a></li>
    <li><a href="#">选项3</a></li>
</ul>
<hr />
<h5>顶部样式</h5>
<ul class="nav nav-lines-top">
    <li class="active"><a href="#">选项1</a></li>
    <li><a href="#">选项2</a></li>
    <li><a href="#">选项3</a></li>
</ul>
<hr />
<h5>融合<code>body</code>背景色</h5>
<ul class="nav nav-lines-top mixin-body">
    <li class="active"><a href="#">选项1</a></li>
    <li><a href="#">选项2</a></li>
    <li><a href="#">选项3</a></li>
</ul>
    </template>

    <template class="hide" id="demo2">
<ul class="nav nav-lines">
    <li class="active"><a href="#">选项1</a></li>
    <li><a href="#">选项2</a></li>
    <li><a href="#">选项3</a></li>
</ul>
    </template>

    <template class="hide" id="demo3">
<ul class="nav nav-pills">
    <li class="active"><a href="#">选项1</a></li>
    <li><a href="#">选项2</a></li>
    <li><a href="#">选项3</a></li>
</ul>

<hr />

<p>胶囊是标签页也是可以垂直方向堆叠排列的。只需添加 <code>.nav-stacked</code> 类。</p>

<ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">选项1</a></li>
    <li><a href="#">选项2</a></li>
    <li><a href="#">选项3</a></li>
</ul>
    </template>

    <template class="hide" id="demo4">
<ul class="nav nav-tabs nav-justified">
    <li><a href="#">选项1</a></li>
    <li class="active"><a href="#">选项2</a></li>
    <li><a href="#">选项3</a></li>
</ul>

<hr />

<ul class="nav nav-lines nav-justified">
    <li class="active"><a href="#">选项1</a></li>
    <li><a href="#">选项2</a></li>
    <li><a href="#">选项3</a></li>
</ul>


<hr />

<ul class="nav nav-lines-top nav-justified">
    <li class="active"><a href="#">选项1</a></li>
    <li><a href="#">选项2</a></li>
    <li><a href="#">选项3</a></li>
</ul>

<hr />

<ul class="nav nav-pills nav-justified">
    <li class="active"><a href="#">选项1</a></li>
    <li><a href="#">选项2</a></li>
    <li><a href="#">选项3</a></li>
</ul>
    </template>

    <template class="hide" id="demo5">
<ul class="nav nav-tabs">
    <li class="active"><a href="#">选项1</a></li>
    <li><a href="#">选项2</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            更多选项
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">更多1</a></li>
            <li><a href="#">更多2</a></li>
            <li><a href="#">更多3</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">更多4</a></li>
        </ul>
    </li>
</ul>
<hr />
<ul class="nav nav-pills">
    <li class="active"><a href="#">选项1</a></li>
    <li><a href="#">选项2</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            更多选项
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">更多1</a></li>
            <li><a href="#">更多2</a></li>
            <li><a href="#">更多3</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">更多4</a></li>
        </ul>
    </li>
</ul>
<hr />
<ul class="nav nav-lines">
    <li class="active"><a href="#">选项1</a></li>
    <li><a href="#">选项2</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            更多选项
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">更多1</a></li>
            <li><a href="#">更多2</a></li>
            <li><a href="#">更多3</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">更多4</a></li>
        </ul>
    </li>
</ul>
<hr />
<ul class="nav nav-lines-top">
    <li class="active"><a href="#">选项1</a></li>
    <li><a href="#">选项2</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            更多选项
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">更多1</a></li>
            <li><a href="#">更多2</a></li>
            <li><a href="#">更多3</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">更多4</a></li>
        </ul>
    </li>
</ul>
    </template>

    <template class="hide" id="demo6">
<p>点击切换样式</p>
<button type="button" class="btn btn-default change-style">default</button>
<button type="button" class="btn btn-primary change-style">primary</button>
<button type="button" class="btn btn-secondary change-style">secondary</button>
<button type="button" class="btn btn-dark change-style">dark</button>
<button type="button" class="btn btn-light change-style">light</button>
<button type="button" class="btn btn-success change-style">success</button>
<button type="button" class="btn btn-warning change-style">warning</button>
<button type="button" class="btn btn-danger change-style">danger</button>
<button type="button" class="btn btn-info change-style">info</button>
<hr />
<div class="panel panel-style">
    <ul class="nav nav-tabs">
        <li><a href="#">选项1</a></li>
        <li class="active"><a href="#">选项2</a></li>
        <li><a href="#">选项3</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                更多选项
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">更多1</a></li>
                <li><a href="#">更多2</a></li>
                <li><a href="#">更多3</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">更多4</a></li>
            </ul>
        </li>
    </ul>
    <div class="panel-body">选项1</div>
</div>
<hr />
<div class="panel panel-style">
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#">选项1</a></li>
        <li><a href="#">选项2</a></li>
        <li><a href="#">选项3</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                更多选项
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">更多1</a></li>
                <li><a href="#">更多2</a></li>
                <li><a href="#">更多3</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">更多4</a></li>
            </ul>
        </li>
    </ul>
    <div class="panel-body">选项1</div>
</div>
<hr />
<div class="panel panel-style">
    <ul class="nav nav-lines">
        <li><a href="#">选项1</a></li>
        <li class="active"><a href="#">选项2</a></li>
        <li><a href="#">选项3</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                更多选项
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">更多1</a></li>
                <li><a href="#">更多2</a></li>
                <li><a href="#">更多3</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">更多4</a></li>
            </ul>
        </li>
    </ul>
    <div class="panel-body">选项1</div>
</div>
<hr />
<div class="panel panel-style">
    <ul class="nav nav-lines nav-justified">
        <li><a href="#">选项1</a></li>
        <li class="active"><a href="#">选项2</a></li>
        <li><a href="#">选项3</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                更多选项
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">更多1</a></li>
                <li><a href="#">更多2</a></li>
                <li><a href="#">更多3</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">更多4</a></li>
            </ul>
        </li>
    </ul>
    <div class="panel-body">选项1</div>
</div>
<hr />
<div class="panel panel-style">
    <ul class="nav nav-lines-top">
        <li class="active"><a href="#">选项1</a></li>
        <li><a href="#">选项2</a></li>
        <li><a href="#">选项3</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                更多选项
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">更多1</a></li>
                <li><a href="#">更多2</a></li>
                <li><a href="#">更多3</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">更多4</a></li>
            </ul>
        </li>
    </ul>
    <div class="panel-body">选项1</div>
</div>
<hr />
<div class="panel panel-style">
    <ul class="nav nav-lines-top nav-justified">
        <li class="active"><a href="#">选项1</a></li>
        <li><a href="#">选项2</a></li>
        <li><a href="#">选项3</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                更多选项
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">更多1</a></li>
                <li><a href="#">更多2</a></li>
                <li><a href="#">更多3</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">更多4</a></li>
            </ul>
        </li>
    </ul>
    <div class="panel-body">选项1</div>
</div>
<script>
    busyAdmin.ready(function () {
        var $style = $('.panel-style');
        $('.change-style').on('click', function() {
            $style.removeAttr('class').addClass('panel panel-' + $(this).text());
        });
    });
</script>
    </template>
</block>