<extend name="@admin:layout"/>
<block name="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{$system.page_title}</h3>
        </div>
        <div class="panel-body no-padding-bottom">
            <script type="text/x-markdown" id="markdown">
### 开始

本组件属于内置组件，无需引用即可使用，详细文档请参考 [ElementUi2.0使用文档](https://element.eleme.io/#/zh-CN/component/layout)

### 使用

通过在标签上加上自定义属性 `data-toggle="busy-element-ui"` 来触发

```html
<div data-toggle="busy-element-ui">
    <template> ...element-ui 模版... </template>
</div>
```

### 使用示例

#### Icon 图标

```demo:实例
#demo1
```

#### Button 按钮

```demo:实例
#demo2
```

#### Link 文字链接

```demo:实例
#demo3
```

#### Radio 单选框

> 由于选项默认可见，不宜过多，若选项过多，建议使用 `Select` 选择器。

```demo:实例
#demo4
```

#### Checkbox 多选框

> 单独使用可以表示两种状态之间的切换，写在标签中的内容为 checkbox 按钮后的介绍。

```demo:实例
#demo5
```

#### Input 输入框

> `Input` 为受控组件，它总会显示 `Vue` 绑定值。 <br />通常情况下，应当处理 `input` 事件，并更新组件的绑定值（或使用`v-model`）。否则，输入框内显示的值将不会改变。 <br />不支持 `v-model` 修饰符。

```demo:实例
#demo6
```

#### InputNumber 计数器

> 仅允许输入标准的数字值，可定义范围

```demo:实例
#demo7
```

#### Select 选择器

> 当选项过多时，使用下拉菜单展示并选择内容。

```demo:实例
#demo8
```

#### 更多演示

> [ElementUi2.0使用文档](https://element.eleme.io/#/zh-CN/component/layout)


            </script>
        </div>
    </div>
    <template class="hide" id="demo1">
<div data-toggle="busy-element-ui">
    <template>
        <i class="el-icon-edit"></i>
        <i class="el-icon-share"></i>
        <i class="el-icon-delete"></i>
        <el-button type="primary" icon="el-icon-search">搜索</el-button>
    </template>
</div>
    </template>
    <template class="hide" id="demo2">
<div data-toggle="busy-element-ui">
    <template>
        <el-row>
            <el-button>默认按钮</el-button>
            <el-button type="primary">主要按钮</el-button>
            <el-button type="success">成功按钮</el-button>
            <el-button type="info">信息按钮</el-button>
            <el-button type="warning">警告按钮</el-button>
            <el-button type="danger">危险按钮</el-button>
        </el-row>

        <hr />
        
        <el-row>
            <el-button plain>朴素按钮</el-button>
            <el-button type="primary" plain>主要按钮</el-button>
            <el-button type="success" plain>成功按钮</el-button>
            <el-button type="info" plain>信息按钮</el-button>
            <el-button type="warning" plain>警告按钮</el-button>
            <el-button type="danger" plain>危险按钮</el-button>
        </el-row>
        
        <hr />

        <el-row>
            <el-button round>圆角按钮</el-button>
            <el-button type="primary" round>主要按钮</el-button>
            <el-button type="success" round>成功按钮</el-button>
            <el-button type="info" round>信息按钮</el-button>
            <el-button type="warning" round>警告按钮</el-button>
            <el-button type="danger" round>危险按钮</el-button>
        </el-row>
        
        <hr />

        <el-row>
            <el-button icon="el-icon-search" circle></el-button>
            <el-button type="primary" icon="el-icon-edit" circle></el-button>
            <el-button type="success" icon="el-icon-check" circle></el-button>
            <el-button type="info" icon="el-icon-message" circle></el-button>
            <el-button type="warning" icon="el-icon-star-off" circle></el-button>
            <el-button type="danger" icon="el-icon-delete" circle></el-button>
        </el-row>
    </template>
</div>
    </template>
    <template class="hide" id="demo3">
<div data-toggle="busy-element-ui">
    <template>
        <el-link>默认链接</el-link>
        <el-link type="primary">主要链接</el-link>
        <el-link type="success">成功链接</el-link>
        <el-link type="warning">警告链接</el-link>
        <el-link type="danger">危险链接</el-link>
        <el-link type="info">信息链接</el-link>
    </template>
</div>
    </template>
    <template class="hide" id="demo4">
<div data-toggle="busy-element-ui" data-data="demo4Data">
    <template>
        <el-radio v-model="radio" label="1">备选项</el-radio>
        <el-radio v-model="radio" label="2">备选项</el-radio>

        <hr />

        <el-radio-group v-model="radio1">
            <el-radio :label="3">备选项</el-radio>
            <el-radio :label="6">备选项</el-radio>
            <el-radio :label="9">备选项</el-radio>
        </el-radio-group>
    </template>
</div>
<script>
    busyAdmin.data.demo4Data = function () {
        return {
            radio: '2',
            radio1: 6,
        };
    }
</script>
    </template>
    <template class="hide" id="demo5">
<div data-toggle="busy-element-ui" data-data="demo5Data">
    <template>
        <!-- `checked` 为 true 或 false -->
        <el-checkbox v-model="checked">备选项</el-checkbox>
        
        <hr />

        <el-checkbox-group v-model="checkList">
            <el-checkbox label="复选框 A"></el-checkbox>
            <el-checkbox label="复选框 B"></el-checkbox>
            <el-checkbox label="复选框 C"></el-checkbox>
            <el-checkbox label="禁用" disabled></el-checkbox>
            <el-checkbox label="选中且禁用" disabled></el-checkbox>
        </el-checkbox-group>
    </template>
</div>
<script>
    busyAdmin.data.demo5Data = function () {
        return {
            checked: true,
            checkList: ['选中且禁用','复选框 A']
        };
    }
</script>
    </template>
    <template class="hide" id="demo6">
<div data-toggle="busy-element-ui" data-data="demo6Data">
    <template>
        <el-input v-model="input" placeholder="请输入内容" clearable></el-input>
        
        <hr />

        <el-input placeholder="请输入内容" v-model="input">
            <template slot="prepend">Http://</template>
        </el-input>
        
        <hr />
        
        <el-input placeholder="请输入内容" v-model="input">
            <template slot="append">.com</template>
        </el-input>

        <hr />

        <el-row :gutter="20">
            <el-col :span="6">
                <el-input
                        placeholder="请输入内容"
                        suffix-icon="el-icon-date"
                        v-model="input">
                </el-input>
            </el-col>
            <el-col :span="6">
                <el-input
                        size="medium"
                        placeholder="请输入内容"
                        suffix-icon="el-icon-date"
                        v-model="input">
                </el-input>
            </el-col>
            <el-col :span="6">
                <el-input
                        size="small"
                        placeholder="请输入内容"
                        suffix-icon="el-icon-date"
                        v-model="input">
                </el-input>
            </el-col>
            <el-col :span="6">
                <el-input
                        size="mini"
                        placeholder="请输入内容"
                        suffix-icon="el-icon-date"
                        v-model="input">
                </el-input>
            </el-col>
        </el-row>
    </template>
</div>
<script>
    busyAdmin.data.demo6Data = function () {
        return {
            input: '你好',
        };
    }
</script>
    </template>
    <template class="hide" id="demo7">
<div data-toggle="busy-element-ui" data-data="demo7Data" data-methods="demo7Methods">
    <template>
        <el-input-number v-model="num" @change="handleChange" :min="1" :max="10" label="描述文字"></el-input-number>

        <hr />

        <el-input-number v-model="num" @change="handleChange" :min="1" :max="10" label="描述文字"></el-input-number>
        <el-input-number size="medium" v-model="num" @change="handleChange" :min="1" :max="10" label="描述文字"></el-input-number>
        <el-input-number size="small" v-model="num" @change="handleChange" :min="1" :max="10" label="描述文字"></el-input-number>
        <el-input-number size="mini" v-model="num" @change="handleChange" :min="1" :max="10" label="描述文字"></el-input-number>
    </template>
</div>
<script>
    busyAdmin.data.demo7Data = function () {
        return {
            num: 1
        };
    }
    busyAdmin.data.demo7Methods = function () {
        return {
            handleChange(value) {
                console.log(value);
            },
        };
    }
</script>
    </template>
    <template class="hide" id="demo8">
<div data-toggle="busy-element-ui" data-data="demo8Data">
    <template>
        <el-select v-model="value" placeholder="请选择" clearable filterable>
            <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
            </el-option>
        </el-select>
        
        <hr />

        <el-select v-model="value1" multiple clearable filterable placeholder="请选择">
            <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
            </el-option>
        </el-select>

        <hr />
        
        <el-select
                v-model="value2"
                multiple
                clearable
                filterable
                collapse-tags
                placeholder="请选择">
            <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
            </el-option>
        </el-select>
    </template>
</div>
<script>
    busyAdmin.data.demo8Data = function () {
        return {
            options: [{
                value: '选项1',
                label: '黄金糕'
            }, {
                value: '选项2',
                label: '双皮奶'
            }, {
                value: '选项3',
                label: '蚵仔煎'
            }, {
                value: '选项4',
                label: '龙须面'
            }, {
                value: '选项5',
                label: '北京烤鸭'
            }],
            value: '',
            value1: [],
            value2: []
        }
    }
</script>
    </template>
</block>