<extend name="@admin:layout"/>
<block name="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{$system.page_title}</h3>
        </div>
        <div class="panel-body no-padding-bottom">
            <script type="text/x-markdown" id="markdown">
### 开始

本组件属于内置组件，无需引用即可使用

### 使用

通过在标签上加上自定义属性 `data-toggle="busy-file-picker"` 来触发

```html
<button data-toggle="busy-file-picker">选择文件</button>
```

### 属性

| 属性:240 | 类型:100 | 必须: 100 | 默认值: 100 | 描述 |
| - | :-: | :--: | :-: | - |
| 基本属性:title |  |  |  |  |
| data-zindex | number | `否` | `auto` | 对话框层级 |
| data-class-type | string | `否` | `file` | 文件类型 |
| data-class-value | string | `否` | - | 文件标识 |
| data-current-info | string | `否` | `当前信息` | 指定当前信息文案，如：当前文章 |
| data-count | number | `否` | 9 | 多选情况单次最多允许选择数，0为不限 |
| data-extensions | string | `否` | - | 允许的文件后缀，多个用英文逗号隔开，不包含`.` |
| data-mimetypes | string | `否` | - | 允许上传mimetype，多个用英文逗号隔开 |
| data-max-size | number | `否` | - | 允许上传文件大小(单位字节) |
| data-success | string,function | `否` | - | 选中回调方法，参数：<br />**files** ：选中的文件数据集合|

### 使用示例


#### 基础示例

```demo:实例
#demo1
```
            </script>
        </div>
    </div>

    <template class="hide" id="demo1">
<button class="btn btn-primary file-picker1" data-toggle="busy-file-picker" data-count="1" data-current-info="当前文章">单选</button>
<button class="btn btn-primary file-picker1" data-toggle="busy-file-picker" data-count="3">多选</button>
<button class="btn btn-primary file-picker1" data-toggle="busy-file-picker" data-class-value="1" data-count="0">多选(不限数量)</button>
<script>
    $(function () {
        $('.file-picker1').on(busyAdmin.e.filePickerSuccess, function (e, files) {
            busyAdmin.dialog.alert(JSON.stringify(files));
        });
    })
</script>
    </template>
</block>