<extend name="@admin:layout"/>
<block name="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{$system.page_title}</h3>
        </div>
        <div class="panel-body no-padding-bottom">
            <script type="text/x-markdown" id="markdown">
### 开始

本组件属于内置组件，无需引用即可使用

### 使用

通过在标签上加上自定义属性 `data-toggle="busy-image-viewer"` 来触发

```html
<div data-toggle="busy-image-viewer"></div>
```

### 属性

| 属性:240 | 类型:100 | 必须: 100 | 默认值: 100 | 描述 |
| - | :-: | :--: | :-: | - |
| 基本属性:title |  |  |  |  |
| data-backdrop | boolean | `否` | `true` | 是否显示背景遮罩 |
| data-show-close | boolean | `否` | `false` | 是否显示右上角关闭按钮 |
| data-fullscreen | boolean | `否` | `true` | 设置播放时是否全屏展示 |
| data-keyboard | boolean | `否` | `true` | 是否启用键盘控制 |
| data-loading | boolean | `否` | `true` | 是否显示加载中提示 |
| data-loop | boolean | `否` | `true` | 是否启用循环查看 |
| data-movable | boolean | `否` | `true` | 是否允许拖拽 |
| data-rotatable | boolean | `否` | `true` | 是否允许旋转图片 |
| data-scalable | boolean | `否` | `true` | 是否允许缩放图片 |
| data-title | boolean | `否` | `true` | 是否显示图片名称，需要在节点为`img`标签上设置`alt`属性指定 |
| data-control | boolean | `否` | `true` | 是否显示控制工具栏，单图默认不显示 |
| data-transition | boolean | `否` | `true` | 是否显示动画 |
| data-zoomable | boolean | `否` | `true` | 是否允许放大缩小 |
| data-src | string | `否` | - | 设置预览地址 |
| data-click-handler | boolean | `否` | `true` | 指定预览地址时，是否绑定点击事件 |
| data-has-class | string | `否` | - | 指定img标签是否包含指定样式，否则排除 |
| data-filter | string | `否` | - | 自定义过滤回调 |
| 多图:title |  |  |  |  |
| data-thumbs | boolean | `否` | `true` | 是否显示底部缩图导航，单图默认则不显示 |


### 使用示例

#### 单图-Img标签预览

```demo:实例
#demo1
```

#### 图集-子Img标签预览

```demo:实例
#demo2
```

#### 单图-其它标签预览

```demo:实例
#demo3
```

#### 自定义点击预览

```demo:实例
#demo4
```
            </script>
        </div>
    </div>

    <textarea class="hide" id="demo1">
<img class="img-thumbnail width-100" src="{$skin.images}login/1.jpg" data-toggle="busy-image-viewer" alt="图片1"/>
    </textarea>

    <textarea class="hide" id="demo2">
<div data-toggle="busy-image-viewer">
    <img class="img-thumbnail width-100" src="{$skin.images}login/1.jpg" data-src="{$skin.images}login/2.jpg" alt="这个图片显示和预览不一样，为了演示原图预览"/>
    <img class="img-thumbnail width-100" src="{$skin.images}login/2.jpg" alt="图片2"/>
    <img class="img-thumbnail width-100" src="{$skin.images}login/3.jpg" alt="图片3"/>
    <img class="img-thumbnail width-100" src="{$skin.images}login/4.jpg" alt="图片4"/>
    <img class="img-thumbnail width-100" src="{$skin.images}login/5.jpg" alt="图片5"/>
    <img class="img-thumbnail width-100" src="{$skin.images}login/6.jpg" alt="图片6"/>
</div>
    </textarea>

    <textarea class="hide" id="demo3">
<a class="btn btn-success" data-toggle="busy-image-viewer" data-src="{$skin.images}login/1.jpg" data-alt="一朵美丽的花儿">预览图片</a>
    </textarea>

    <template class="hide" id="demo4">
        <a class="btn btn-success" id="demo4_btn" data-src="{$skin.images}login/1.jpg" data-alt="一朵美丽的花儿">预览图片</a>
        <script>
            $(function () {
                $('#demo4_btn').on('click', function () {
                    $(this).baImageViewer({
                        clickHandler: false
                    })
                });
            });
        </script>
    </template>
</block>