<extend name="@admin:layout"/>
<block name="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{$system.page_title}</h3>
        </div>
        <div class="panel-body no-padding-bottom">
            <script type="text/x-markdown" id="markdown">
### 开始

本组件属于内置组件，无需引用即可使用

### 使用

通过在标签上加上自定义属性 `data-toggle="busy-select"` 来触发

```html
<select data-toggle="busy-select"></select>
```

### 属性

| 属性:240 | 类型:100 | 必须: 100 | 默认值: 100 | 描述 |
| - | :-: | :--: | :-: | - |
| 基本属性:title |  |  |  |  |
| data-type | string | `否` | `select2` | 下拉插件类型，`select2`：[Select2插件](https://select2.org/) |
| data-placeholder | string | `否` | - | 设置默认占位内容 |
| data-width | string | `否` | - | 设置宽度，不设置则自适应 |
| data-search | boolean | `否` | `true` | 是否允许搜索 |
| data-search-min | number | `否` | 0 | 最少需要输入多少个字符才进行搜索 |
| data-data | [object],Function | `否` | `[]` | 设置数据，参考`data数据结构` |
| data-multiple | boolean | `否` | `false` | 是否为多选模式 |
| data-disabled | boolean | `否` | `false` | 是否禁用该组件 |
| data-max | number | `否` | 0 | 多选情况下，最大允许选择数，0为不限制 |
| data-value | string,[string] | `否` | null | 设置默认选中项，多选模式传数组，单选模式传字符 |
| data-selected-template | string,function | `否` | null | 自定义选中项模板 |
| data-option-template | string,function | `否` | null | 自定义选项模板 |
| data-tags | boolean | `否` | `false` | 是否为tags模式，该模式下，输入的tag不存则可以创建 |
| data-tags-space | [string] | `否` | `null` | 设置tag分割字符，默认为回车 |
| data-select-class | string | `否` | - | 用来设置select自定义样式，如：`input-sm` |
| data-loading-text | string | `否` | - | 加载中文本提示 |
| data-loading-more-text | string | `否` | - | 更多加载中文本提示 |
| data-input-long-text | string | `否` | - | 输入文字过多文本提示，支持变量 `%s` |
| data-input-short-text | string | `否` | - | 输入文字过少文本提示，支持变量 `%s` |
| data-max-selected-text | string | `否` | - | 选中项数量超过最大数量文本提示，支持变量 `%s` |
| data-empty-text | string | `否` | - | 无选项文本提示 |
| data-select2 | object | `否` | `null` | Select2插件配置，参考[Select2插件配置](https://select2.org/configuration/options-api) |
| 异步加载:title |  |  |  |  |
| data-url | boolean,string | `否` | `false` | 是否启用异步数据选项，设置字符串URL则从该地址获取，否则从当前网址获取 |
| data-params | object,Function | `否` | - | 自定义请求参数，支持闭包 |
| data-delay | number | `否` | `250` | 异步加载延迟毫秒 |
| data-model | string | `否` | - | 设置自动获取选项的模型类名称，与`data-url`互斥 |
| data-model-extend | boolean | `否` | `false` | 查询模型的数据是否包涵扩展数据 |
| data-model-id-field | string | `否` | `id` | 取模型数据`ID`的字段 |
| data-model-text-field | string | `否` | `name` | 取模型数据`名称`的字段 |
| data-model-length | string | `否` | `name` | 数据每页展示条数，0为不限，会缓存该结果 |
| data-model-order | string | `否` | `id DESC` | 设置模型数据排序方式，多个用英文逗号分割，如：`id DESC` |

### `data`数据结构
```json
[
    {
        "id": string, // option value
        "text": string, // option text
        "selected": boolean, // 是否选中项
        "disabled": boolean, // 是否禁用项
        "children": [   // 子选项
            {
                "id": string, // option value
                "text": string, // option text
                "selected": boolean, // 是否选中项
                "disabled": boolean, // 是否禁用项
            }
        ], // 是否禁用项
    }
]
```

### 使用示例

#### 基本示例

```demo:实例
#demo1
```

#### 数据示例

```demo:实例
#demo2
```

#### 异步示例

```demo:实例
#demo3
```

#### 异步缓存

> 通过设置 `data-model-length="0"` 即可实现异步缓存

```demo:实例
#demo9
```

#### 不允许搜索

> 通过给组件标签设置自定属性 `data-search="false"` 即可禁止搜索

```demo:实例
#demo4
```

#### 自定义选项模版

> 通过给组件标签设置自定属性 `data-option-template="@|selector|Function"` 即可自定义选项模版

----------

**`baTemplate`模版引擎支持变量**：<br />
- `id:string` - 选项`value`
- `text:string` - 选项`text`
- `group:boolean` - 是否`optgroup`
- `selected:boolean` - 是否已选中
- `disabled:boolean` - 是否已禁用
- `option:object` - 选项源数据，可以在里面获取到数据源，如：`{{option.source}}`

----------

**赋值 `data-formatter="@"`**


系统会查找在 `select` 标签内包含自定义属性 `data-template="option"` 的模版标签作为渲染模版。

```HTML
<div data-toggle="busy-select">
    <template data-template="option">{{text}}</template>
</div>
```

```demo:实例
#demo5
```


#### 自定义选中项模版

> 通过给组件标签设置自定属性 `data-selected-template="@|selector|Function"` 即可自定义选中项模版

----------

**`baTemplate`模版引擎支持变量**：<br />
- `id:string` - 选项`value`
- `text:string` - 选项`text`
- `selected:boolean` - 是否已选中
- `disabled:boolean` - 是否已禁用
- `option:object` - 选项源数据，可以在里面获取到数据源，如：`{{option.source}}`

----------

**赋值 `data-formatter="@"`**


系统会查找在 `select` 标签内包含自定义属性 `data-template="selected"` 的模版标签作为渲染模版。

```HTML
<div data-toggle="busy-select">
    <template data-template="selected">{{text}}</template>
</div>
```

```demo:实例
#demo6
```

#### 创建选项

```demo:实例
#demo7
```

#### 组件尺寸

```demo:实例
#demo8
```

#### 在modal中打开

```demo:实例
#demo20
```
            </script>
        </div>
    </div>

    <template id="demo1">
<button class="btn btn-primary" onclick="$('#demo1_select').baSelect('open')">打开</button>
<button class="btn btn-primary" onclick="$('#demo1_select').baSelect('close')">关闭</button>
<button class="btn btn-primary" onclick="$('#demo1_select').baSelect('enable')">启用</button>
<button class="btn btn-primary" onclick="$('#demo1_select').baSelect('enable', false)">禁用</button>
<button class="btn btn-primary" onclick="$('#demo1_select').baSelect('setValue', 2)">设置选中项</button>
<button class="btn btn-primary" onclick="$('#demo1_select').baSelect('setValue', null)">清除选中项</button>
<button class="btn btn-primary" onclick="$('#demo1_select').baSelect('append', [{id: 4, text: '小花', disabled: true}, {id: 5, text: '小花2', selected: true}]);">添加选项</button>
<button class="btn btn-primary" id="demo1_btn8">设置新的选项</button>
<button class="btn btn-primary" onclick="busyAdmin.dialog.alert(JSON.stringify($('#demo1_select').baSelect('getSelectedData') || {}))">获取选中数据</button>
<button class="btn btn-primary" onclick="busyAdmin.dialog.alert($('#demo1_select').val() || '')">获取选中值</button>
<div class="space-10"></div>
<div class="input-group">
    <div class="input-group-addon">单选</div>
    <select class="form-control"
            id="demo1_select"
            data-toggle="busy-select"
            data-placeholder="请选择">
        <option></option>
        <option value="1">张三</option>
        <option value="2">李四</option>
        <option value="3">王武</option>
    </select>
</div>
<hr/>
<button class="btn btn-primary" id="demo1_btn9" onclick="$('#demo1_select1').baSelect('setValue', [1, 2])">设置选中项</button>
<button class="btn btn-primary" id="demo1_btn10" onclick="$('#demo1_select1').baSelect('setValue', null)">清除选中项</button>
<div class="space-10"></div>
<div class="input-group">
    <div class="input-group-addon">多选</div>
    <select class="form-control"
            id="demo1_select1"
            data-toggle="busy-select"
            data-placeholder="请选择"
            data-clear="true"
            multiple>
        <option value="1">张三</option>
        <option value="2">李四</option>
        <option value="3">王武</option>
    </select>
</div>
<script>
    $(function () {
        $('#demo1_btn8').on('click', function () {
            $('#demo1_select').baSelect('setData', [
                {
                    text     : 'BAT公司',
                    children : [
                        {id : 1, text : '百度', selected: true},
                        {id : 2, text : '阿里'},
                        {id : 3, text : '腾讯'},
                    ]
                },
                {
                    text     : '金融公司',
                    children : [
                        {id : 4, text : '工商'},
                        {id : 5, text : '建行', disabled: true},
                        {id : 6, text : '民生'},
                    ]
                },
                {
                    id   : 7,
                    text : '滴滴',
                },
                {
                    id   : 8,
                    text : '美团',
                },
                {
                    id   : 9,
                    text : '饿了吗',
                }
            ]);
        });
    });
</script>
    </template>

    <script id="demo2" type="text/html" class="hide">
<select class="form-control"
        id="demo2_array"
        data-toggle="busy-select"
        data-data='[{"id":"1","text":"张三"},{"id":"2","text":"李四","disabled":true},{"id":"3","text":"王武","selected":true}]'
        data-placeholder="请选择">
</select>
    </script>

    <script type="text/html" id="demo3" class="hide">
<div class="input-group">
    <div class="input-group-addon">单选</div>
    <select class="form-control"
            data-toggle="busy-select"
            data-model="<?=\BusyPHP\app\admin\model\system\config\SystemConfig::class;?>"
            data-model-id-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::type()?>"
            data-model-text-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::name()?>"
            data-value='admin'
            data-empty-text="暂无选项"
            data-placeholder="请选择">
    </select>
</div>
<hr/>
<div class="input-group">
    <div class="input-group-addon">多选</div>
    <select class="form-control"
            data-toggle="busy-select"
            data-model="<?=\BusyPHP\app\admin\model\system\config\SystemConfig::class;?>"
            data-model-id-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::type()?>"
            data-model-text-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::name()?>"
            data-model-order="id desc,type desc"
            data-value='["admin","storage"]'
            data-placeholder="请选择"
            multiple>
    </select>
</div>
    </script>
    
    <script type="text/html" id="demo9" class="hide">
<div class="input-group">
    <div class="input-group-addon">单选</div>
    <select class="form-control"
            data-toggle="busy-select"
            data-model="<?=\BusyPHP\app\admin\model\system\config\SystemConfig::class;?>"
            data-model-id-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::type()?>"
            data-model-text-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::name()?>"
            data-model-length="0"
            data-value='admin'
            data-placeholder="请选择">
    </select>
</div>
<hr/>
<div class="input-group">
    <div class="input-group-addon">多选</div>
    <select class="form-control"
            data-toggle="busy-select"
            data-model="<?=\BusyPHP\app\admin\model\system\config\SystemConfig::class;?>"
            data-model-id-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::type()?>"
            data-model-text-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::name()?>"
            data-model-order="id desc,type desc"
            data-model-length="0"
            data-value='["admin","storage"]'
            data-placeholder="请选择"
            multiple>
    </select>
</div>
    </script>

    <script type="text/html" id="demo4" class="hide">
<select class="form-control"
        data-search="false"
        data-clear="true"
        data-toggle="busy-select"
        data-model="<?=\BusyPHP\app\admin\model\system\config\SystemConfig::class;?>"
        data-model-id-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::type()?>"
        data-model-text-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::name()?>"
        data-value='admin'
        data-model-length="0"
        data-placeholder="请选择">
</select>

<hr />

<select class="form-control"
        data-toggle="busy-select"
        data-clear="true"
        data-search="false"
        data-model="<?=\BusyPHP\app\admin\model\system\config\SystemConfig::class;?>"
        data-model-id-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::type()?>"
        data-model-text-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::name()?>"
        data-model-order="id desc,type desc"
        data-value='["admin","storage"]'
        data-placeholder="请选择"
        data-model-length="0"
        multiple>
</select>
    </script>
    
    <script type="text/html" id="demo5" class="hide">
<div data-clear="true"
     data-toggle="busy-select"
     data-model="<?=\BusyPHP\app\admin\model\system\config\SystemConfig::class;?>"
     data-model-id-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::type()?>"
     data-model-text-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::name()?>"
     data-value="admin"
     data-model-length="0"
     data-option-template="@"
     data-placeholder="请选择">
    <template data-template="option">
        <i class="fa fa-list-ul"></i> {{text}}
    </template>
    <select></select>
</div>

<hr />

<div data-clear="true"
     data-toggle="busy-select"
     data-model="<?=\BusyPHP\app\admin\model\system\config\SystemConfig::class;?>"
     data-model-id-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::type()?>"
     data-model-text-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::name()?>"
     data-value="admin"
     data-model-length="0"
     data-option-template="@"
     data-placeholder="请选择"
     data-multiple="true">
    <template data-template="option">
        <i class="fa fa-user-circle-o"></i> {{text}}
    </template>
</div>
    </script>
    
    <script type="text/html" id="demo6" class="hide">
<div data-clear="true"
     data-toggle="busy-select"
     data-model="<?=\BusyPHP\app\admin\model\system\config\SystemConfig::class;?>"
     data-model-id-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::type()?>"
     data-model-text-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::name()?>"
     data-value="admin"
     data-model-length="0"
     data-selected-template="@"
     data-placeholder="请选择">
    <template data-template="selected">
        <i class="fa fa-user-circle-o"></i> {{text}}
    </template>
</div>
<hr />
<div data-clear="true"
     data-toggle="busy-select"
     data-model="<?=\BusyPHP\app\admin\model\system\config\SystemConfig::class;?>"
     data-model-id-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::type()?>"
     data-model-text-field="<?=\BusyPHP\app\admin\model\system\config\SystemConfigField::name()?>"
     data-value="admin"
     data-model-length="0"
     data-selected-template="@"
     data-placeholder="请选择"
     data-multiple="true">
    <template data-template="selected">
        <i class="fa fa-plane"></i> {{text}}
    </template>
</div>
    </script>

    <script type="text/html" id="demo7" class="hide">
<select class="form-control"
        data-toggle="busy-select"
        data-tags="true"
        data-clear="true"
        data-placeholder="请输入内容按回车创建">
    <option></option>
    <option value="1">百度</option>
    <option value="2">腾讯</option>
    <option value="3">阿里</option>
</select>
<hr/>
请输入标签，用逗号或空格分割
<select class="form-control"
        data-toggle="busy-select"
        data-tags="true"
        data-tags-space='[","," "]'
        data-placeholder="请输入标签，用逗号或空格分割"
        multiple>
    <option></option>
    <option value="1">百度</option>
    <option value="2">腾讯</option>
    <option value="3">阿里</option>
</select>
    </script>

    <script type="text/html" id="demo8" class="hide">
<div class="form-group-title">普通</div>

<hr />
<p><code>.input-lg</code></p>

<div class="row row-gutters-5">
    <div class="col-sm-4">
        <select class="form-control input-lg">
            <option value="">请选择</option>
            <option value="1">百度</option>
            <option value="2">腾讯</option>
            <option value="3" selected>阿里</option>
        </select>
    </div>
    <div class="col-sm-4">
        <select class="form-control input-lg" data-toggle="busy-select" data-placeholder="请选择" data-clear="true">
            <option value="1">百度</option>
            <option value="2" selected>腾讯</option>
            <option value="3">阿里</option>
        </select>
    </div>
    <div class="col-sm-4">
        <select class="form-control input-lg" data-toggle="busy-select" data-placeholder="请选择" data-clear="true" multiple>
            <option value="1" selected>百度</option>
            <option value="2">腾讯</option>
            <option value="3" selected>阿里</option>
            <option value="4">饿了吗</option>
            <option value="5" selected>美团</option>
            <option value="6">抖音</option>
        </select>
    </div>
</div>

<hr />
<p><code>默认大小</code></p>

<div class="row row-gutters-5">
    <div class="col-sm-4">
        <select class="form-control">
            <option value="">请选择</option>
            <option value="1">百度</option>
            <option value="2">腾讯</option>
            <option value="3" selected>阿里</option>
        </select>
    </div>
    <div class="col-sm-4">
        <select class="form-control" data-toggle="busy-select" data-placeholder="请选择" data-clear="true">
            <option value="1">百度</option>
            <option value="2" selected>腾讯</option>
            <option value="3">阿里</option>
        </select>
    </div>
    <div class="col-sm-4">
        <select class="form-control" data-toggle="busy-select" data-placeholder="请选择"  data-clear="true" multiple>
            <option value="1" selected>百度</option>
            <option value="2">腾讯</option>
            <option value="3" selected>阿里</option>
            <option value="4">饿了吗</option>
            <option value="5" selected>美团</option>
            <option value="6">抖音</option>
        </select>
    </div>
</div>

<hr />
<p><code>.input-sm</code></p>

<div class="row row-gutters-5">
    <div class="col-sm-4">
        <select class="form-control input-sm">
            <option value="">请选择</option>
            <option value="1">百度</option>
            <option value="2">腾讯</option>
            <option value="3" selected>阿里</option>
        </select>
    </div>
    <div class="col-sm-4">
        <select class="form-control input-sm" data-toggle="busy-select" data-placeholder="请选择" data-clear="true">
            <option value="1">百度</option>
            <option value="2" selected>腾讯</option>
            <option value="3">阿里</option>
        </select>
    </div>
    <div class="col-sm-4">
        <select class="form-control input-sm" data-toggle="busy-select" data-placeholder="请选择" data-clear="true" multiple>
            <option value="1" selected>百度</option>
            <option value="2">腾讯</option>
            <option value="3" selected>阿里</option>
            <option value="4">饿了吗</option>
            <option value="5" selected>美团</option>
            <option value="6">抖音</option>
        </select>
    </div>
</div>

<hr />
<p><code>.input-xs</code></p>

<div class="row row-gutters-5">
    <div class="col-sm-4">
        <select class="form-control input-xs">
            <option value="">请选择</option>
            <option value="1">百度</option>
            <option value="2">腾讯</option>
            <option value="3" selected>阿里</option>
        </select>
    </div>
    <div class="col-sm-4">
        <select class="form-control input-xs" data-toggle="busy-select" data-placeholder="请选择" data-clear="true">
            <option value="1">百度</option>
            <option value="2" selected>腾讯</option>
            <option value="3">阿里</option>
        </select>
    </div>
    <div class="col-sm-4">
        <select class="form-control input-xs" data-toggle="busy-select" data-placeholder="请选择" data-clear="true" multiple>
            <option value="1" selected>百度</option>
            <option value="2">腾讯</option>
            <option value="3" selected>阿里</option>
            <option value="4">饿了吗</option>
            <option value="5" selected>美团</option>
            <option value="6">抖音</option>
        </select>
    </div>
</div>

<hr />

<div class="form-group-title">组合</div>

<hr />
<p><code>.input-group-lg</code></p>

<div class="input-group input-group-lg">
    <select class="form-control" data-toggle="busy-select" data-placeholder="请选择" data-clear="true">
        <option value="1">百度</option>
        <option value="2" selected>腾讯</option>
        <option value="3">阿里</option>
    </select>
    <div class="input-group-addon no-border-left no-border-right">选项</div>
    <select class="form-control" data-toggle="busy-select" data-placeholder="请选择" data-clear="true" multiple>
        <option value="1">百度</option>
        <option value="2" selected>腾讯</option>
        <option value="3" >阿里</option>
        <option value="4" selected>饿了吗</option>
        <option value="5" >美团</option>
        <option value="6">抖音</option>
    </select>
</div>

<hr />
<p><code>默认大小</code></p>

<div class="input-group">
    <select class="form-control" data-toggle="busy-select" data-placeholder="请选择" data-clear="true">
        <option value="1">百度</option>
        <option value="2" selected>腾讯</option>
        <option value="3">阿里</option>
    </select>
    <div class="input-group-addon no-border-left no-border-right">选项</div>
    <select class="form-control" data-toggle="busy-select" data-placeholder="请选择" data-clear="true" multiple>
        <option value="1">百度</option>
        <option value="2" selected>腾讯</option>
        <option value="3" >阿里</option>
        <option value="4" selected>饿了吗</option>
        <option value="5" >美团</option>
        <option value="6">抖音</option>
    </select>
</div>

<hr />
<p><code>.input-group-sm</code></p>

<div class="input-group input-group-sm">
    <select class="form-control" data-toggle="busy-select" data-placeholder="请选择" data-clear="true">
        <option value="1">百度</option>
        <option value="2" selected>腾讯</option>
        <option value="3">阿里</option>
    </select>
    <div class="input-group-addon no-border-left no-border-right">选项</div>
    <select class="form-control" data-toggle="busy-select" data-placeholder="请选择" data-clear="true" multiple>
        <option value="1">百度</option>
        <option value="2" selected>腾讯</option>
        <option value="3" >阿里</option>
        <option value="4" selected>饿了吗</option>
        <option value="5" >美团</option>
        <option value="6">抖音</option>
    </select>
</div>

<hr />
<p><code>.input-group-xs</code></p>

<div class="input-group input-group-xs">
    <select class="form-control" data-toggle="busy-select" data-placeholder="请选择" data-clear="true">
        <option value="1">百度</option>
        <option value="2" selected>腾讯</option>
        <option value="3">阿里</option>
    </select>
    <div class="input-group-addon no-border-left no-border-right">选项</div>
    <select class="form-control" data-toggle="busy-select" data-placeholder="请选择" data-clear="true" multiple>
        <option value="1">百度</option>
        <option value="2" selected>腾讯</option>
        <option value="3" >阿里</option>
        <option value="4" selected>饿了吗</option>
        <option value="5" >美团</option>
        <option value="6">抖音</option>
    </select>
</div>

<hr />

<div class="form-group-title">内联</div>

<hr />
<form class="form-inline" onsubmit="return false;" data-toggle="">
    <div class="input-group">
        <div class="input-group-addon">关键词</div>
        <input type="text" class="form-control" placeholder="关键词"/>
    </div>
    <div class="input-group">
        <div class="input-group-addon">选择项</div>
        <select class="form-control" data-toggle="busy-select" data-placeholder="请选择" data-clear="true">
            <option value="1">百度</option>
            <option value="2" selected>腾讯</option>
            <option value="3">阿里</option>
        </select>
    </div>
    <div class="input-group">
        <div class="input-group-addon">选择项</div>
        <select class="form-control" data-toggle="busy-select" data-placeholder="请选择" data-clear="true" multiple>
            <option value="1">百度</option>
            <option value="2" selected>腾讯</option>
            <option value="3">阿里</option>
        </select>
    </div>
    <button class="btn btn-primary">搜索</button>
    <button class="btn btn-default" type="reset">重置</button>
</form>
    </script>

    <script id="demo20" type="text/html">
<a class="btn btn-primary" data-toggle="busy-modal" data-content="#modalContent">打开模态框</a>
<template id="modalContent">
    <div style="height: 1000px;">
        <select class="form-control"
                data-toggle="busy-select"
                data-placeholder="请选择">
            <option></option>
            <option value="1">张三</option>
            <option value="2">李四</option>
            <option value="3">王武</option>
        </select>
    </div>
</template>
    </script>
</block>