<extend name="@admin:layout"/>
<block name="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{$system.page_title}</h3>
        </div>
        <div class="panel-body no-padding-bottom">
            <script type="text/x-markdown" id="markdown">
### 开始

本组件属于内置组件，无需引用即可使用，本组件只介绍常用方法及本组件定制的方法，其他方法及事件请参考：[官方手册](https://bootstrap-table.com/docs/getting-started/introduction/)

### 使用

通过在`table`标签上加上自定义属性 `data-toggle="busy-table"` 来触发

```html
<table data-toggle="busy-table"></table>
```

### 标签属性

| 属性:240 | 类型:100 | 必须: 100 | 默认值: 100 | 描述 |
| - | :-: | :--: | :-: | - |
| 基本属性:title |  |  |  |  |
| data-type | string | `是` | `ajax` | 初始化组件属性，支持：`html`,`ajax` |
| data-height | number,string,DOM,jQueryElement | 否 | - | 设置表高度或高度计算依赖节点，设置后表头和表尾将固定，设置`auto`则自动计算高度 |
| data-no-data-text | string | 否 | - | 设置无数据提示内容 |
| data-route | boolean | 否 | `false` | 是否启用路由管理，启用后可以通过URL复原表格 |
| 异步加载:title |  |  |  |  |
| data-url | string | `否` | - | 设置异步请求的URL |
| data-model | string | `否` | - | 设置自动获取数据的模型类名称 |
| data-model-extend | boolean | `否` | `false` | 查询模型的数据是否包涵扩展数据 |
| data-state | string,boolean | `否` | `false` | 是否记录表格内状态，设为`string`为记录状态的参数名称，防止和其它表格冲突。默认为当前URL |
| data-state-key | string | `否` | `document.URL` | 记录状态的参数名称，防止和其它表格冲突。默认为当前URL，优先于 `data-state` 设置 |
| 分页:title |  |  |  |  |
| data-pagination | boolean | 否 | `true` | 设置是否显示分页 |
| 搜索:title |  |  |  |  |
| data-search | boolean,string | 否 | `false` | 是否显示搜索，或自定义搜索表单的jQuery选择器 |
| data-search-align | string | 否 | `right` | 设置搜索框对齐方向，支持`left`，`right` |
| data-show-search-button | boolean | 否 | `true` | 默认搜索框是否显示搜索按钮 |
| data-show-search-clear-button | boolean | 否 | `true` | 默认搜索框是否显示清空按钮 |
| 工具栏按钮:title |  |  |  |  |
| data-show-columns | boolean | 否 | `false` | 是否显示列筛选 |
| data-show-print | boolean | 否 | `false` | 是否显示打印选项 |
| data-show-fullscreen | boolean | 否 | `false` | 是否显示全屏按钮，`目前不兼容，谨慎使用` |
| data-show-toggle | boolean | 否 | `false` | 是否显示列切换视图按钮 |
| data-show-export | boolean | 否 | `false` | 是否显示导出选项 |
| data-export-types | string | 否 | `excel` | 导出类型，多个用英文逗号分割，支持：`excel`, `csv`, `xml`, `json`, `txt` |
| data-show-button-text | boolean | 否 | `false` | 是否显示工具栏按钮文本 |
| data-toolbar | string | 否 | - | 设置自定义工具栏的jQuery选择器 |
| data-buttons | string,Function | 否 | - | 设置自定义按钮的回调方法 |
| 拖拽:title |  |  |  |  |
| data-resizable | boolean | 否 | `false` | 是否启用列宽度拖拽，`目前不兼容，谨慎使用` |
| data-reorderable-rows | boolean | 否 | `false` | 是否启用表格行拖拽排序，`该功能 与 固定列功能不兼容` |
| data-reorderable-columns | boolean | 否 | `false` | 是否启用表格列位置拖拽排序，`目前不兼容，谨慎使用`  |
| 单选/多选:title |  |  |  |  |
| data-checkbox-header | boolean | 否 | `true` | 是否在表头显示checkbox |
| data-click-to-select | boolean | 否 | `false` | 点击行是否选中checkbox |
| data-id-field | string | 否 | `id` | 指定checkbox或radio的value取值字段 |
| data-select-item-name | string | 否 | `id[]` | 指定checkbox或radio的name属性 |
| 树结构:title |  |  |  |  |
| data-tree-show-field | string | 否 | - | 指定树结构显示的字段，设置后表格将展示树状结构 |
| data-parent-id-field | string | 否 | `parent_id` | 指定树结构依赖字段名称 |
| data-tree-state | boolean | 否 | `false` | 是否记录树结构状态 |
| 固定表头:title |  |  |  |  |
| data-sticky-header | boolean | 否 | `false` | 是否启用滚动固定表头 |
| data-sticky-header-offset-y | number | 否 | 0 | 滚动固定表头的上偏移 |
| data-sticky-header-offset-left | number,string | 否 | 0 | 滚动固定表头的左偏移，可以携带单位 |
| data-sticky-header-offset-right | number,string | 否 | 0 | 滚动固定表头的右偏移，可以携带单位 |
| 固定列:title |  |  |  |  |
| data-fixed-columns | boolean | 否 | `false` | 是否启用固定列功能 |
| data-fixed-number | number | 否 | 0 | 设置固定左侧的多少列 |
| data-fixed-right-number | number | 否 | 0 | 设置固定右侧的多少列 |

### 列属性

通过在`thead th`标签上加上自定属性

| 属性:240 | 类型:100 | 必须: 100 | 默认值: 100 | 描述 |
| - | :-: | :--: | :-: | - |
| 基本属性:title |  |  |  |  |
| data-title | string | 否 | - | 指定列名称 |
| data-field | string | 否 | - | 指定列字段 |
| data-width | number | 否 | - | 设置该列的宽度 |
| data-width-unit | string | 否 | `px` | 设置列宽度单位，支持各种css单位 |
| 单选/多选:title |  |  |  |  |
| data-checkbox | boolean | 否 | - | 指定列是否checkbox复选框 |
| data-checkbox-enabled | boolean | 否 | `true` | 是否启用checkbox复选框 |
| data-radio | boolean | 否 | `false` | 指定列是否radio单选框 |
| data-show-select-title | boolean | 否 | `false` | 是否在表头显示单选的名称，`data-radio`为`true`有效 |
| data-click-to-select | boolean | 否 | `true` | 点击该单元格是否允许选中列 |
| 对齐方式:title |  |  |  |  |
| data-halign | string | 否 | `left` | 设置表头对齐方式，支持：`left`, `center`, `right` |
| data-align | string | 否 | `left` | 设置数据对齐方式，支持：`left`, `center`, `right` |
| data-falign | string | 否 | `left` | 设置表尾 对齐方式，支持：`left`, `center`, `right` |
| data-valign | string | 否 | `middle` | 设置垂直对齐方式，支持：`top`, `middle`, `bottom` |
| 隐藏/显示:title |  |  |  |  |
| data-visible | boolean | 否 | `true` | 设置是否显示该列 |
| data-show-columns | boolean | 否 | `true` | 是否允许列隐藏显示控制 |
| data-column-title | string | 否 | - | 指定控制列显示隐藏的选项名称，默认使用`title` |
| data-switchable | boolean | 否 | `true` | 是否允许该列被用户自定义显示隐藏 |
| 排序:title |  |  |  |  |
| data-sortable | boolean | 否 | `false` | 指定是否启用列排序 |
| data-sort-order | string | 否 | `asc` | 指定列排序的默认排序方式，支持：`asc`, `desc` |
| data-sort-name | string | 否 | - | 指定列排序的字段 |
| 搜索:title |  |  |  |  |
| data-searchable | boolean | 否 | `true` | 是否允许搜索，ajax模式下默认不允许搜索 |
| 表尾:title |  |  |  |  |
| data-footer-formatter | string | 否 | - | 设置`tfoot`下该单元格的内容处理回调 `window全局方法`，回调参数：<br />**this**：列属性对象<br />**data**：表数据<br />**value**：该单元格原来的内容 |
| 内容:title |  |  |  |  |
| data-escape | boolean | 否 | `false` | 内容包涵html节点是否原样输出 |
| data-event | string | 否 | - | 设置自定义单元格事件 `window全局变量名称` |
| data-formatter | string | 否 | - | 设置自定义内容单元格的处理回调，`@`则使用 `artTemplate` 模板引擎解析 |
| 样式:title |  |  |  |  |
| data-cell-style | string,Function | 否 | - | 设置列样式回调方法，支持 `window全局变量名称`，返回 `{classes: '类名', css: '样式'}` |
| data-row-style | string,Function | 否 | - | 设置行样式回调方法，支持 `window全局变量名称`，返回 `{classes: '类名', css: '样式'}` |

### 自定义`data-toolbar`中的元素属性

可以通过对元素加上自定属性实现一些扩展功能

| 属性:240 | 类型:100 | 必须: 100 | 默认值: 100 | 描述 |
| - | :-: | :--: | :-: | - |
| 基本:title |  |  |  |  |
| data-disabled | true | 否 | - | 设置后元素被初始化为默认禁用状态，只有数据被选中才允许使用 |
| 执行请求，扩展自 [自动请求]({:url('request')}) 组件，更多属性请直接参考该组件:title |  |  |  |  |
| data-url | true,string | 是 | - | 设置点击该元素要异步请求的url，`设置后才能触发自动请求` |
| data-field | string | 是 | `id` | 设置请求需要携带的值从表数据中通过该字段访问，支持设置键值分别获取字段，格式`键字段,值字段` |
| data-name | true,string | 否 | `true` | 设置携带值的参数名，true为`data-field`值 |
| data-checked | boolean | 否 | `false` | 设置携带的值是否只包涵选中项的数据 |
| data-params | object,false | 否 | - | 设置携带的自定义参数，设为false则不携带任何参数 |


### 自定义`td`中的元素属性

可以通过对元素加上自定属性实现一些扩展功能

| 属性:240 | 类型:100 | 必须: 100 | 默认值: 100 | 描述 |
| - | :-: | :--: | :-: | - |
| data-bind | boolean,string | 否 | - | 针对表单元素有效，设置后，表单元素内容发生改变，对应的单元格数据也会发生改变 |

### 使用示例

#### HTML表格
```demo:实例
#demo1
```

#### Ajax表格
```demo:实例
#demo2
```
            </script>
        </div>
    </div>

    <template class="hide" id="demo1">
        <table data-toggle="busy-table"
               data-height="300">
            <thead>
                <tr>
                    <th rowspan="2" data-valign="middle">名称</th>
                    <th colspan="3">详情</th>
                </tr>
                <tr>
                    <th>关注数</th>
                    <th>浏览数</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <for name="index" start="1" end="100">
                    <tr>
                        <td>张三{$index}</td>
                        <td><?=rand(0, 9999)?></td>
                        <td><?=rand(0, 9999)?></td>
                        <td><?=rand(0, 9999)?></td>
                    </tr>
                </for>
            </tbody>
        </table>
    </template>


    <template class="hide" id="demo2">
        <table class="table table-hover table-bordered table-striped"
               data-toggle="busy-table"
               data-height="300"
               data-fixed-columns="true"
               data-fixed-right-number="1"
               data-model="<?=\BusyPHP\app\admin\model\system\logs\SystemLogs::class;?>">
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="name">操作名称</th>
                    <th data-field="format_create_time">创建时间</th>
                    <th data-field="operate" data-align="center" data-formatter="@">操作</th>
                </tr>
            </thead>
        </table>
        
        <script type="text/html" id="operate">
            <a class="btn btn-success btn-xs" data-toggle="busy-modal" data-method="post" data-url="{:url('modal?action=demo2')}" data-form-on-success="@table.reload"><i class="fa fa-plus"></i></a>
        </script>
    </template>
</block>