<extend name="@admin:layout"/>
<block name="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{$system.page_title}</h3>
        </div>
        <div class="panel-body no-padding-bottom">
            <script type="text/x-markdown" id="markdown">
### 开始

本组件属于内置组件，无需引用即可使用

### 使用

通过在标签上加上自定义属性 `data-toggle="busy-tree"` 来触发

```html
<div data-toggle="busy-tree">
    <!--可选-->
    <select name="tree_id[]" data-template="main"></select>
    <select name="uncertain_id[]" data-template="uncertain"></select>
</div>
```

### 属性

| 属性:240 | 类型:400 | 必须: 100 | 默认值: 100 | 描述 |
| - | :- | :-: | :-: | - |
| data-dots | boolean | 否 | `true` | 是否显示连线 |
| data-icons | boolean | 否 | `true` | 是否显示图标 |
| data-ellipsis | boolean | 否 | `false` | 内容超出时是否显示省略号 |
| data-stripes | boolean | 否 | `false` | 是否显示隔行换色 |
| data-block | boolean | 否 | `false` | 设置每个节点显示为块级别 |
| data-leaf-tile | boolean | 否 | `false` | 设置叶节点是否平铺 |
| data-empty-text | string | 否 | `无选项` | 空内容提示文案 |
| data-operate | **Array**<br />设置允许的操作，支持：create_node,rename_node,delete_node,move_node,copy_node,edit <br /><br />**Boolean**<br />`true` 允许所有操作，`false` 拒绝所有操作 <br /><br />**Function(operation:String, node:Object, nodeParent:String, nodePosition:Number, more:?) : Boolean** <br />设置自定义回调，返回`true`允许对应操作，否则阻止对应操作<br /><br />**String**<br />`window全局方法名`，参数同自定义回调一致 | 否 | `false` | 设置是否允许操作 |
| data-animation | false,number | 否 | `200` | 设置动画延时，设为`false`则关闭动画 |
| data-multiple | boolean | 否 | `true` | 设置是否允许多选 |
| data-expand-selected-onload | boolean | 否 | `false` | 设置所有选中节点是否在初始化完成后展开 |
| data-force-text | boolean | 否 | `false` | 是否强制将节点文本转换为纯文本(移除html) |
| 异步加载:title |  |  |  |  |
| data-url | string | 否 | - | 设置异步请求的URL |
| data-method | string | 否 | `get` | 设置请求方式，支持`get`, `post` |
| data-params | object,Function | 否 | - | 请求的参数，支持闭包 |
| data-async-node | boolean | 否 | `false` | 异步节点是否延迟获取 |
| data-model | string | 否 | - | 设置自动获取数据的模型类名称，与 `data-url` 互斥 |
| data-model-extend | boolean | 否 | `false` | 查询模型的数据是否包涵扩展数据 |
| data-model-order | string | 否 | - | 设置模型数据排序方式，多个用英文逗号分割，如：`id DESC` |
| data-model-id-field | string | 否 | `id` | 取模型数据`ID`的字段 |
| data-model-parent-field | string | 否 | `parent_id` | 取模型数据`上级ID`的字段 |
| data-model-name-field | string | 否 | `name` | 取模型数据`名称`的字段 |
| data-model-icon-field | string | 否 | `icon` | 取模型数据`图标`的字段 |
| data-model-disabled-field | string | 否 | `disabled` | 取模型数据`是否禁用`的字段 |
| Data:title |  |  |  |  |
| data-data | string | 否 | - | 设置初始化的数据，支持html、json格式的数据 |
| 复选框:title |  |  |  |  |
| data-checkbox | boolean | 否 | `false` | 是否启用复选框 |
| data-checkbox-relation | boolean | 否 | `true` | 设置复选框勾选是否关联上下层级 |
| data-checkbox-relation-dir | string | 否 | - | 设置复选框关联影响的方式，`up`：向上影响，`down`：向下影响，`undetermined`：半选 |
| data-checkbox-relation-disabled | boolean | 否 | `true` | 设置复选框关联是否影响禁用的复选框 |
| data-checkbox-relation-hidden | boolean | 否 | `true` | 设置复选框关联是否影响隐藏的复选框 |
| data-checkbox-keep-selected-style | boolean | 否 | `false` | 是否保留选中样式 |
| data-checkbox-tie-selection | boolean | 否 | `true` | 设置复选框事件绑定到核心事件触发，还是单独触发 |
| data-name | string | 否 | `tree_id[]` | 表单参数名称，如果该组件在`form`标签内，选中项将自动填充到表单中 |
| data-uncertain-name | string | 否 | - | 不确定选中项参数名称，如果该组件在`form`标签内，半选(未确定)项将自动填充到表单中 |
| 右键菜单:title |  |  |  |  |
| data-contextmenu | boolean | 否 | `false` | 是否显示右键菜单 |
| data-contextmenu-items | **Function(node:Object) : Object** <br /> 自定义右键菜单回调，参考：https://www.jstree.com/api/#/?f=$.jstree.defaults.contextmenu.items<br /><br />**String**<br />`window全局方法名`，参数同自定义回调一致 | 否 | `false` | 是否显示右键菜单 |

### JSON数据格式

```json
// 通用JSON格式
{
  "id"          : "string" // 节点ID，如果省略，将自动生成
  "text"        : "string" // 节点名称
  "icon"        : "string" // 节点图标，支持字体图标、图片
  "state"       : {
    "opened"    : boolean  // 是否默认打开
    "disabled"  : boolean  // 是否禁用
    "selected"  : boolean  // 是否默认选中
  },
  "children"    : []  // 子节点，格式相同
  "li_attr"     : {}  // 自定义li节点的属性
  "a_attr"      : {}  // 自定义a节点的属性
}


// 无子节点JSON格式
{
  "id"          : "string" // 节点ID，必须
  "parent"      : "string" // 父节点ID，必须
  "text"        : "string" // 节点名称
  "icon"        : "string" // 节点图标，支持字体图标、图片
  "state"       : {
    "opened"    : boolean  // 是否默认打开
    "disabled"  : boolean  // 是否禁用
    "selected"  : boolean  // 是否默认选中
  },
  "li_attr"     : {}  // 自定义li节点的属性
  "a_attr"      : {}  // 自定义a节点的属性
}
```

### 使用示例

#### 基本演示

```demo:实例
#demo1
```

#### 异步演示
```demo:实例
#demo2
```

#### JSON演示
```demo:实例
#demo3
```

#### 扩展节点HTML

> 通过给组件标签设置自定属性 `data-node-extend="@|Function"` 即可扩展节点HTML

----------

**`baTemplate`模版引擎支持变量**：<br />
- `id:string` - 节点`id`
- `text:string` - 节点`text`
- `group:boolean` - 是否分组
- `icon:string` - 节点图标
- `a_attr:object` - `a`标签自定义属性
- `li_attr:object` - `li`标签自定义属性
- `parent:string` - 根节点`id`
- `parents:[string]` - 上级节点`id`集合
- `state.disabled:boolean` - 节点是否被禁用
- `state.loaded:boolean` - 节点是否加载完成
- `state.opened:boolean` - 节点是否已打开
- `state.selected:boolean` - 节点是否已选中
- `original:object` - 节点源数据，可以在里面获取到数据源，如：`{{original.source}}`
- `children:[string]` - 下级节点`id`集合
- `children_d:[string]` - 所有下级节点`id`集合


**赋值 `data-node-extend="@"`**


系统会查找在组件标签内包含自定义属性 `data-template="node-extend"` 的模版标签作为渲染模版。

```HTML
<div data-toggle="busy-tree">
    <template data-template="node-extend">{{text}}</template>
</div>
```

```demo:实例
#demo5
```

#### 表单获取
```demo:实例
#demo4
```
            </script>
        </div>
    </div>

    <template class="hide" id="demo1">
<button class="btn btn-primary" id="demo1_btn1" onclick="busyAdmin.dialog.alert(JSON.stringify($('#demo1_tree').baTree('getChecked')))">获取选中值</button>
<button class="btn btn-primary" id="demo1_btn2" onclick="$('#demo1_tree').baTree('checkAll');">全选</button>
<button class="btn btn-primary" id="demo1_btn3" onclick="$('#demo1_tree').baTree('uncheckAll');">取消全选</button>
<button class="btn btn-primary" id="demo1_btn4" onclick="$('#demo1_tree').baTree('checkNode', ['demo1_tree_1', 'demo1_tree_2']);">选中指定节点</button>
<button class="btn btn-primary" id="demo1_btn5" onclick="$('#demo1_tree').baTree('openAll')">展开节点</button>
<button class="btn btn-primary" id="demo1_btn6" onclick="$('#demo1_tree').baTree('closeAll');">关闭节点</button>
<button class="btn btn-primary" id="demo1_btn7" onclick="$('#demo1_tree').baTree('openNode', 'demo1_tree_1')">展开指定节点</button>
<button class="btn btn-primary" id="demo1_btn8" onclick="$('#demo1_tree').baTree('closeNode', 'demo1_tree_1')">关闭指定节点</button>
<button class="btn btn-primary" id="demo1_btn9" onclick="$('#demo1_tree').baTree('hideDots')">隐藏连线</button>
<button class="btn btn-primary" id="demo1_btn10" onclick="$('#demo1_tree').baTree('showDots')">显示连线</button>
<button class="btn btn-primary" id="demo1_btn11" onclick="$('#demo1_tree').baTree('hideIcons')">隐藏图标</button>
<button class="btn btn-primary" id="demo1_btn12" onclick="$('#demo1_tree').baTree('showIcons')">显示图标</button>
<button class="btn btn-primary" id="demo1_btn13" onclick="$('#demo1_tree').baTree('hideCheckboxes')">隐藏复选框</button>
<button class="btn btn-primary" id="demo1_btn14" onclick="$('#demo1_tree').baTree('showCheckboxes')">显示复选框</button>
<br/>
<br/>

<div data-toggle="busy-tree" id="demo1_tree" data-block="true" data-operate="true" data-contextmenu="true" data-contextmenu-items="customContextMenu" data-checkbox="true" data-expand-selected-onload="true">
    <ul>
        <li disabled="">
            根节点 1
            <ul>
                <li id="demo1_tree_1" data-selected="true">
                    子节点1
                    <ul>
                        <li>子节点1-1</li>
                        <li>子节点2-1</li>
                    </ul>
                </li>
                <li>子节点2</li>
            </ul>
        </li>
        <li data-icon="fa fa-plus">
            根节点 2
            <ul>
                <li data-selected="true">子节点11</li>
                <li id="demo1_tree_2">子节点22</li>
            </ul>
        </li>
    </ul>
</div>

<script>
    // 自定义菜单
    busyAdmin.data.customContextMenu = function (node) {
        return {
            menu1 : {
                separator_before : false,   // 是否显示上线
                separator_after  : false,   // 是否显示下线
                _disabled        : false,   // 是否禁用
                label            : '菜单1', // 菜单名称
                icon             : 'fa fa-plus',    // 菜单图标
                action           : function (api) {     // 菜单点击
                    busyAdmin.dialog.toast('点击了菜单1')
                }
            },
            menu2 : {
                separator_before : true,
                label            : '更多',
                action           : false,
                submenu          : {
                    menu3 : {
                        label : '菜单3',
                    },
                    menu4 : {
                        label : '菜单4',
                    }
                }
            }
        };
    };

    $(function () {
        $('#demo1_tree').on(busyAdmin.e.treeClickNode, function (e, tree, node, event) {
            busyAdmin.dialog.toast(node.text)
        });
    })
</script>
    </template>

    <template class="hide" id="demo2">
<div data-toggle="busy-tree"
     data-checkbox="true"
     data-url="{:url('system_menu/data')}"
     data-model-id-field="<?=\BusyPHP\app\admin\model\system\menu\SystemMenuField::path()?>"
     data-model-parent-field="<?=\BusyPHP\app\admin\model\system\menu\SystemMenuField::parentPath()?>"
     data-async-node="false"></div>
    </template>

    <script type="text/html" class="hide" id="demo3">
<div data-toggle="busy-tree" id="demo3_tree" data-checkbox="true" data-data='[{"id":1, "text": "节点1", "state":{"selected":true}},{"id":2, "text": "节点2", "children":["节点1-1", "节点1-2"]}]'></div>
    </script>

    <template class="hide" id="demo5">
<div data-toggle="busy-tree"
     data-checkbox="true"
     data-node-extend="@"
     data-url="{:url('system_menu/data')}"
     data-async-node="false">
    <script type="text/html" data-template="node-extend">
        <span> 自定义 <i class="{{icon}}"></i></span>
    </script>
</div>
    </template>

    <template type="text/html" class="hide" id="demo4">
<form id="demo4_form">
    请输入内容
    <input type="text" class="form-control" name="name" placeholder="请输入内容"/>
    <br/>
    请选择节点
    <br/>
    <div id="demo4_tree" data-toggle="busy-tree" data-name="tree_id[]" data-checkbox="true" data-data='demo4Data'>
        <select name="tree_id[]" data-template="main"></select>
        <select name="uncertain_id[]" data-template="uncertain"></select>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">提交表单</button>
    <button type="reset" class="btn btn-default">重置</button>
</form>
<script>
    busyAdmin.data.demo4Data = [{"id":1, "text": "节点1", "state":{"selected":true}},{"id":2, "text": "节点2", "children":["节点1-1", "节点1-2"]}];
    $(function () {
        $('#demo4_form').on('submit', function () {
            busyAdmin.dialog.alert(JSON.stringify($(this).serializeArray()));

            return false;
        });
    })
</script>
    </template>
</block>