<extend name="@admin:layout"/>
<block name="content">
    <div class="page-header">
        <h4 class="page-header-title">
            {$system.page_title}
            <small>在线管理通过 <code>composer</code>
                安装后的插件，更多插件请前往：<a href="https://packagist.org/?query=busyphp%2F" target="_blank">https://packagist.org/</a>
                进行搜索关键词： <kbd>busyphp/</kbd></small>
        </h4>
    </div>

    <div data-toggle="busy-table"
         data-state="__ROUTE__"
         data-search="true"
         data-search-align="left"
         data-show-columns="true"
         data-show-print="true"
         data-show-refresh="true"
         data-show-export="true"
         data-export-filename="{$system.page_title}-%s"
         data-url="__URL__"
         data-height="true"
         data-bordered="true"
         data-route="true"
         data-pagination="false">
        <table class="table table-striped table-hover">
            <thead class="thead-light">
                <tr>
                    <th data-field="name"
                        data-title="名称"
                        data-min-width="120"
                        data-show-overflow="true"
                        data-formatter="@">
                        <script type="text/html">
                            <ba-if value="item.homepage">
                                <a href="{{item.homepage}}" title="点击查看教程" target="_blank">{{value}}</a>
                                <ba-else/>
                                {{value}}
                            </ba-if>
                        </script>
                    </th>

                    <th data-field="description"
                        data-title="说明"
                        data-min-width="300"
                        data-formatter="@">
                        <script type="text/html">
                            {{@ value || '暂无说明'}}
                        </script>
                    </th>

                    <th data-min-width="120"
                        data-field="authors"
                        data-title="开发方"
                        data-formatter="@">
                        <script type="text/html">
                            <ba-each value="value vo">
                                <a class="btn btn-outline-primary btn-xs" href="mailto:{{vo.email}}" data-toggle="tooltip" title="{{vo.email}}">{{vo.name}}</a>
                            </ba-each>
                        </script>
                    </th>

                    <th data-min-width="120"
                        data-field="package"
                        data-title="包名"
                        data-show-overflow="true"
                        data-formatter="@">
                        <script type="text/html">
                            <code>{{value}}</code>
                        </script>
                    </th>

                    <th width="100"
                        data-field="version"
                        data-title="版本号"
                        data-show-overflow="true"
                        data-formatter="@">
                        <script type="text/html">
                            <span class="badge badge-secondary">{{value}}</span>
                        </script>
                    </th>

                    <th class="text-center"
                        width="140"
                        data-title="操作"
                        data-fixed-right="true"
                        data-print-ignore="true"
                        data-tableexport-display="false"
                        data-formatter="@">
                        <script type="text/html">
                            <ba-if value="item.can_install">
                                <ba-if value="item.install_config.install_operate.type !== `modal`">
                                    <a class="btn btn-success btn-xs"
                                       data-toggle="busy-request"
                                       data-confirm="{{item.install_config.install_operate.request_confirm || ('确认要安装 <code>'+ item.package +'</code> 插件吗？')}}"
                                       data-on-success="{{item.install_config.install_operate.success || '@table.reload'}}"
                                       data-confirm-ok="安装"
                                       data-url="{:url('install?package=')}{{item.package}}">安装</a>
                                    <ba-else/>
                                    <a class="btn btn-success btn-xs"
                                       data-toggle="busy-modal"
                                       data-ok="安装"
                                       data-size="{{item.install_config.install_operate.modal_size || ''}}"
                                       data-form-on-success="{{item.install_config.install_operate.success || '@table.reload|@modal.close'}}"
                                       data-url="{:url('install?package=')}{{item.package}}">安装</a>
                                </ba-if>
                            </ba-if>

                            <ba-if value="item.can_setting">
                                <a class="btn btn-default btn-xs"
                                   data-toggle="busy-modal"
                                   data-type="{{item.setting_config.type || 'form'}}"
                                   data-form-on-success="{{item.setting_config.success || '@modal.close'}}"
                                   data-size="{{item.setting_config.size || ''}}"
                                   data-footer="{{item.setting_config.footer ? 'true' : 'false'}}"
                                   data-padding="{{item.setting_config.padding || ''}}"
                                   data-border-top="{{item.setting_config.border_top}}"
                                   data-border-bottom="{{item.setting_config.border_bottom}}"
                                   data-height="{{item.setting_config.height}}"
                                   data-url="{:url('setting?package=')}{{item.package}}"><i class="fa fa-cog"></i> 设置</a>
                            </ba-if>

                            <ba-if value="item.can_uninstall">
                                <ba-if value="item.install_config.uninstall_operate.type !== `modal`">
                                    <a class="btn btn-danger btn-xs"
                                       data-toggle="busy-request"
                                       data-confirm="{{item.install_config.uninstall_operate.request_confirm || ('确认要卸载 <code>'+ item.package +'</code> 插件吗？<div class=text-danger>卸载后可能会影响系统正常使用，请谨慎操作！</div>')}}"
                                       data-confirm-ok="卸载"
                                       data-on-success="{{item.install_config.uninstall_operate.success || '@table.reload'}}"
                                       data-url="{:url('uninstall?package=')}{{item.package}}">卸载</a>
                                    <ba-else/>
                                    <a class="btn btn-danger btn-xs"
                                       data-toggle="busy-modal"
                                       data-ok="卸载"
                                       data-size="{{item.install_config.uninstall_operate.modal_size || ''}}"
                                       data-form-on-success="{{item.install_config.uninstall_operate.success || '@table.reload|@modal.close'}}"
                                       data-url="{:url('uninstall?package=')}{{item.package}}">卸载</a>
                                </ba-if>
                            </ba-if>
                        </script>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</block>