<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
<title data-title="{$system.page_title}">{$system.page_title}{$system.page_title_suffix}</title>
<notempty name="system.favicon">
    <link rel="shortcut icon" href="{$system.favicon}?v={$skin.version}" type="image/x-icon"/>
    <link rel="icon" sizes="any" mask href="{$system.favicon}?v={$skin.version}">
</notempty>
<link type="text/css" rel="stylesheet" href="{$skin.css}admin.css?v={$skin.version}"/>
<link type="text/css" rel="stylesheet" href="{$skin.theme}?v={$skin.version}" data-busy-id="theme-css"/>
<!--[if lt IE 9]>
<script type="text/javascript" src="{$skin.lib}bootstrap/js/respond.min.js?v={$skin.version}"></script>
<![endif]-->
<!--[if lt IE 10]>
<script type="text/javascript" src="{$skin.lib}history/history.min.js?v={$skin.version}"></script>
<![endif]-->
<script type="text/javascript" src="{$skin.lib}require/require.min.js?v={$skin.version}"></script>
<script type="text/javascript" src="{$skin.js}admin.js?v={$skin.version}"></script>
<script>busyAdmin.init(<?=$system['frame_config'];?>);</script>