<!DOCTYPE HTML>
<html lang="zh-CN" xml:lang="zh-CN">
<head>
    <include file="@admin:head"/>
</head>
<body>
<div data-busy-id="app">
    <div class="ba-frame" data-busy-id="frame">
        <div class="ba-header navbar navbar-default" data-busy-id="header">
            <div class="container-fluid">
                <div class="navbar-header" data-busy-id="header-left">
                <a class="navbar-brand" href="{$url.app}">
                    <notempty name="system.logo_horizontal">
                         <div class="navbar-brand-image" style="background-image: url('{$system.logo_horizontal}')"></div>
                    </notempty>
                    <div class="navbar-brand-title">{$system.title}</div>
                    <div class="navbar-brand-logo" style="background-image: url('{$system.logo_icon}')"></div>
                </a>
                </div>

                <div class="collapse navbar-collapse" data-busy-id="header-right">
                    <ul class="nav navbar-nav navbar-left" data-busy-id="bar-left">
                        <li>
                        <a href="javascript:void(0)" data-busy-id="bar-control">
                            <i class="bicon bicon-menu-close"></i>
                        </a>
                        </li>
                    </ul>
                    <div class="ba-menu" data-busy-id="menu"></div>
                    <ul class="nav navbar-nav navbar-right" data-busy-id="bar-right">
                        <li>
                        <a href="javascript:void(0)" data-busy-id="bar-refresh">
                            <i class="bicon bicon-refresh"></i>
                        </a>
                        </li>
                        <li>
                        <a href="javascript:void(0)" data-busy-id="bar-fullscreen">
                            <i class="bicon bicon-full-screen"></i>
                        </a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="bicon bicon-user"></i>
                                <span data-busy-id="bar-username"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" data-busy-id="bar-user-dropdowns"></ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="ba-left" data-busy-id="left">
            <div class="ba-nav" data-busy-id="nav"></div>
        </div>

        <div class="ba-content clearfix" data-busy-id="content">
            <div class="ba-content-head" data-busy-id="content-header">
                <include file="@admin:breadcrumb" />
            </div>
            <div class="ba-content-side" data-busy-id="content-side"><block name="side"></block></div>
            <div class="ba-content-side-close fa" data-busy-id="content-side-close"></div>
            <div class="ba-content-side-mask" data-busy-id="content-side-mask"></div>
            <div class="ba-content-body clearfix" data-busy-id="content-body">
                <block name="head"></block>
                <block name="content"></block>
                <block name="foot"></block>
            </div>
            <div class="ba-content-iframes" data-busy-id="content-iframes"></div>
            <div class="ba-content-mask" data-busy-id="content-mask"></div>
        </div>
    </div>
    <div class="ba-loader" data-busy-id="loader"><div></div></div>
</div>
</body>
</html>