<extend name="@admin:layout"/>
<block name="content">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="username" value="{$info.username|default=''}" placeholder="请输入用户名" required/>
                <span class="help-block">设置登录用户名，中文、英文、数字、下划线，不要有特殊字符，且不能和已有的用户名重复</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">手机号</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="phone" value="{$info.phone|default=''}" placeholder="请输入手机号" data-rule-phone="true"/>
                <span class="help-block">设置手机号，设置后可以通过手机号登录</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" name="email" value="{$info.email|default=''}" placeholder="请输入邮箱地址" data-rule-email="true"/>
                <span class="help-block">设置邮箱，设置后可以通过邮箱地址登录</span>
            </div>
        </div>
        <div class="form-group no-margin-bottom">
            <label class="col-sm-2 control-label">QQ号码</label>
            <div class="col-sm-9">
                <input type="tel" class="form-control" name="qq" value="{$info.qq|default=''}" placeholder="请输入QQ号" data-rule-number="true" minlength="5" maxlength="13"/>
            </div>
        </div>
    </div>
</block>