<notempty name="list">
    <ul class="pic-list">
        <foreach name="list" item="vo">
            <li>
                <div class="item">
                    <div class="image click-this" style="background-image: url('{$vo.url}');" data-size="{$vo.size}" data-file-url="{$vo.url}" data-name="{$vo.name}" data-mime-type="{$vo.mime_type}" data-extension="{$vo.extension}" data-filename="{$vo.filename}" data-file-id="{$vo.id}" class="click-this" title="选择这个">
                        <img src="{$skin.images}block.png?1"/>
                        <a href="{:url('delete?id=' . $vo['id'])}" data-get-confirm="确认要删除吗？" role-ajax="1" class="close" title="删除">&times;</a>
                        <a href="{$vo.url}" target="_blank" class="icon icon-external-link" title="查看图片"></a>
                        <input type="checkbox" role-checkbox="item" class="icheckbox" name="id[]" value="{$vo.id}"/>
                    </div>
                    <div class="source_name">{$vo.name}</div>
                </div>
            </li>
        </foreach>
    </ul>
    <div class="clearfix"></div>
    <else/>
    <div class="empty-info">暂无相关数据</div>
</notempty>