<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
<title data-title="{$system.page_title}">{$system.page_title}{$system.page_title_suffix}</title>
<notempty name="system.favicon">
    <link rel="shortcut icon" href="{$system.favicon}" type="image/x-icon"/>
    <link rel="icon" sizes="any" mask href="{$system.favicon}">
</notempty>
<css href="{$skin.css}admin.css?{:time()}"/>
<!--[if lt IE 9]>
<js href="{$skin.lib}bootstrap/js/respond.min.js"/>
<![endif]-->
<script type="text/javascript" src="{$skin.js}admin.js?{:time()}"></script>
<script>
    busyAdmin.init({
        root       : '{$url.app}',
        moduleRoot : '{$skin.lib}',
        version    : (new Date()).getTime(),
        app        : {
            cache             : false,
            cacheLength       : 50,
            scrollCacheLength : 50,
            errorImgUrl       : '/assets/data/images/no_image.jpeg',
            url               : '{$url.app}',
            navSingleHold     : false,
            pageTitleSuffix   : '{$system.page_title_suffix}',
        }
    });
</script>