<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
<css href="{$skin.lib}bootstrap/css/bootstrap.css"/>
<css href="{$skin.css}theme.css"/>
<script>
    window.ADMIN_URL = '{$url.root}';
    window.GLOBALS_URL = '{$url.base_root}';
    window.USER_ID = '{$system.user_id}';
    window.USER_NAME = '{$system.username}';
    window.USER_GROUP_NAME = '{$system.permission.name}';
    window.LOGIN_URL = '{$url.login}';
    window.SELF_URL = '{$url.self}';
    window.SKIN_URL = '{$skin.root}';
    window.SKIN_CSS = '{$skin.css}';
    window.SKIN_JS = '{$skin.js}';
    window.SKIN_LIB = '{$skin.lib}';
    window.URL_GROUP_VALUE = '{$Think.GROUP_NAME}';
    window.URL_MODULE_VALUE = '{$Think.MODULE_NAME}';
    window.URL_ACTION_VALUE = '{$Think.ACTION_NAME}';
    window.URL_PAGE_KEY = '{$Think.config.route.var_page}';
    window.URL_PATTERN_KEY = '<?=\BusyPHP\app\admin\model\system\menu\SystemMenu::PATTERN?>';
    window.URL_PATTERN_VALUE = '{$system.url_pattern}';
</script>
<!--[if lt IE 9]>
<js href="{$skin.lib}bootstrap/js/respond.min.js"/>
<![endif]-->
<js href="{$skin.js}jquery.min.js"/>
<js href="{$skin.lib}bootstrap/js/bootstrap.min.js"/>
<js href="{$skin.lib}dialog/jquery.artDialog.js"/>