<!DOCTYPE HTML>
<html>
<head>
    <title>{$page_title} - 后台管理系统</title>
    <script>
        if (window.self != window.top) {
            window.top.location.href = document.URL;
            document.write('');
        }
    </script>
    <include file="@admin:head"/>
    <!--busy-admin-hide-page-title--{$panel_title}/-->
    <!--busy-admin-page-head-->
    <block name="head"></block><!--/busy-admin-page-head-->
</head>
<body id="{$url.group}{$url.controller}{$url.action}">

<!--[if lt IE 9]>
<div class="alert alert-danger" style="position: absolute; z-index:999; width:100%; height: 60px;">您正在使用
    <strong>过时的</strong>
    浏览器. 是时候
    <a class="btn btn-success" target="_blank" href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.
</div>
<![endif]-->

<div id="wrap">
    <div class="busy-admin-header" data-busy-id="header">
        <div class="busy-admin-header-top">

            <div class="busy-admin-header-logo">
                <img src="{$skin.images}logo_white.png"/>
                <div>
                    <h1>{$system.public_config.title}后台管理</h1>
                    <p>{$_SERVER.HTTP_HOST}</p>
                </div>
            </div>

            <div class="busy-admin-header-bar clearfix">
                <a class="busy-admin-header-bar-item" href="{:url('System.User/personal_info')}">
                    <i class="icon icon-user"></i>
                    <span>用户：</span>
                    {$system.username}
                </a>

                <eq name="system.message_notice_status" value="1">
                    <a class="busy-admin-header-bar-item busy-admin-header-bar-item-message" data-toggle="busy-admin-bar-notice" data-busy-id="bar-notice" href="javascript:void(0);">
                        <i class="icon icon-envelope"></i>
                        <span class="badge badge-danger badge-pill hide">0</span>
                    </a>
                </eq>

                <eq name="system.message_agency_status" value="1">
                    <a class="busy-admin-header-bar-item busy-admin-header-bar-item-message" data-toggle="busy-admin-bar-agency" data-busy-id="bar-agency" href="javascript:void(0);">
                        <i class="icon icon-tasks"></i>
                        <span class="badge badge-danger badge-pill hide">0</span>
                    </a>
                </eq>

                <div class="busy-admin-header-bar-item">
                    <i class="icon icon-home"></i>
                    <a href="{$url.root}">后台首页</a>
                    &nbsp;·&nbsp;
                    <a href="{$url.base_root}" target="_blank">网站首页</a>
                </div>

                <a class="busy-admin-header-bar-item" href="{:url('admin_out')}" data-busy-request="确认要退出登录吗？">
                    <i class="icon icon-off"></i>
                    退出登录
                </a>
            </div>
        </div>

        <div class="busy-admin-mobile-bar">
            <neq name="system.url_path" value="Common.Index/index">
                <a class="busy-admin-mobile-bar-left" href="javascript:history.go(-1);">
                    <i class="icon icon-angle-left"></i>
                </a>
            </neq>
            <div class="busy-admin-mobile-bar-right">
                <eq name="system.message_notice_status" value="1">
                    <a data-toggle="busy-admin-bar-notice" data-busy-id="bar-notice" class="busy-admin-mobile-bar-notice">
                        <i class="icon icon-envelope"></i>
                        <span class="badge badge-danger badge-pill hide">0</span>
                    </a>
                </eq>
                <eq name="system.message_agency_status" value="1">
                    <a data-toggle="busy-admin-bar-agency" data-busy-id="bar-agency" class="busy-admin-mobile-bar-agency">
                        <i class="icon icon-tasks"></i>
                        <span class="badge badge-danger badge-pill hide">0</span>
                    </a>
                </eq>
                <a data-busy-id="bar-mobile" class="busy-admin-mobile-bar-menu">
                    <i class="icon icon-list-ul"></i>
                </a>
            </div>

            <div class="busy-admin-mobile-bar-title">
                <notempty name="panel_title">
                    {$panel_title}
                    <else/>
                    {$system.public_config.title}
                </notempty>
            </div>
        </div>

        <div class="busy-admin-menu" data-busy-id="menu"></div>
        <div class="busy-admin-menu-line"></div>
    </div>

    <div class="busy-admin-left" data-busy-id="left">
        <div class="busy-admin-user-info text-center">
            <a class="busy-admin-user-info-avatar" href="{$url.root}">
                <img class="img-circle img-thumbnail" src="{$skin.images}logo.png"/>
            </a>
            <h5>
                <i class="icon icon-user"></i>
                {$system.username}
            </h5>
            <div class="busy-admin-user-info-toolbar">
                <a class="btn btn-default btn-xs" href="{:url('System.User/personal_info')}">
                    <i class="icon icon-cog"></i>
                    资料
                </a>
                <a class="btn btn-default btn-xs" href="{:url('System.User/personal_password')}">
                    <i class="icon icon-lock"></i>
                    密码
                </a>
                <a class="btn btn-default btn-xs" href="{:url('admin_out')}" data-get-confirm="确认要退出登录吗？" role-loading="请稍候..." role-ajax="1">
                    <i class="icon icon-sign-out"></i>
                    退出
                </a>
            </div>
        </div>

        <div class="busy-admin-nav" data-busy-id="nav"></div>

        <div class="busy-admin-nav-extend">
            <!--busy-admin-page-extend-nav-->
            <block name="nav"></block>
            <!--/busy-admin-page-extend-nav-->
        </div>
    </div>

    <div class="busy-admin-content clearfix" data-busy-id="content">
        <div class="busy-admin-content-bar clearfix" data-busy-id="content-header">
            <!--busy-admin-page-breadcrumb-->
            <ol class="breadcrumb clearfix">
                <li class="title">
                    <i class="icon icon-home"></i>
                    <span>当前位置</span>
                </li>
                <li><a href="{$url.root}">首页</a></li>
                <foreach name="system.breadcrumb" item="foreachUrl" key="foreachName">
                    <li>
                        <eq name="foreachUrl" value="">
                            <span>{$foreachName}</span>
                            <else/>
                            <a href="{$foreachUrl}">{$foreachName}</a>
                        </eq>
                    </li>
                </foreach>
            </ol>
            <!--/busy-admin-page-breadcrumb-->
        </div>

        <div class="busy-admin-content-box busy-admin-content-pending clearfix" data-busy-id="content-body">
            <!--busy-admin-page-content-->
            <block name="content"></block>
            <!--/busy-admin-page-content-->
        </div>

        <div class="busy-admin-content-bg" data-busy-id="content-bg"></div>
    </div>
</div>
<include file="@admin:foot"/>
<!--busy-admin-page-foot-->
<block name="foot"></block><!--/busy-admin-page-foot-->
</body>
</html>