<!DOCTYPE HTML>
<html>
<head>
    <title>{$page_title} - 后台管理系统</title>
    <script>
        if (window.self != window.top) {
            window.top.location.href = document.URL;
            document.write('');
        }
    </script>
    <include file="@admin:head"/>
    <block name="head"></block>
</head>
<body id="{$Think.GROUP_NAME}{$Think.MODULE_NAME}{$Think.ACTION_NAME}">

<!--[if lt IE 9]>
<div class="alert alert-danger" style="position: absolute; z-index:999; width:100%; height: 60px;">您正在使用
    <strong>过时的</strong>
    浏览器. 是时候
    <a class="btn btn-success" target="_blank" href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.
</div>
<![endif]-->

<div id="wrap">
    <div id="header">
        <div id="topBar">
            <div class="logo pull-left">
                <img src="{$skin.images}logo_white.png"/>
                <div>
                    <h1>{$system.public_config.title}后台管理</h1>
                    <p>{$_SERVER.HTTP_HOST}</p>
                </div>
            </div>
            <a href="javascript:void(0)" class="m-right-menu">
                <i class="icon icon-list"></i>
            </a>
            <div class="bar pull-right">
                <a class="item" href="{:url('System.User/personal_info')}">
                    <i class="icon icon-user"></i>
                    <span>用户：</span>
                    {$system.username}
                </a>
                <eq name="system.message_notice_status" value="1">
                    <a class="item message" data-toggle="busy-admin-bar-notice" href="javascript:void(0);">
                        <i class="icon icon-envelope"></i>
                        <span class="badge hide">0</span>
                    </a>
                </eq>
                <eq name="system.message_agency_status" value="1">
                    <a class="item message" data-toggle="busy-admin-bar-agency" href="javascript:void(0);">
                        <i class="icon icon-tasks"></i>
                        <span class="badge hide">0</span>
                    </a>
                </eq>
                <div class="item">
                    <i class="icon icon-home"></i>
                    <a href="{$url.root}">后台首页</a>
                    &nbsp;·&nbsp;
                    <a href="{$url.base_root}" target="_blank">网站首页</a>
                </div>
                <a class="item" href="{:url('admin_out')}" data-get-confirm="确认要退出登录吗？" role-loading="请稍候..." role-ajax="1">
                    <i class="icon icon-off"></i>
                    退出登录
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="busy-admin-mobile-bar">
            <neq name="system.url_path" value="Common.Index/index">
                <a class="busy-admin-mobile-bar-left" href="javascript:history.go(-1);">
                    <i class="icon icon-angle-left"></i>
                </a>
            </neq>
            <div class="busy-admin-mobile-bar-right">
                <eq name="system.message_notice_status" value="1">
                    <a data-toggle="busy-admin-bar-notice" class="busy-admin-mobile-bar-notice">
                        <i class="icon icon-envelope"></i>
                        <span class="badge hide">0</span>
                    </a>
                </eq>
                <eq name="system.message_agency_status" value="1">
                    <a data-toggle="busy-admin-bar-agency"  class="busy-admin-mobile-bar-agency">
                        <i class="icon icon-tasks"></i>
                        <span class="badge hide">0</span>
                    </a>
                </eq>
                <a data-toggle="busy-admin-mobile-bar" class="busy-admin-mobile-bar-menu">
                    <i class="icon icon-list-ul"></i>
                </a>
            </div>
            
            <div class="busy-admin-mobile-bar-title">
                <notempty name="panel_title">
                    {$panel_title}
                    <else/>
                    {$system.public_config.title}
                </notempty>
            </div>
        </div>

        <div id="menu">
            <ul class="nav nav-tabs pull-left">
                <foreach name="system.menu" item="vo">
                    <li<?=$vo['path'] == $system['menu_active'] ? ' class="active"' : '';?>>
                        <a href="javascript:void(0)" data-target="layoutNav{$vo.id}">
                            <i class="icon icon-{$vo.icon}"></i>
                            {$vo.name}
                        </a>
                    </li>
                </foreach>
            </ul>
        </div>
        <div id="bgLine"></div>
    </div>

    <div id="leftBox">
        <div class="layout-user-info text-center">
            <a class="layout-user-avatar" href="{$url.root}">
                <img class="img-circle img-thumbnail" src="{$skin.images}logo.png"/>
            </a>
            <h5>
                <i class="icon icon-user"></i>
                {$system.username}
            </h5>
            <div class="layout-user-toolbar">
                <a class="btn btn-default btn-xs" href="{:url('System.User/personal_info')}">
                    <i class="icon icon-cog"></i>
                    资料
                </a>
                <a class="btn btn-default btn-xs" href="{:url('System.User/personal_password')}">
                    <i class="icon icon-lock"></i>
                    密码
                </a>
                <a class="btn btn-default btn-xs" href="{:url('admin_out')}" data-get-confirm="确认要退出登录吗？" role-loading="请稍候..." role-ajax="1">
                    <i class="icon icon-sign-out"></i>
                    退出
                </a>
            </div>
        </div>
        <div id="nav">
            <foreach name="system.nav" item="vo">
                <h3 class="menu-father-title" id="layoutNav{$vo.id}">{$vo.name}</h3>
                <ul class="nav menu-father-box <?=$vo['path'] == $system['menu_active'] ? '' : 'hide';?>">
                    <foreach name="vo.child" item="vo2">
                        <li id="menu_item_{$vo2.id}" class="menu-father-item <?=$vo2['path'] == $system['nav_active'] ? 'active' : ''?>" data-id="{$vo2.id}">
                            <a href="{$vo2.url|default='javascript:void(0);'}" class="menu-father-a">
                                <em class="icon icon-chevron-right pull-right <?=$vo2['is_has_action'] ? 'icon-rotate-90' : ''?>"></em>
                                <i class="pull-left icon icon-{$vo2.icon}"></i>
                                {$vo2.name}
                            </a>
                            <notempty name="vo2.child">
                                <ul class="menu-children-box" data-show="1">
                                    <foreach name="vo2.child" item="vo3">
                                        <li class="menu-children-item <?=$vo3['path'] == $system['nav_active'] ? 'active' : ''?>">
                                            <a class="menu-children-a" href="{$vo3.url|default='javascript:void(0);'}">
                                                <i class="pull-left icon icon-{$vo3.icon}"></i>
                                                <span>{$vo3.name}</span>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                    </foreach>
                                </ul>
                            </notempty>
                        </li>
                    </foreach>
                </ul>
            </foreach>
        </div>
        <div class="nav-extend">
            <block name="nav"></block>
        </div>
    </div>

    <div id="contentBox">
        <div id="currentBar">
            <ol class="breadcrumb">
                <li class="title">
                    <i class="icon icon-home"></i>
                    <span>当前位置</span>
                </li>
                <li><a href="{$url.root}">首页</a></li>
                <foreach name="system.breadcrumb" item="foreachUrl" key="foreachName">
                    <li>
                        <eq name="foreachUrl" value="">
                            <span>{$foreachName}</span>
                            <else/>
                            <a href="{$foreachUrl}">{$foreachName}</a>
                        </eq>
                    </li>
                </foreach>
            </ol>
            <div class="clearfix"></div>
        </div>
        <div id="content">
            <div class="content-padding">
                <block name="content"></block>
            </div>
        </div>
        <div id="layoutBg"></div>
    </div>

    <script type="text/html" id="busyAdminNoticePanelTemplate">
        <div class="busy-admin-right-panel" id="busyAdminNoticeVueApp">
            <div class="busy-admin-right-panel-head">通知</div>
            <div class="busy-admin-right-panel-body" v-on:scroll="onScroll">
                <template v-if="list.length > 0">
                    <a class="media" v-for="(item, index) in list" v-bind:class="item.is_read ? 'read' : ''" :data-index="index" v-on:click="onItemClick(index)" :href="item.url.length > 0 ? item.url : 'javascript:void(0)'" :target="item.url.length > 0 ? '_blank' : ''">
                        <div class="media-left" v-if="item.icon.value.length > 0">
                            <i class="media-object icon" :class="item.icon.value" :style="{backgroundColor: item.icon.color}" v-if="item.icon.is_class"></i>
                            <img class="media-object" :src="item.icon.value" v-else>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span v-if="!item.is_read"></span>
                                {{item.title}}
                            </h5>
                            <p class="text-muted size-12" v-if="item.desc.length > 0">{{item.desc}}</p>
                            <p class="text-gray size-12">{{item.create_time}}</p>
                        </div>
                    </a>

                    <div class="media text-muted text-center size-12" v-if="showLast">没有消息了</div>
                </template>
                <template v-else>
                    <div class="empty-info" v-if="load">
                        <i class="icon icon-spinner icon-spin size-30"></i><br/><br/>加载中...
                    </div>
                    <div class="empty-info" v-else>暂无通知</div>
                </template>
            </div>
            <div class="busy-admin-right-panel-foot">
                <div class="btn-group">
                    <a class="btn btn-warning" v-on:click="onAllRead"><i class="icon icon-trash"></i> 全部已读</a>
                    <a class="btn btn-danger" v-on:click="onClear"><i class="icon icon-trash"></i> 清空</a>
                    <a class="btn btn-default" v-on:click="onClose"><i class="icon icon-close"></i> 关闭</a>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="busyAdminAgencyPanelTemplate">
        <div class="busy-admin-right-panel" id="busyAdminAgencyVueApp">
            <div class="busy-admin-right-panel-head">待办</div>
            <div class="busy-admin-right-panel-body">
                <template v-if="list.length > 0">
                    <a class="media" v-for="(vo, index) in list" :href="vo.url.length > 0 ? vo.url : ''" :data-index="index" v-on:click="onItemClick(index)" :target="vo.url.length > 0 ? '_blank' : ''">
                        <div class="media-body">
                            <h5 class="media-heading">{{vo.title}}</h5>
                            <p class="text-muted size-12" v-if="vo.desc.length > 0">{{vo.desc}}</p>
                        </div>
                    </a>
                </template>
                <template v-else>
                    <div class="empty-info" v-if="load">
                        <i class="icon icon-spinner icon-spin size-30"></i><br/><br/>加载中...
                    </div>
                    <div class="empty-info" v-else>暂无待办</div>
                </template>
            </div>
            <div class="busy-admin-right-panel-foot">
                <a class="btn btn-default btn-block" v-on:click="onClose"><i class="icon icon-close"></i> 关闭</a>
            </div>
        </div>
    </script>
</div>
<include file="@admin:foot"/>
<!--[admin:plugin]-->
<block name="foot"></block>
</body>
</html>