<extend name="@admin:page"/>
<block name="head">
    <style>
        body, html { overflow: hidden}
    </style>
</block>
<block name="content">
    <div class="login">
        <div class="login-bg" style="background-image: url({$bg})"></div>
        <div class="login-body">
            <div class="login-box">
                <notempty name="system.logo_horizontal">
                    <div class="logo"><img src="{$system.logo_horizontal}"/></div>
                </notempty>

                <h1 class="text-center">{$system.title}</h1>

                <div class="login-form">
                    <h2>用户登录<small>User Login</small></h2>
                    <form action="__SELF__" method="post" data-toggle="busy-form" data-on-success="@route.redirect" data-on-error="onLoginError">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <div><i class="icon icon-user"></i></div>
                                </div>
                                <input type="text" class="form-control" placeholder="请输入帐号" required name="username">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <div><i class="icon icon-lock"></i></div>
                                </div>
                                <input type="password" class="form-control" placeholder="请输入密码" required name="password">
                            </div>
                        </div>
                        <eq name="is_verify" value="1">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" maxlength="4" required class="form-control" placeholder="请输入验证码" name="verify">
                                    <div class="input-group-image">
                                        <img data-toggle="busy-change-verify" src="{$verify_url}"/>
                                    </div>
                                </div>
                            </div>
                        </eq>

                        <eq name="save_login" value="1">
                            <div class="form-group">
                                <input type="checkbox" data-toggle="busy-checkbox" name="save_login" value="1" title="记住登录"/>
                            </div>
                        </eq>

                        <div class="form-group no-margin-bottom">
                            <button class="btn btn-primary btn-block">立即登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="login-footer">
            {$copyright}

            <span>
                <notempty name="icp_no">
                    <span>
                        <a target="_blank" href="https://beian.miit.gov.cn/">{$icp_no}</a>
                    </span>
                </notempty>
            
                <notempty name="police_no">
                    <span>
                        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={$police_no}"><img src="{$skin.images}beian.png"/>{$police_no}</a>
                    </span>
                </notempty>
            </span>
        </div>
    </div>

    <script>
        busyAdmin.data.onLoginError = function () {
            $('[data-toggle="busy-change-verify"]').trigger('click');
        };
    </script>
</block>