<extend name="@admin:layout"/>
<block name="content">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label required">当前密码</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" name="old_password" placeholder="请输入登录密码" required minlength="6" maxlength="20"/>
                <span class="help-block">验证通过后才能修改新密码</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">新密码</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" name="password" id="editMyPassword" required minlength="6" maxlength="20" placeholder="请输入新密码"/>
                <span class="help-block">设置新的登录密码，至少<code>6</code>位，最多<code>20</code>位</span>
            </div>
        </div>
        <div class="form-group no-margin-bottom">
            <label class="col-sm-2 control-label required">确认密码</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" name="confirm_password" required data-rule-equalTo="#editMyPassword" placeholder="请再次输入新密码"/>
                <span class="help-block">再次输入新密码，以确认密码的准确性</span>
            </div>
        </div>
    </div>
</block>